@inherits BluentUiComponentBase
@namespace Bluent.UI.Components

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    @if (ActivePanel is not null)
    {
        @ActivePanel.ChildContent
    }
</div>