.bui-action-card {
    --bui-card-border-radius: var(--borderRadiusMedium);
    --bui-action-card-size: 20px;
    box-shadow: var(--shadow4);
    border-radius: var(--bui-card-border-radius);
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    font-family: var(--fontFamilyBase);
    text-decoration: none;

    > .header {
        display: flex;
        gap: var(--bui-action-card-size);
        align-items: center;
        padding: var(--bui-action-card-size);
        border-radius: var(--bui-card-border-radius);
        cursor: pointer;

        > .icon {
            font-size: 24px;
            height: 24px;
            width: 24px;
        }

        .expand-icon {
            transition-property: transform;
            transition-duration: var(--durationSlower);
            transition-timing-function: var(--curveDecelerateMid);
        }

        > .titles {
            flex: 1;
            display: flex;
            flex-direction: column;
            /*user-select: none;*/

            > .title {
                color: var(--colorNeutralForeground1);
                font-weight: var(--fontWeightSemibold);
                font-size: var(--fontSizeBase300);
                line-height: var(--lineHeightBase300);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            > .description {
                color: var(--colorNeutralForeground3);
                font-weight: var(--fontWeightSemibold);
                font-size: var(--fontSizeBase200);
                line-height: var(--lineHeightBase200);
            }
        }
    }

    > .panel {
        display: none;
    }

    &:after {
        border: var(--strokeWidthThin) solid var(--colorTransparentStroke);
        border-radius: var(--bui-card-border-radius);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        pointer-events: none;
    }

    &.active {
        > .header {
            &:hover {
                background-color: var(--colorNeutralBackground1Hover);

                &:active {
                    background-color: var(--colorNeutralBackground1Pressed);
                }
            }
        }
    }

    &.expanded {
        box-shadow: var(--shadow8);

        > .header {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            > .expand-icon {
                transform: rotate(-180deg);
            }
        }

        > .panel {
            border-top: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
            display: block;
        }
    }
}

.rtl, [dir="rtl"] {
    .bui-action-card {
        > .header {
            > .nav-icon {
                transform: rotate(180deg);
            }
        }

        &.expanded {
            > .header {
                > .expand-icon {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
