.bui-button {
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    gap: var(--spacingHorizontalSNudge);
    justify-content: center;
    text-decoration-line: none;
    vertical-align: middle;
    margin: 0px;
    overflow: hidden;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    font-family: var(--fontFamilyBase);
    outline-style: none;
    padding: 5px var(--spacingHorizontalM);
    min-width: 96px;
    border-radius: var(--borderRadiusMedium);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightBase300);
    transition-duration: var(--durationFaster);
    transition-property: background, border, color;
    transition-timing-function: var(--curveEasyEase);
    cursor: pointer;

    > .icon, > .active-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
    }

    > .active-icon {
        display: none;
    }

    &.icon {
        max-width: 32px;
        min-width: 32px;
        padding: 5px;
    }

    &.compound {
        height: auto;
        padding-top: 14px;
        padding-bottom: var(--spacingHorizontalL);

        > .text {
            flex-direction: column;
            display: flex;
            text-align: start;

            > .secondary-text {
                color: var(--colorNeutralForeground2);
                line-height: 100%;
                font-size: var(--fontSizeBase200);
                font-weight: var(--fontWeightRegular);
            }
        }
    }

    &.toggled {
        background-color: var(--colorNeutralBackground1Selected);
        color: var(--colorNeutralForeground1Selected);
        border-color: var(--colorNeutralStroke1);

        > .active-icon {
            display: inline;

            & + .icon {
                display: none;
            }
        }
    }

    &:hover {
        background-color: var(--colorNeutralBackground1Hover);
        border-color: var(--colorNeutralStroke1Hover);
        color: var(--colorNeutralForeground1Hover);

        > .active-icon {
            display: inline;

            & + .icon {
                display: none;
            }
        }

        &:active {
            background-color: var(--colorNeutralBackground1Pressed);
            border-color: var(--colorNeutralStroke1Pressed);
            color: var(--colorNeutralForeground1Pressed);
            outline-style: none;
        }
    }

    &:focus {
        border-color: var(--colorStrokeFocus2);
        border-radius: var(--borderRadiusMedium);
        border-width: 1px;
        outline: var(--strokeWidthThick) solid var(--colorTransparentStroke);
        box-shadow: 0 0 0 var(--strokeWidthThin) var(--colorStrokeFocus2) inset;
        z-index: 1;
    }

    &.circular {
        border-radius: var(--borderRadiusCircular);
    }

    &.square {
        border-radius: var(--borderRadiusNone);
    }

    &.primary {
        background-color: var(--colorBrandBackground);
        color: var(--colorNeutralForegroundOnBrand);
        border-color: transparent;

        &.toggled {
            background-color: var(--colorBrandBackgroundSelected);
            color: var(--colorNeutralForegroundOnBrand);
            border-color: transparent;
        }

        &:hover {
            background-color: var(--colorBrandBackgroundHover);

            &:active {
                background-color: var(--colorBrandBackgroundPressed);
                color: var(--colorNeutralForegroundOnBrand);
            }
        }

        &:focus {
            box-shadow: var(--shadow2), 0 0 0 var(--strokeWidthThin) var(--colorStrokeFocus2) inset, 0 0 0 var(--strokeWidthThick) var(--colorNeutralForegroundOnBrand) inset;
        }
    }

    &.outline {
        background-color: var(--colorTransparentBackground);

        &.toggled {
            background-color: var(--colorTransparentBackgroundSelected);
            color: var(--colorNeutralForeground1Selected);
            border-color: var(--colorNeutralStroke1);
            border-width: var(--strokeWidthThicker);
        }

        &:hover {
            background-color: var(--colorTransparentBackgroundHover);
            border-color: var(--colorNeutralStroke1Hover);
            color: var(--colorNeutralForeground1Hover);

            &:active {
                background-color: var(--colorTransparentBackgroundPressed);
                border-color: var(--colorNeutralStroke1Pressed);
                color: var(--colorNeutralForeground1Pressed);
                outline-style: none;
            }
        }
    }

    &.subtle {
        color: var(--colorNeutralForeground2);
        background-color: var(--colorSubtleBackground);
        border-color: transparent;

        &.toggled {
            color: var(--colorNeutralForeground2Selected);
            background-color: var(--colorSubtleBackgroundSelected);
        }

        &:hover {
            color: var(--colorNeutralForeground2Hover);
            background-color: var(--colorSubtleBackgroundHover);
            border-color: transparent;

            > .icon, > .active-icon {
                color: var(--colorNeutralForeground2BrandHover);
            }

            &:active {
                color: var(--colorNeutralForeground2Pressed);
                background-color: var(--colorSubtleBackgroundPressed);
                border-color: transparent;

                > .icon {
                    color: var(--colorNeutralForeground2BrandPressed);
                }
            }
        }
    }

    &.transparent {
        color: var(--colorNeutralForeground2);
        background-color: var(--colorTransparentBackground);
        border-color: transparent;

        &.toggled {
            color: var(--colorNeutralForeground2BrandSelected);
            background-color: var(--colorTransparentBackgroundSelected);
        }

        &:hover {
            color: var(--colorNeutralForeground2BrandHover);
            background-color: var(--colorTransparentBackgroundHover);

            &:active {
                color: var(--colorNeutralForeground2BrandPressed);
                background-color: var(--colorTransparentBackgroundPressed);
            }
        }
    }

    &[disabled] {
        color: var(--colorNeutralForegroundDisabled);
        border-color: var(--colorNeutralStrokeDisabled);
        background-color: var(--colorNeutralBackgroundDisabled);
        cursor: not-allowed;

        &:hover {
            color: var(--colorNeutralForegroundDisabled);
            border-color: var(--colorNeutralStrokeDisabled);
            background-color: var(--colorNeutralBackgroundDisabled);

            > .active-icon {
                display: none;

                + .icon {
                    display: inline;
                }
            }

            &:active {
                color: var(--colorNeutralForegroundDisabled);
                border-color: var(--colorNeutralStrokeDisabled);
                background-color: var(--colorNeutralBackgroundDisabled);
            }
        }
    }

    &.small {
        font-size: var(--fontSizeBase200);
        padding: 3px var(--spacingHorizontalS);
        min-width: 64px;
        line-height: var(--lineHeightBase200);
        font-weight: var(--fontWeightRegular);

        &.icon {
            max-width: 24px;
            min-width: 24px;
            padding: 3px;
        }

        > .icon, > .active-icon {
            font-size: 16px;
            height: 16px;
            width: 16px;
        }
    }

    &.large {
        font-weight: var(--fontWeightSemibold);
        font-size: var(--fontSizeBase400);
        padding: 8px var(--spacingHorizontalL);
        min-width: 96px;
        line-height: var(--lineHeightBase400);

        &.icon {
            max-width: 40px;
            min-width: 40px;
            padding: 8px;
        }

        > .icon, > .active-icon {
            font-size: 22px;
            height: 22px;
            width: 22px;
        }
    }
}
