.bui-dock-container {
  > .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--colorNeutralBackground2);
    border-bottom: 1px solid var(--colorNeutralStroke1);
    padding: 0.2rem;
    gap: 0.2rem;
    font-size: smaller;

    > .title {
      flex: 1;
    }
  }
}