.bui-dock-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  animation-duration: var(--durationGentle);
  animation-timing-function: var(--curveEasyEase);
  animation-fill-mode: both;
  
  > .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--colorNeutralBackground2);
    border-bottom: 1px solid var(--colorNeutralStroke1);
    padding: 0.2rem;
    gap: 0.2rem;
    font-size: smaller;

    > .title {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  > .content {
    flex: 1;
    overflow: auto;
  }
  
  &.floating{
    position: absolute;
    z-index: var(--zIndexFloatingContainer);
    &.right-aligned {
      top: 0;
      bottom: 0;
      right: 0;
      animation-name: fade-in, slide-in-right;
    }
    &.left-aligned {
      top: 0;
      bottom: 0;
      left: 0;
    }
    &.top-aligned {
      left: 0;
      right: 0;
      top: 0;
    }
    &.bottom-aligned {
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.bui-dock-bar {
  display: flex;
  align-items: center;

  &.vertical {
    flex-direction: column;
  }
}