.bui-drawer {
    position: fixed;
    width: 320px;
    background-color: var(--colorNeutralBackground1);
    color: var(--colorNeutralForeground1);
    border-inline-start: var(--strokeWidthThin) solid var(--colorTransparentStroke);
    box-shadow: var(--shadow64);
    overflow: auto;
    display: flex;
    flex-direction: column;
    animation-duration: var(--durationGentle);
    animation-timing-function: var(--curveEasyEase);
    animation-fill-mode: both;

    &.end {
        right: 0;
        top: 0;
        height: 100vh;
        animation-name: fade-in, slide-in-right;

        &.hide {
            animation-name: fade-out, slide-out-right;
        }
    }

    &.start {
        left: 0;
        top: 0;
        height: 100vh;
        animation-name: fade-in, slide-in-left;

        &.hide {
            animation-name: fade-out, slide-out-left;
        }
    }

    &.top {
        left: 0;
        top: 0;
        width: 100vw;
        animation-name: fade-in, slide-in-top;

        &.hide {
            animation-name: fade-out, slide-out-top;
        }
    }

    &.bottom {
        left: 0;
        bottom: 0;
        width: 100vw;
        animation-name: fade-in, slide-in-bottom;

        &.hide {
            animation-name: fade-out, slide-out-bottom;
        }
    }

    > .header {
        padding: var(--spacingVerticalXXL) var(--spacingHorizontalXXL) var(--spacingVerticalS) var(--spacingHorizontalXXL);
        display: flex;
        flex-direction: row;
        gap: var(--spacingHorizontalS);
        align-items: center;
        box-sizing: border-box;

        > .title {
            flex: 1;
            font-family: var(--fontFamilyBase);
            font-size: var(--fontSizeBase500);
            font-weight: var(--fontWeightSemibold);
            line-height: var(--lineHeightBase500);
        }
    }
}

.rtl, [dir=rtl] {
    .bui-drawer {
        &.end {
            left: 0;
            right: unset;
            animation-name: fade-in, slide-in-left;

            &.hide {
                animation-name: fade-out, slide-out-left;
            }
        }

        &.start {
            left: unset;
            right: 0;
            animation-name: fade-in, slide-in-right;

            &.hide {
                animation-name: fade-out, slide-out-right;
            }
        }
    }
}