.bui-menu-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: var(--colorNeutralBackground1);
    width: max-content;
    min-width: 128px;
    max-width: 300px;

    > .menu-item {
        border-radius: var(--borderRadiusMedium);
        position: relative;
        color: var(--colorNeutralForeground2);
        background-color: var(--colorNeutralBackground1);
        padding: var(--spacingVerticalSNudge);
        box-sizing: border-box;
        max-width: 290px;
        min-height: 32px;
        flex-shrink: 0;
        display: flex;
        align-items: start;
        font-size: var(--fontSizeBase300);
        cursor: pointer;
        gap: 4px;
        user-select: none;
        text-decoration: none;

        > .checked {
            margin-top: 2px;
            width: 16px;
            height: 16px;
            flex-shrink: 0;
        }

        > .icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 0;
            align-items: center;
            display: inline-flex;
            justify-content: center;
        }

        > .active-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 0;
            align-items: center;
            justify-content: center;
            display: none;
        }

        > .title {
            padding-left: 2px;
            padding-right: 2px;
            background-color: transparent;
            flex: 1;
        }

        > .sub-menu-icon {
            width: 20px;
            height: 20px;
            font-size: 20px;
            line-height: 0;
            align-items: center;
            display: inline-flex;
            justify-content: center;
        }

        &:hover {
            background-color: var(--colorNeutralBackground1Hover);
            color: var(--colorNeutralForeground2Hover);

            > .icon, .active-icon {
                color: var(--colorNeutralForeground2BrandSelected);
            }

            > .active-icon {
                display: inline-flex;

                & + .icon {
                    display: none;
                }
            }

            &:active {
                background-color: var(--colorNeutralBackground1Pressed);
                color: var(--colorNeutralForeground2Pressed);
            }
        }
    }

    > .menu-divider {
        width: auto;
        margin: 4px 0;
        border-bottom-color: var(--colorNeutralStroke2);
        border-bottom-width: var(--strokeWidthThin);
        border-bottom-style: solid;
    }
}
