.bui-overflow {
    display: flex;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    > * {
        flex-shrink: 0;
    }

    &.vertical {
        flex-direction: column;
    }

    &.horizontal {
        flex-direction: row;
    }

    > .overflowing {
        display: none !important;
    }

    > .overflow-button {
        display: none;
    }

    &:has(.overflowing) {
        > .overflow-button {
            display: inline-flex;
        }
    }
}

.bui-menu-list {
    &.overflow-menu {
        > :not(.overflowing) {
            display: none;
        }
    }
}
