.bui-split-panel {
  --resizer-size: 0.5rem;
  display: grid;
  gap: var(--resizer-size);
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: auto auto 1fr auto auto;

  > .split-panel {
    //user-select: none;
    //overflow: hidden;
    position: relative;
    
    &.header-panel {
      grid-row: 1;
      grid-column: 1 / span 5;
    }
    
    &.top-panel {
      grid-row: 2;
      grid-column: 3;
    }

    &.bottom-panel {
      grid-row: 4;
      grid-column: 3;
    }

    &.footer-panel {
      grid-row: 5;
      grid-column: 1 / span 5;
    }

    &.startside-panel {
      grid-row: 2 / span 3;
      grid-column: 1;
    }

    &.start-panel {
      grid-row: 2 / span 3;
      grid-column: 2;
    }
    
    &.center-panel {
      grid-row: 3;
      grid-column: 3;
    }

    &.end-panel {
      grid-row: 2 / span 3;
      grid-column: 4;
    }

    &.endside-panel {
      grid-row: 2 / span 3;
      grid-column: 5;
    }

    > .panel-resizer {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: var(--resizer-size);
      border-radius: 10px !important;
      position: absolute;
      z-index: var(--zIndexSplitPanelResizer);

      &:hover {
        background-color: var(--colorNeutralBackground2);
      }

      &.header-resizer {
        top: 100%;
        left: 0;
        right: 0;
        height: var(--resizer-size);
        cursor: ns-resize;
      }

      &.top-resizer {
        top: 100%;
        left: 0;
        right: 0;
        height: var(--resizer-size);
        cursor: ns-resize;
      }

      &.bottom-resizer {
        bottom: 100%;
        left: 0;
        right: 0;
        height: var(--resizer-size);
        cursor: ns-resize;
      }

      &.footer-resizer {
        bottom: 100%;
        left: 0;
        right: 0;
        height: var(--resizer-size);
        cursor: ns-resize;
      }

      &.startside-resizer {
        left: 100%;
        top: 0;
        bottom: 0;
        width: var(--resizer-size);
        cursor: ew-resize;
      }

      &.start-resizer {
        left: 100%;
        top: 0;
        bottom: 0;
        width: var(--resizer-size);
        cursor: ew-resize;
      }

      &.end-resizer {
        right: 100%;
        top: 0;
        bottom: 0;
        width: var(--resizer-size);
        cursor: ew-resize;
      }

      &.endside-resizer {
        right: 100%;
        top: 0;
        bottom: 0;
        width: var(--resizer-size);
        cursor: ew-resize;
      }
    }
  }

  //> .panel-resizer {
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  line-height: var(--resizer-size);
  //  border-radius: 10px !important;
  //  
  //  &:hover {
  //    background-color: var(--colorNeutralBackground2);
  //  }
  //
  //  &.header-resizer {
  //    grid-row: 2;
  //    grid-column: 1 / span 9;
  //    height: var(--resizer-size);
  //    cursor: ns-resize;
  //  }
  //
  //  &.top-resizer {
  //    grid-row: 4;
  //    grid-column: 5;
  //    height: var(--resizer-size);
  //    cursor: ns-resize;
  //  }
  //
  //  &.bottom-resizer {
  //    grid-row: 6;
  //    grid-column: 5;
  //    height: var(--resizer-size);
  //    cursor: ns-resize;
  //  }
  //
  //  &.footer-resizer {
  //    grid-row: 8;
  //    grid-column: 1 / span 9;
  //    height: var(--resizer-size);
  //    cursor: ns-resize;
  //  }
  //
  //  &.startside-resizer {
  //    grid-row: 3 / span 5;
  //    grid-column: 2;
  //    width: var(--resizer-size);
  //    cursor: ew-resize;
  //  }
  //
  //  &.start-resizer {
  //    grid-row: 3 / span 5;
  //    grid-column: 4;
  //    width: var(--resizer-size);
  //    cursor: ew-resize;
  //  }
  //
  //  &.end-resizer {
  //    grid-row: 3 / span 5;
  //    grid-column: 6;
  //    width: var(--resizer-size);
  //    cursor: ew-resize;
  //  }
  //
  //  &.endside-resizer {
  //    grid-row: 3 / span 5;
  //    grid-column: 8;
  //    width: var(--resizer-size);
  //    cursor: ew-resize;
  //  }
  //}
}