.bui-split-panel {
  --resizer-size: 0.5rem;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: auto auto 1fr auto auto;

  > .split-panel {
    user-select: none;
    overflow: hidden;
    
    &.top-panel {
      grid-row: 1;
      grid-column: 1 / span 5;
    }

    &.start-panel {
      grid-row: 3;
      grid-column: 1;
    }

    &.center-panel {
      grid-row: 3;
      grid-column: 3;
    }

    &.end-panel {
      grid-row: 3;
      grid-column: 5;
    }

    &.bottom-panel {
      grid-row: 5;
      grid-column: 1 / span 5;
    }
  }

  > .panel-resizer {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: var(--resizer-size);
    border-radius: 10px !important;
    
    &:hover {
      background-color: var(--colorNeutralBackground2);
    }

    &.top-resizer {
      grid-row: 2;
      grid-column: 1 / span 5;
      height: var(--resizer-size);
      cursor: ns-resize;
    }

    &.bottom-resizer {
      grid-row: 4;
      grid-column: 1 / span 5;
      height: var(--resizer-size);
      cursor: ns-resize;
    }

    &.start-resizer {
      grid-row: 3;
      grid-column: 2;
      width: var(--resizer-size);
      cursor: ew-resize;
    }

    &.end-resizer {
      grid-row: 3;
      grid-column: 4;
      width: var(--resizer-size);
      cursor: ew-resize;
    }
  }
}