.bui-tab-list {
    display: flex;

    > .header {
        > .bui-overflow {
            align-items: stretch;

            > .tab-item {
                text-transform: none;
                outline-style: none;
                padding: var(--spacingVerticalM) var(--spacingHorizontalMNudge);
                gap: var(--spacingHorizontalSNudge);
                display: flex;
                align-items: center;
                border-width: 0px;
                border-radius: var(--borderRadiusMedium);
                background-color: var(--colorTransparentBackground);
                flex-shrink: 0;
                line-height: var(--lineHeightBase300);
                font-family: var(--fontFamilyBase);
                cursor: pointer;
                position: relative;
                text-decoration: none;
                color: var(--colorNeutralForeground2);

                > .icon {
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    line-height: 0;
                    align-items: center;
                    display: inline-flex;
                    justify-content: center;
                    color: inherit;
                }

                > .active-icon {
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    line-height: 0;
                    align-items: center;
                    justify-content: center;
                    display: none;
                    color: inherit;
                }

                > span {
                    padding: var(--spacingVerticalNone) var(--spacingHorizontalXXS);
                    line-height: var(--lineHeightBase300);
                    font-weight: var(--fontWeightRegular);
                    font-size: var(--fontSizeBase300);
                    font-family: var(--fontFamilyBase);
                }

                &:hover:not(:disabled) {
                    background-color: var(--colorTransparentBackgroundHover);
                    color: var(--colorNeutralForeground2Hover);

                    > .icon, .active-icon {
                        color: var(--colorNeutralForeground2BrandSelected);
                    }

                    > .active-icon {
                        display: inline-flex;

                        & + .icon {
                            display: none;
                        }
                    }

                    &:before {
                        position: absolute;
                        content: "";
                        border-radius: var(--borderRadiusCircular);
                        background-color: var(--colorNeutralStroke1Hover);
                        right: var(--spacingHorizontalM);
                        left: var(--spacingHorizontalM);
                        bottom: 0px;
                        height: var(--strokeWidthThicker);
                        animation-fill-mode: both;
                        animation-name: scale-in-center;
                        animation-duration: var(--durationSlow);
                        animation-timing-function: var(--curveDecelerateMax);
                    }

                    &:active {
                        background-color: var(--colorTransparentBackgroundPressed);
                        color: var(--colorNeutralForeground2Pressed);

                        &:before {
                            background-color: var(--colorNeutralStroke1Pressed);
                        }
                    }
                }

                &.selected {
                    color: var(--colorNeutralForeground1);

                    > span {
                        font-weight: var(--fontWeightSemibold);
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        border-radius: var(--borderRadiusCircular);
                        background-color: var(--colorCompoundBrandStroke);
                        right: var(--spacingHorizontalM);
                        left: var(--spacingHorizontalM);
                        height: var(--strokeWidthThicker);
                        bottom: 0px;
                        animation-fill-mode: both;
                        animation-name: scale-in-center;
                        animation-duration: var(--durationSlow);
                        animation-timing-function: var(--curveDecelerateMax);
                    }

                    &:hover:not(:disabled) {
                        background-color: var(--colorTransparentBackgroundHover);
                        color: var(--colorNeutralForeground1Hover);

                        &:active {
                            background-color: var(--colorTransparentBackgroundPressed);
                            color: var(--colorNeutralForeground1Pressed);
                        }
                    }
                }

                &:disabled {
                    background-color: var(--colorTransparentBackground);
                    cursor: not-allowed;
                    color: var(--colorNeutralForegroundDisabled);

                    > .icon {
                        color: var(--colorNeutralForegroundDisabled);
                    }

                    > .active-icon {
                        color: var(--colorNeutralForegroundDisabled);
                    }

                    &:after {
                        background-color: var(--colorNeutralForegroundDisabled);
                    }
                }
            }

            &.horizontal {
                height: max-content;
            }

            &.vertical {
                width: max-content;

                > .tab-item {

                    &:hover {
                        &:before {
                            top: var(--spacingHorizontalM);
                            bottom: var(--spacingHorizontalM);
                            right: unset;
                            left: 0;
                            width: var(--strokeWidthThicker);
                            height: unset;
                        }
                    }

                    &.selected {
                        &:after {
                            top: var(--spacingHorizontalM);
                            bottom: var(--spacingHorizontalM);
                            right: unset;
                            left: 0;
                            width: var(--strokeWidthThicker);
                            height: unset;
                        }
                    }
                }
            }
        }
    }

    > .panels {
        flex: 1;
        overflow: auto;

        > .tab-panel {
            display: none;
            flex-direction: column;
            height: 100%;
            overflow: auto;

            &.selected {
                display: flex;
            }
        }
    }

    &.vertical {
        flex-direction: row;

        > .header {
            > .bui-overflow {
                height: 100%;
            }
        }
    }

    &.horizontal {
        flex-direction: column;

        > .header {
            > .bui-overflow {
                width: 100%;
            }
        }
    }

    &.subtle {
        > .header {
            > .bui-overflow {
                > .tab-item {
                    &:hover {
                        background-color: var(--colorSubtleBackgroundHover);

                        &:active {
                            background-color: var(--colorSubtleBackgroundPressed);
                        }
                    }
                }
            }
        }
    }

    &.small {
        > .header {
            > .bui-overflow {
                > .tab-item {
                    padding: var(--spacingVerticalSNudge) var(--spacingHorizontalSNudge);
                    gap: var(--spacingHorizontalXXS);

                    &:hover:not(:disabled) {
                        &:before {
                            right: var(--spacingHorizontalSNudge);
                            left: var(--spacingHorizontalSNudge);
                        }
                    }

                    &.selected {

                        &:after {
                            right: var(--spacingHorizontalSNudge);
                            left: var(--spacingHorizontalSNudge);
                        }
                    }
                }

                &.vertical {
                    > .tab-item {
                        &:hover {
                            &:before {
                                top: var(--spacingHorizontalSNudge);
                                bottom: var(--spacingHorizontalSNudge);
                                right: unset;
                                left: 0;
                            }
                        }

                        &.selected {
                            &:after {
                                top: var(--spacingHorizontalSNudge);
                                bottom: var(--spacingHorizontalSNudge);
                                right: unset;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &.large {
        > .header {
            > .bui-overflow {
                > .tab-item {
                    padding: var(--spacingVerticalL) var(--spacingHorizontalMNudge);
                    gap: var(--spacingHorizontalSNudge);

                    > span {
                        font-size: var(--fontSizeBase400);
                        line-height: var(--lineHeightBase400);
                    }

                    > .icon {
                        width: 24px;
                        height: 24px;
                        font-size: 24px;
                    }

                    > .active-icon {
                        width: 24px;
                        height: 24px;
                        font-size: 24px;
                    }

                    &:hover:not(:disabled) {
                        &:before {
                            right: var(--spacingHorizontalM);
                            left: var(--spacingHorizontalM);
                        }
                    }

                    &.selected {

                        &:after {
                            right: var(--spacingHorizontalM);
                            left: var(--spacingHorizontalM);
                        }
                    }
                }

                &.vertical {
                    > .tab-item {
                        &:hover {
                            &:before {
                                top: var(--spacingHorizontalM);
                                bottom: var(--spacingHorizontalM);
                                right: unset;
                                left: 0;
                            }
                        }

                        &.selected {
                            &:after {
                                top: var(--spacingHorizontalM);
                                bottom: var(--spacingHorizontalM);
                                right: unset;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.rtl, [dir=rtl] {
    .bui-tab-list {
        &.vertical {
            > .header {
                > .bui-overflow {
                    > .tab-item {
                        &:hover {
                            &:before {
                                right: 0;
                                left: unset;
                            }
                        }

                        &.selected {
                            &:after {
                                right: 0;
                                left: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}
