.bui-toast-stack {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &.top-start {
        top: 0;
        left: 0;
    }

    &.top-center {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &.top-end {
        top: 0;
        right: 0;
    }

    &.bottom-start {
        bottom: 0;
        left: 0;
    }

    &.bottom-center {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &.bottom-end {
        bottom: 0;
        right: 0;
    }
}

.bui-toast {
    box-sizing: border-box;
    margin-top: 16px;
    pointer-events: all;
    border-radius: var(--borderRadiusMedium);
    box-shadow: var(--shadow8);

    > .content {
        padding: 12px;
        border-radius: var(--borderRadiusMedium);
        border: 1px solid var(--colorTransparentStroke);
        font-size: var(--fontSizeBase300);
        line-height: 20px;
        color: var(--colorNeutralForeground1);
        background-color: var(--colorNeutralBackground1);

        > .title {
            font-weight: var(--fontWeightSemibold);
        }

        > .message {
        }
    }
}

.rtl, [dir=rtl] {
    .bui-toast-stack {
        &.top-start {
            top: 0;
            right: 0;
            left: unset;
        }

        &.top-end {
            top: 0;
            left: 0;
            right: unset;
        }

        &.bottom-start {
            bottom: 0;
            right: 0;
            left: unset;
        }

        &.bottom-end {
            bottom: 0;
            left: 0;
            right: unset;
        }
    }
}
