.bui-toast-stack {
    z-index: var(--zIndexToast);
    position: fixed;
    display: flex;
    padding: 20px;
    max-width: 100%;
    overflow: hidden;

    &.top-start {
        top: 0;
        left: 0;
        flex-direction: column-reverse;
        align-items: start;

        > .bui-toast {
            animation-name: fade-in, slide-in-left;

            &.hide {
                animation-name: fade-out, slide-out-left;
            }
        }
    }

    &.top-center {
        top: 0;
        left: 50%;
        flex-direction: column-reverse;
        transform: translateX(-50%);
        align-items: center;

        > .bui-toast {
            animation-name: fade-in;

            &.hide {
                animation-name: fade-out;
            }
        }
    }

    &.top-end {
        top: 0;
        right: 0;
        flex-direction: column-reverse;
        align-items: end;

        > .bui-toast {
            animation-name: fade-in, slide-in-right;

            &.hide {
                animation-name: fade-out, slide-out-right;
            }
        }
    }

    &.bottom-start {
        bottom: 0;
        left: 0;
        flex-direction: column;
        align-items: start;

        > .bui-toast {
            animation-name: fade-in, slide-in-left;

            &.hide {
                animation-name: fade-out, slide-out-left;
            }
        }
    }

    &.bottom-center {
        bottom: 0;
        left: 50%;
        flex-direction: column;
        transform: translateX(-50%);
        align-items: center;

        > .bui-toast {
            animation-name: fade-in;

            &.hide {
                animation-name: fade-out;
            }
        }
    }

    &.bottom-end {
        bottom: 0;
        right: 0;
        flex-direction: column;
        align-items: end;

        > .bui-toast {
            animation-name: fade-in, slide-in-right;

            &.hide {
                animation-name: fade-out, slide-out-right;
            }
        }
    }
}

.bui-toast {
    box-sizing: border-box;
    margin-top: 16px;
    pointer-events: all;
    border-radius: var(--borderRadiusMedium);
    box-shadow: var(--shadow8);
    animation-duration: var(--durationGentle);
    animation-timing-function: var(--curveEasyEase);
    animation-fill-mode: both;
    min-width: 200px;
    max-width: min(100%, 380px);
    
    > .content {
        padding: 12px;
        border-radius: var(--borderRadiusMedium);
        border: 1px solid var(--colorTransparentStroke);
        font-size: var(--fontSizeBase300);
        line-height: var(--lineHeightBase300);
        color: var(--colorNeutralForeground1);
        background-color: var(--colorNeutralBackground1);
        display: flex;
        flex-direction: column;
        gap: var(--spacingHorizontalSNudge);

        > .title {
            font-weight: var(--fontWeightSemibold);
            display: flex;
            gap: var(--spacingHorizontalSNudge);

            > .text {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > .dismiss {
                padding-inline-start: 12px;
            }
        }

        > .message {
        }
    }
}

.rtl, [dir=rtl] {
    .bui-toast-stack {
        &.top-start {
            top: 0;
            right: 0;
            left: unset;

            > .bui-toast {
                animation-name: fade-in, slide-in-right;

                &.hide {
                    animation-name: fade-out, slide-out-right;
                }
            }
        }

        &.top-end {
            top: 0;
            left: 0;
            right: unset;

            > .bui-toast {
                animation-name: fade-in, slide-in-left;

                &.hide {
                    animation-name: fade-out, slide-out-left;
                }
            }
        }

        &.bottom-start {
            bottom: 0;
            right: 0;
            left: unset;

            > .bui-toast {
                animation-name: fade-in, slide-in-right;

                &.hide {
                    animation-name: fade-out, slide-out-right;
                }
            }
        }

        &.bottom-end {
            bottom: 0;
            left: 0;
            right: unset;

            > .bui-toast {
                animation-name: fade-in, slide-in-left;

                &.hide {
                    animation-name: fade-out, slide-out-left;
                }
            }
        }
    }
}
