.bui-toolbar {
    align-items: center;
    box-sizing: border-box;

    &.horizontal {
        padding: 4px 8px;
        height: max-content;

        > .bui-overflow {
            width: 100%;
            align-items: center;

            > .toolbar-button {
                height: 100%;
            }
        }
    }

    &.vertical {
        padding: 8px 4px;
        width: max-content;

        > .bui-overflow {
            height: 100%;
            align-items: center;

            > .toolbar-button {
                width: 100%;
            }
        }
    }
}
