.bui-toolbar {
    align-items: center;
    box-sizing: border-box;

    &.horizontal {
        padding: var(--spacingHorizontalXS) var(--spacingHorizontalS);
        height: max-content;

        > .bui-overflow {
            width: 100%;
            align-items: center;

            > .toolbar-button {
                height: 100%;
            }
        }
    }

    &.vertical {
        padding: var(--spacingHorizontalS) var(--spacingHorizontalXS);
        width: max-content;

        > .bui-overflow {
            height: 100%;
            align-items: center;

            > .toolbar-button {
                width: 100%;
            }
        }
    }
}
