.toolbar-button {
    /*max-width: 32px;*/
    min-width: 32px;
    padding: 5px;
    margin: 0px;
    color: var(--colorNeutralForeground2);
    background-color: var(--colorSubtleBackground);
    display: inline-flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    gap: var(--spacingHorizontalSNudge);
    box-sizing: border-box;
    border: var(--strokeWidthThin) solid transparent;
    border-radius: var(--borderRadiusMedium);
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightSemibold);
    text-decoration-line: none;
    line-height: var(--lineHeightBase300);
    vertical-align: middle;
    outline-style: none;
    overflow: hidden;
    /*min-width: 96px;*/
    transition-duration: var(--durationFaster);
    transition-property: background, border, color;
    transition-timing-function: var(--curveEasyEase);
    cursor: pointer;

    > .icon, > .active-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
    }

    > .active-icon {
        display: none;
    }

    &:hover {
        color: var(--colorNeutralForeground2Hover);
        background-color: var(--colorSubtleBackgroundHover);

        > .active-icon {
            display: inline;

            & + .icon {
                display: none;
            }
        }

        > .icon, > .active-icon {
            color: var(--colorNeutralForeground2BrandHover);
        }

        &:active {
            color: var(--colorNeutralForeground2Pressed);
            background-color: var(--colorSubtleBackgroundPressed);

            > .icon, > .active-icon {
                color: var(--colorNeutralForeground2BrandPressed);
            }
        }
    }

    &.primary {
        color: var(--colorNeutralForegroundOnBrand);
        background-color: var(--colorBrandBackground);

        > .icon {
            color: var(--colorNeutralForegroundOnBrand);
        }

        &:hover {
            color: var(--colorNeutralForegroundOnBrand);
            background-color: var(--colorBrandBackgroundHover);

            > .icon, > .active-icon {
                color: var(--colorNeutralForegroundOnBrand);
            }

            &:active {
                background-color: var(--colorBrandBackgroundPressed);

                > .icon, > .active-icon {
                    color: var(--colorNeutralForegroundOnBrand);
                }
            }
        }
    }

    &.subtle {
        color: var(--colorNeutralForeground2);
        background-color: var(--colorSubtleBackground);

        > .icon {
            color: var(--colorNeutralForeground2BrandSelected);
        }

        &:hover {
            color: var(--colorNeutralForeground2Hover);
            background-color: var(--colorSubtleBackgroundHover);

            > .icon, > .active-icon {
                color: var(--colorNeutralForeground2BrandHover);
            }

            &:active {
                color: var(--colorNeutralForeground2Pressed);
                background-color: var(--colorSubtleBackgroundPressed);

                > .icon, > .active-icon {
                    color: var(--colorNeutralForeground2BrandPressed);
                }
            }
        }
    }
}

.bui-toolbar-button-group {
    display: flex;

    > .dropdown-button {
        min-width: 0;
        border-inline-start: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.rtl, [dir="rtl"] {

    .bui-toolbar-button-group {
        display: flex;

        > .dropdown-button {
            min-width: 0;
            border-inline-start: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
            border-top-left-radius: var(--borderRadiusMedium);
            border-bottom-left-radius: var(--borderRadiusMedium);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}