.bui-toolbar-button {
    /*max-width: 32px;*/
    min-width: 32px;
    padding: 5px;
    margin: 0px;
    color: var(--colorNeutralForeground2);
    background-color: var(--colorSubtleBackground);
    display: inline-flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    gap: var(--spacingHorizontalSNudge);
    box-sizing: border-box;
    border: var(--strokeWidthThin) solid transparent;
    border-radius: var(--borderRadiusMedium);
    font-family: var(--fontFamilyBase);
    font-size: var(--fontSizeBase300);
    font-weight: var(--fontWeightSemibold);
    text-decoration-line: none;
    line-height: var(--lineHeightBase300);
    vertical-align: middle;
    outline-style: none;
    overflow: hidden;
    /*min-width: 96px;*/
    transition-duration: var(--durationFaster);
    transition-property: background, border, color;
    transition-timing-function: var(--curveEasyEase);
    cursor: pointer;

    > .icon, > .active-icon, > .dropdown-icon, > .dropdown-active-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
    }

    > .active-icon, > .dropdown-active-icon {
        display: none;
    }

    &.toggled {
        background-color: var(--colorNeutralBackground1Selected);
        color: var(--colorNeutralForeground1Selected);
        border-color: var(--colorNeutralStroke1);

        > .active-icon {
            display: inline;

            & + .icon {
                display: none;
            }
        }
    }

    &:hover {
        color: var(--colorNeutralForeground2Hover);
        background-color: var(--colorSubtleBackgroundHover);

        > .active-icon {
            display: inline;

            & + .icon {
                display: none;
            }
        }

        > .dropdown-active-icon {
            display: inline;

            & + .dropdown-icon {
                display: none;
            }
        }

        > .icon, > .active-icon, > .dropdown-icon, > .dropdown-active-icon {
            color: var(--colorNeutralForeground2BrandHover);
        }

        &:active {
            color: var(--colorNeutralForeground2Pressed);
            background-color: var(--colorSubtleBackgroundPressed);

            > .icon, > .active-icon, > .dropdown-icon, > .dropdown-active-icon {
                color: var(--colorNeutralForeground2BrandPressed);
            }
        }
    }

    &.primary {
        color: var(--colorNeutralForegroundOnBrand);
        background-color: var(--colorBrandBackground);

        > .icon {
            color: var(--colorNeutralForegroundOnBrand);
        }

        &.toggled {
            background-color: var(--colorBrandBackgroundSelected);
            color: var(--colorNeutralForegroundOnBrand);
            border-color: transparent;
        }

        &:hover {
            color: var(--colorNeutralForegroundOnBrand);
            background-color: var(--colorBrandBackgroundHover);

            > .icon, > .active-icon, > .dropdown-icon, > .dropdown-active-icon {
                color: var(--colorNeutralForegroundOnBrand);
            }

            &:active {
                background-color: var(--colorBrandBackgroundPressed);

                > .icon, > .active-icon, > .dropdown-icon, > .dropdown-active-icon {
                    color: var(--colorNeutralForegroundOnBrand);
                }
            }
        }
    }

    &.subtle {
        color: var(--colorNeutralForeground2);
        background-color: var(--colorSubtleBackground);

        > .icon {
            color: var(--colorNeutralForeground2BrandSelected);
        }

        &.toggled {
            color: var(--colorNeutralForeground2Selected);
            background-color: var(--colorSubtleBackgroundSelected);
        }

        &:hover {
            color: var(--colorNeutralForeground2Hover);
            background-color: var(--colorSubtleBackgroundHover);

            > .icon, > .active-icon, > .dropdown-icon, > .dropdown-active-icon {
                color: var(--colorNeutralForeground2BrandHover);
            }

            &:active {
                color: var(--colorNeutralForeground2Pressed);
                background-color: var(--colorSubtleBackgroundPressed);

                > .icon, > .active-icon, > .dropdown-icon, > .dropdown-active-icon {
                    color: var(--colorNeutralForeground2BrandPressed);
                }
            }
        }
    }

    &[disabled] {
        color: var(--colorNeutralForegroundDisabled);
        background-color: inherit;
        cursor: not-allowed;

        &:hover {
            color: var(--colorNeutralForegroundDisabled);
            background-color: inherit;

            > .icon, > .active-icon, > .dropdown-icon, > .dropdown-active-icon {
                color: var(--colorNeutralForegroundDisabled);
            }

            > .active-icon {
                display: none;

                + .icon {
                    display: inline;
                }
            }

            > .dropdown-active-icon {
                display: none;

                + .dropdown-icon {
                    display: inline;
                }
            }

            &:active {
                color: var(--colorNeutralForegroundDisabled);
                background-color: inherit;
            }
        }
    }
}
