@using Bluent.UI.Components
@using Bluent.UI.Utilities
@namespace Bluent.UI.Utilities
<TreeItem Expandable="ShouldExpand"
          Expanded="_expanded"
          ExpandedChanged="OnExpandChanged"
          Icon="@Icon"
          ExpandedIcon="@ExpandedIcon"
          OnClick="HandleClick">
    <ItemTemplate>
        <div class="p-2 rounded-5 @(IsSelected ? "bg-3" : "")">@Item.Name</div>
    </ItemTemplate>
    <ChildContent>
        @if (_items != null)
        {
            foreach (var hierarchyItem in _items.Where(x => !TreeBrowser.RootOnly || x is HierarchyRootItem))
            {
                <CascadingValue Value="this" IsFixed>
                    <HierarchyTreeItem Item="hierarchyItem" />
                </CascadingValue>
            }
        }
    </ChildContent>
</TreeItem>