@page "/components/dock-panels"

@code {
    private bool _toggled = true;
    private bool _dynamicPanels;
    private DockPanel? _panel;
    private DockPanel? _panel7;

    private void ToggleButton()
    {
        _toggled = !_toggled;

        _panel?.SetStateHasChanged();
    }

    private void ToggleDynamicPanels()
    {
        _dynamicPanels = !_dynamicPanels;
    }

    private void ActivatePanel7()
    {
        _panel7?.Activate();
    }

}

@namespace Bluent.UI.Demo.Pages.Components
<PageTitle>Dock Panels</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Dock Panels</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <DockBar DockName="Top" DisplayTitle Class="mb-3"/>
            <div class="d-flex flex-fill" style="height: 300px">
                <div>
                    <DockBar DockName="Left"
                             Orientation="Orientation.Vertical"
                             DisplayTitle
                             Class="mb-3"/>
                </div>
                <SplitPanelContainer Class="bui-split-panel flex-fill overflow-hidden rounded-5"
                                     EndSideResizeMode="ResizeMode.Fixed">
                    <Center>
                        <div class="h-100">
                            <div class="bg-1 p-5 rounded-5 border h-100">
                                <Button Text="Toggle Dynamic Panels" OnClick="ToggleDynamicPanels" Class="d-block"/>
                                @if (_dynamicPanels)
                                {
                                    <Button Text="Activate Panel 7" OnClick="ActivatePanel7" Class="d-block"/>
                                }
                            </div>
                        </div>
                    </Center>
                    <End>
                        <DockContainer DockName="Right"
                                       Class="bg-3 h-100"/>
                    </End>
                    <EndSide>
                        End Side!
                    </EndSide>
                </SplitPanelContainer>

            </div>
            <DockBar DockName="Right" Class="mt-3"/>
        </section>
    </div>
</div>

@* *@
@* <DockPanel DockName="Right" Icon="icon-ic_fluent_vehicle_car_profile_ltr_20_regular" Title="Panel 3"> *@
@*     <div>Panel 3</div> *@
@* </DockPanel> *@
@* <DockPanel DockName="Right" Icon="icon-ic_fluent_food_apple_20_regular" Title="Panel 4"> *@
@*     <div>Panel 4</div> *@
@* </DockPanel> *@
@* <DockPanel DockName="Right" Icon="icon-ic_fluent_food_fish_20_regular" Title="Panel 5"> *@
@*     <div>Panel 5</div> *@
@* </DockPanel> *@

@if (_dynamicPanels)
{
    <DockPanel DockName="Right" Icon="icon-ic_fluent_food_chicken_leg_20_regular" Title="Panel 6">
        <div>Panel 6</div>
    </DockPanel>
    <DockPanel @ref="_panel7" DockName="Right" Icon="icon-ic_fluent_food_egg_20_regular" Title="Panel 7">
        <div>Panel 7</div>
    </DockPanel>
}