@page "/components/sliders"
@namespace Bluent.UI.Demo.Pages.Components
<PageTitle>Sliders</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Slider</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Slider @bind-Value="_intValue" Min="-50" Max="+50"/>
            <pre>
                Value: @_intValue
            </pre>
        </section>

        <h3>Range</h3>
        <section class="p-7 rounded-5 shadow-3">
            <RangeSlider @bind-Value="_valueRange" Min="0" Max="@decimal.MaxValue"/>
            <pre>
                Value: (@_valueRange.Min , @_valueRange.Max)
            </pre>
        </section>
    </div>
</div>

@code {
    private int _intValue = -15;
    private ValueRange<decimal> _valueRange = new(10, 90);
}