@page "/components/spinners"
@namespace Bluent.UI.Demo.Pages.Components
<PageTitle>Spinners</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Spinners</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Spinner />
        </section>

        <h3>Appearance</h3>
        <section class="p-7 rounded-5 shadow-3">
            <div style="padding: 20px;">
                <Spinner Label="Primary Spinner" />
            </div>
            <div style="padding: 20px; background-color: var(--colorBrandBackgroundStatic)">
                <Spinner Label="Inverted Spinner" Appearance="SpinnerAppearance.Inverted" />
            </div>
        </section>

        <h3>Label Possition</h3>
        <section class="p-7 rounded-5 shadow-3">
            <div style="padding: 20px;">
                <Spinner Label="Before" LabelPosition="SpinnerLabelPosition.Before" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="After" LabelPosition="SpinnerLabelPosition.After" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="Above" LabelPosition="SpinnerLabelPosition.Above" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="Below (Default)" LabelPosition="SpinnerLabelPosition.Below" />
            </div>
        </section>

        <h3>Sizes</h3>
        <section class="p-7 rounded-5 shadow-3">
            <div style="padding: 20px;">
                <Spinner Label="Extra Tiny" LabelPosition="SpinnerLabelPosition.After" Size="SpinnerSize.ExtraTiny" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="Tiny" LabelPosition="SpinnerLabelPosition.After" Size="SpinnerSize.Tiny" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="Extra Small" LabelPosition="SpinnerLabelPosition.After" Size="SpinnerSize.ExtraSmall" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="Small" LabelPosition="SpinnerLabelPosition.After" Size="SpinnerSize.Small" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="Medium" LabelPosition="SpinnerLabelPosition.After" Size="SpinnerSize.Medium" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="Large" LabelPosition="SpinnerLabelPosition.After" Size="SpinnerSize.Large" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="Extra Large" LabelPosition="SpinnerLabelPosition.After" Size="SpinnerSize.ExtraLarge" />
            </div>
            <div style="padding: 20px;">
                <Spinner Label="Huge" LabelPosition="SpinnerLabelPosition.After" Size="SpinnerSize.Huge" />
            </div>
        </section>
    </div>
</div>

@code {
}
