@page "/components/split-panels"
@namespace Bluent.UI.Demo.Pages.Components
<PageTitle>Split Panels</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Split Panels</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <SplitPanelContainer Style="height: 300px;">
                <Header>
                    <div class="p-5 rounded-5 border h-100">Header</div>
                </Header>
                <Top>
                    <div class="p-5 rounded-5 border h-100">Top</div>
                </Top>
                
                <StartSide>
                    <div class="p-5 rounded-5 border h-100">Start Side</div>
                </StartSide>
                <Start>
                    <div class="p-5 rounded-5 border h-100">Start</div>
                </Start>
                
                <Center>
                    <div class="p-5 rounded-5 border h-100">Center</div>
                </Center>
                
                <End>
                    <div class="p-5 rounded-5 border h-100">End</div>
                </End>
                <EndSide>
                    <div class="p-5 rounded-5 border h-100">End Side</div>
                </EndSide>
                
                <Bottom>
                    <div class="p-5 rounded-5 border h-100">Bottom</div>
                </Bottom>
                <Footer>
                    <div class="p-5 rounded-5 border h-100">Footer</div>
                </Footer>
            </SplitPanelContainer>
        </section>
    </div>
</div>

@code {
}
