@page "/components/trees"
@namespace Bluent.UI.Demo.Pages.Components
@using Bluent.UI.Demo.Pages.Components.ViewModels
<PageTitle>Trees</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Trees</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree>
                <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>

        <h3>Drag and drop</h3>
        <section class="p-7 rounded-5 shadow-3">
            <div class="row">
                <div class="col-12">
                    <Tree Draggable="true"
                          OnItemDrop="HandleTreeItemDrop"
                          CanDrop="OnCanDrop"
                          CanDrag="OnCanDrag">
                        <TreeItem Title="My Computer" Icon="icon-ic_fluent_desktop_20_regular" Expanded>
                            <TreeItem Title="Drive C" Icon="icon-ic_fluent_hard_drive_20_regular" Expanded>
                                @foreach (var item in _myComputerDataSource)
                                {
                                    <TreeViewItemRenderer Item="item" />
                                }
                            </TreeItem>
                            <TreeItem Title="Drive D" Icon="icon-ic_fluent_hard_drive_20_regular">
                                <TreeItem Title="Folder 1" Icon="icon-ic_fluent_folder_20_regular" />
                                <TreeItem Title="Folder 2" Icon="icon-ic_fluent_folder_20_regular" />
                                <TreeItem Title="Folder 3" Icon="icon-ic_fluent_folder_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Drive E" Icon="icon-ic_fluent_hard_drive_20_regular">
                                <TreeItem Title="Folder 1" Icon="icon-ic_fluent_folder_20_regular" />
                                <TreeItem Title="Folder 2" Icon="icon-ic_fluent_folder_20_regular" />
                                <TreeItem Title="Folder 3" Icon="icon-ic_fluent_folder_20_regular" />
                            </TreeItem>
                        </TreeItem>
                    </Tree>
                </div>
            </div>
        </section>
        <section class="p-7 rounded-5 shadow-3">
            <div class="row">
                <CascadingValue Value="_sharedDnDContext" IsFixed>
                    <div class="col-12 col-md-6">
                        <Tree Draggable="true"
                              OnItemDrop="HandleSharedItemDrop"
                              CanDrop="OnCanDrop"
                              CanDrag="OnCanDrag">
                            <TreeItem Title="My Computer" Icon="icon-ic_fluent_desktop_20_regular" Expanded>
                                <TreeItem Title="Drive C" Icon="icon-ic_fluent_hard_drive_20_regular" Expanded>
                                    @foreach (var item in _myComputerDataSource)
                                    {
                                        <TreeViewItemRenderer Item="item" />
                                    }
                                </TreeItem>
                            </TreeItem>
                        </Tree>
                    </div>
                    <div class="col-12 col-md-6">
                        <Tree Draggable="true"
                              OnItemDrop="HandleSharedItemDrop"
                              CanDrop="OnCanDrop"
                              CanDrag="OnCanDrag">
                            <TreeItem Title="Remote PC" Icon="icon-ic_fluent_desktop_20_regular" Expanded>
                                <TreeItem Title="Shared Folders" Icon="icon-ic_fluent_map_drive_20_regular" Expanded>
                                    @foreach (var item in _remoteComputerDataSource)
                                    {
                                        <TreeViewItemRenderer Item="item" />
                                    }
                                </TreeItem>
                            </TreeItem>
                        </Tree>
                    </div>
                </CascadingValue>
            </div>
        </section>

        <h3>Navigation</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree>
                <TreeItem Title="Microsoft" Href="http://www.microsoft.com" Target="_blank">
                    <TreeItem Title=".Net" Href="https://dotnet.microsoft.com/" Target="_blank" />
                    <TreeItem Title="Surface" Href="https://www.microsoft.com/en-us/surface" Target="_blank" />
                </TreeItem>
                <TreeItem Title="Google" Href="http://www.google.com" Target="_blank">
                    <TreeItem Title="Gmail" Href="https://mail.google.com/" Target="_blank" />
                    <TreeItem Title="Developer Network" Href="https://developers.google.com" Target="_blank" />
                </TreeItem>
            </Tree>
        </section>

        <h3>Checkboxes</h3>
        <section class="p-7 rounded-5 shadow-3">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>Independent</h4>
                    <Tree CheckboxMode="TreeCheckboxMode.Independent">
                        <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.1" />
                            <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                    <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                    <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                </TreeItem>
                                <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                        </TreeItem>
                        <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </Tree>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Cascade</h4>
                    <Tree CheckboxMode="TreeCheckboxMode.Cascade">
                        <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.1" />
                            <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                    <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                    <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                </TreeItem>
                                <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                        </TreeItem>
                        <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </Tree>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Cascade Up</h4>
                    <Tree CheckboxMode="TreeCheckboxMode.CascadeUp">
                        <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.1" />
                            <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                    <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                    <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                </TreeItem>
                                <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                        </TreeItem>
                        <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </Tree>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Cascade Down</h4>
                    <Tree CheckboxMode="TreeCheckboxMode.CascadeDown">
                        <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.1" />
                            <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                    <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                    <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                </TreeItem>
                                <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                        </TreeItem>
                        <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </Tree>
                </div>
            </div>
        </section>

        <h3>Circular Checkboxes</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree CheckboxMode="TreeCheckboxMode.Cascade" CircularCheckboxes>
                <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>

        <h3>Expand on expander only</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree ToggleSubItemsOnClick="false">
                <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>

        <h3>Check on item click</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree ToggleSubItemsOnClick="false" ToggleCheckStateOnClick="true" CheckboxMode="TreeCheckboxMode.Cascade">
                <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>

        <h3>Disabled Checkboxes</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree CheckboxMode="TreeCheckboxMode.Cascade">
                <TreeItem Title="Item 1" DisableCheckBox="true" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" @bind-IsChecked=_checked_2_1_1 Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" @bind-IsChecked=_checked_2_1_2 Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" @bind-IsChecked=_checked_3_1 Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>

        <h3>Dropdown</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Button Text="Click to open">
                <Dropdown>
                    <Tree Draggable="true"
                          OnItemDrop="HandleTreeItemDrop"
                          CanDrop="OnCanDrop"
                          CanDrag="OnCanDrag">
                        <TreeItem Title="My Computer" Icon="icon-ic_fluent_desktop_20_regular" Expanded>
                            <TreeItem Title="Drive C" Icon="icon-ic_fluent_hard_drive_20_regular" Expanded>
                                @foreach (var item in _myComputerDataSource)
                                {
                                    <TreeViewItemRenderer Item="item" />
                                }
                            </TreeItem>
                            <TreeItem Title="Drive D" Icon="icon-ic_fluent_hard_drive_20_regular">
                                <TreeItem Title="Folder 1" Icon="icon-ic_fluent_folder_20_regular" />
                                <TreeItem Title="Folder 2" Icon="icon-ic_fluent_folder_20_regular" />
                                <TreeItem Title="Folder 3" Icon="icon-ic_fluent_folder_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Drive E" Icon="icon-ic_fluent_hard_drive_20_regular">
                                <TreeItem Title="Folder 1" Icon="icon-ic_fluent_folder_20_regular" />
                                <TreeItem Title="Folder 2" Icon="icon-ic_fluent_folder_20_regular" />
                                <TreeItem Title="Folder 3" Icon="icon-ic_fluent_folder_20_regular" />
                            </TreeItem>
                        </TreeItem>
                    </Tree>

                </Dropdown>
            </Button>
        </section>

    </div>
</div>

@code {
    
    bool? _checked_2_1_1 = true;
    bool? _checked_2_1_2 = true;
    bool? _checked_3_1 = true;
    DndContext _sharedDnDContext = new();
    List<TreeItemViewModel> _myComputerDataSource = default!;
    List<TreeItemViewModel> _remoteComputerDataSource = default!;

    public Trees()
    {
        LoadDataSources();
    }

    private void LoadDataSources()
    {
        _myComputerDataSource = new List<TreeItemViewModel>
        {
            new TreeItemViewModel("Folder 1"),
            new TreeItemViewModel("Folder 2")
            {
                Children = new List<TreeItemViewModel>
                {
                    new TreeItemViewModel("Folder 2.1")
                    {
                        Children = new List<TreeItemViewModel>
                        {
                            new TreeItemViewModel("File 2.1.1"),
                            new TreeItemViewModel("File 2.1.2")
                        }
                    },
                    new TreeItemViewModel("File 2.1"),
                    new TreeItemViewModel("File 2.2"),
                }
            },
            new TreeItemViewModel("Folder 3"),
            new TreeItemViewModel("Folder 4"),
            new TreeItemViewModel("File 1"),
        };
        _remoteComputerDataSource = new List<TreeItemViewModel>
        {
            new TreeItemViewModel("Folder 1")
        };
    }

    private bool OnCanDrop(TreeItem dragging, TreeItem dropTarget)
    {
        if (dropTarget.Title.StartsWith("Folder"))
            return true;

        return false;
    }

    private bool OnCanDrag(TreeItem item)
    {
        return item.Data != null;
    }

    private void HandleTreeItemDrop(DndContext context)
    {
        var dragging = context.Dragging as TreeItem;
        var dropTarget = context.DropTarget as TreeItem;

        if (dragging != null && dragging.Data is TreeItemViewModel draggingData &&
            dropTarget != null && dropTarget.Data is TreeItemViewModel droppingData)
        {
            var sourceParent = FindItemParent(_myComputerDataSource, draggingData);

            if (sourceParent is null && _myComputerDataSource.Contains(draggingData))
                _myComputerDataSource.Remove(draggingData);
            else if (sourceParent != null && sourceParent.Children.Contains(draggingData))
                sourceParent.Children.Remove(draggingData);

            droppingData.Children.Add(draggingData);
        }
    }

    private void HandleSharedItemDrop(DndContext context)
    {
        var dragging = context.Dragging as TreeItem;
        var dropTarget = context.DropTarget as TreeItem;

        if (dragging != null && dragging.Data is TreeItemViewModel draggingData &&
            dropTarget != null && dropTarget.Data is TreeItemViewModel droppingData)
        {
            List<TreeItemViewModel>? sourceList = null;
            List<TreeItemViewModel>? targetList = null;

            if (Contains(_myComputerDataSource, draggingData))
                sourceList = _myComputerDataSource;
            else if (Contains(_remoteComputerDataSource, draggingData))
                sourceList = _remoteComputerDataSource;

            if (Contains(_myComputerDataSource, droppingData))
                targetList = _myComputerDataSource;
            else if (Contains(_remoteComputerDataSource, droppingData))
                targetList = _remoteComputerDataSource;

            if (sourceList != null && targetList != null)
            {
                var sourceParent = FindItemParent(sourceList, draggingData);

                if (sourceParent is null && sourceList.Contains(draggingData))
                    sourceList.Remove(draggingData);
                else if (sourceParent != null && sourceParent.Children.Contains(draggingData))
                    sourceParent.Children.Remove(draggingData);

                droppingData.Children.Add(draggingData);
            }
        }
    }

    private TreeItemViewModel? FindItemParent(List<TreeItemViewModel> list, TreeItemViewModel item, TreeItemViewModel? parent = null)
    {
        if (!list.Contains(item))
        {
            foreach (var child in list)
            {
                var foundParent = FindItemParent(child.Children, item, child);
                if (foundParent != null)
                    return foundParent;
            }

            return null;
        }

        return parent;
    }

    private bool Contains(List<TreeItemViewModel> list, TreeItemViewModel item)
    {
        if (list.Contains(item))
            return true;

        foreach (var child in list)
        {
            var found = Contains(child.Children, item);
            if (found)
                return true;
        }

        return false;
    }
}
