@namespace Bluent.UI.Components
@inherits BluentUiComponentBase

<nav @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    <ol class="list">
        @ChildContent
    </ol>
</nav>
