@namespace Bluent.UI.Components
@inherits BluentUiComponentBase

@{
    __builder.OpenElement(0, GetItemTag());
    __builder.AddMultipleAttributes(1, AdditionalAttributes);
    __builder.AddAttribute(2, "id", Id);
    __builder.AddAttribute(3, "class", GetComponentClass());
    __builder.AddAttribute(4, "style", Style);
    __builder.AddAttribute(5, "onclick", EventCallback.Factory.Create(this, ClickHandler));

    if (IsLink)
    {
        __builder.AddAttribute(6, "href", Href);
    }

    __builder.OpenRegion(7);
}
<div class="item">
    <div class="content">
        @if (!string.IsNullOrEmpty(ActiveIcon))
        {
            <Icon Content="@ActiveIcon" Class="active-icon"/>
        }
        <Icon Content="@Icon" Class="icon"/>

        @if (!string.IsNullOrEmpty(Text))
        {
            <div class="text">
                @if (!string.IsNullOrEmpty(Text))
                {
                    <div>@Text</div>
                }
            </div>
        }

        @Options
        
        @if (IsExpandable)
        {
            <Icon Content="icon-ic_fluent_chevron_right_20_regular" Class="expander"/>
        }
    </div>
</div>
@if (ChildContent is not null)
{
    <div class="sub-items" @onclick:stopPropagation="true">
        @ChildContent
    </div>
}
@{
    __builder.CloseRegion();
    __builder.CloseElement();
}