@inherits BluentComponentBase

@{
    __builder.OpenElement(0, GetItemTag());
    if (!IsLink)
        __builder.AddAttribute(1, "type", "button");
    else
        __builder.AddAttribute(2, "href", Href);
    __builder.AddMultipleAttributes(3, AdditionalAttributes);
    __builder.AddAttribute(4, "id", Id);
    __builder.AddAttribute(5, "class", GetComponentClass());
    __builder.AddAttribute(6, "style", Style);
    __builder.AddAttribute(7, "onclick", EventCallback.Factory.Create(this, ClickHandler));
    __builder.OpenRegion(8);
}

@if (!string.IsNullOrEmpty(Icon))
{
    @if (!string.IsNullOrEmpty(ActiveIcon))
    {
        <Icon Content="@ActiveIcon" Class="active-icon" />
    }
    <Icon Content="@Icon" Class="icon"/>
}
@if (!string.IsNullOrEmpty(Text))
{
    <span>@Text</span>
}
@{
    __builder.CloseRegion();
    __builder.CloseElement();
}