.color-1 {
    color: var(--colorNeutralForeground1);
}
.color-2 {
    color: var(--colorNeutralForeground2);
}
.color-3 {
    color: var(--colorNeutralForeground3);
}
.color-4 {
    color: var(--colorNeutralForeground4);
}
