@namespace Bluent.UI.Components
@inherits BluentComponentBase

<CascadingValue Value="this" IsFixed>
    <div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
        @Trigger
    </div>
</CascadingValue>