@use "sass:map";
@import "../maps/colors.scss";

@mixin brand-palette($brand) {
    --colorNeutralForeground1: #{$white};
    --colorNeutralForeground1Hover: #{$white};
    --colorNeutralForeground1Pressed: #{$white};
    --colorNeutralForeground1Selected: #{$white};
    --colorNeutralForeground2: #{map.get($grey, '84')};
    --colorNeutralForeground2Hover: #{$white};
    --colorNeutralForeground2Pressed: #{$white};
    --colorNeutralForeground2Selected: #{$white};
    --colorNeutralForeground2BrandHover: #{map.get($brand, 100)};
    --colorNeutralForeground2BrandPressed: #{map.get($brand, 90)};
    --colorNeutralForeground2BrandSelected: #{map.get($brand, 100)};
    --colorNeutralForeground3: #{map.get($grey, '68')};
    --colorNeutralForeground3Hover: #{map.get($grey, '84')};
    --colorNeutralForeground3Pressed: #{map.get($grey, '84')};
    --colorNeutralForeground3Selected: #{map.get($grey, '84')};
    --colorNeutralForeground3BrandHover: #{map.get($brand, 100)};
    --colorNeutralForeground3BrandPressed: #{map.get($brand, 90)};
    --colorNeutralForeground3BrandSelected: #{map.get($brand, 100)};
    --colorNeutralForeground4: #{map.get($grey, '60')};
    --colorNeutralForegroundDisabled: #{map.get($grey, '36')};
    --colorNeutralForegroundInvertedDisabled: #{map.get($whiteAlpha, '40')};
    --colorBrandForegroundLink: #{map.get($brand, 100)};
    --colorBrandForegroundLinkHover: #{map.get($brand, 110)};
    --colorBrandForegroundLinkPressed: #{map.get($brand, 90)};
    --colorBrandForegroundLinkSelected: #{map.get($brand, 100)};
    --colorNeutralForeground2Link: #{map.get($grey, '84')};
    --colorNeutralForeground2LinkHover: #{$white};
    --colorNeutralForeground2LinkPressed: #{$white};
    --colorNeutralForeground2LinkSelected: #{$white};
    --colorCompoundBrandForeground1: #{map.get($brand, 100)};
    --colorCompoundBrandForeground1Hover: #{map.get($brand, 110)};
    --colorCompoundBrandForeground1Pressed: #{map.get($brand, 90)};
    --colorBrandForeground1: #{map.get($brand, 100)};
    --colorBrandForeground2: #{map.get($brand, 110)};
    --colorBrandForeground2Hover: #{map.get($brand, 130)};
    --colorBrandForeground2Pressed: #{map.get($brand, 160)};
    --colorNeutralForeground1Static: #{map.get($grey, '14')};
    --colorNeutralForegroundStaticInverted: #{$white};
    --colorNeutralForegroundInverted: #{map.get($grey, '14')};
    --colorNeutralForegroundInvertedHover: #{map.get($grey, '14')};
    --colorNeutralForegroundInvertedPressed: #{map.get($grey, '14')};
    --colorNeutralForegroundInvertedSelected: #{map.get($grey, '14')};
    --colorNeutralForegroundInverted2: #{map.get($grey, '14')};
    --colorNeutralForegroundOnBrand: #{$white};
    --colorNeutralForegroundInvertedLink: #{$white};
    --colorNeutralForegroundInvertedLinkHover: #{$white};
    --colorNeutralForegroundInvertedLinkPressed: #{$white};
    --colorNeutralForegroundInvertedLinkSelected: #{$white};
    --colorBrandForegroundInverted: #{map.get($brand, 80)};
    --colorBrandForegroundInvertedHover: #{map.get($brand, 70)};
    --colorBrandForegroundInvertedPressed: #{map.get($brand, 60)};
    --colorBrandForegroundOnLight: #{map.get($brand, 80)};
    --colorBrandForegroundOnLightHover: #{map.get($brand, 70)};
    --colorBrandForegroundOnLightPressed: #{map.get($brand, 50)};
    --colorBrandForegroundOnLightSelected: #{map.get($brand, 60)};
    --colorNeutralBackground1: #{map.get($grey, '16')};
    --colorNeutralBackground1Hover: #{map.get($grey, '24')};
    --colorNeutralBackground1Pressed: #{map.get($grey, '12')};
    --colorNeutralBackground1Selected: #{map.get($grey, '22')};
    --colorNeutralBackground2: #{map.get($grey, '12')};
    --colorNeutralBackground2Hover: #{map.get($grey, '20')};
    --colorNeutralBackground2Pressed: #{map.get($grey, '8')};
    --colorNeutralBackground2Selected: #{map.get($grey, '18')};
    --colorNeutralBackground3: #{map.get($grey, '8')};
    --colorNeutralBackground3Hover: #{map.get($grey, '16')};
    --colorNeutralBackground3Pressed: #{map.get($grey, '4')};
    --colorNeutralBackground3Selected: #{map.get($grey, '14')};
    --colorNeutralBackground4: #{map.get($grey, '4')};
    --colorNeutralBackground4Hover: #{map.get($grey, '12')};
    --colorNeutralBackground4Pressed: #{$black};
    --colorNeutralBackground4Selected: #{map.get($grey, '12')};
    --colorNeutralBackground5: #{$black};
    --colorNeutralBackground5Hover: #{map.get($grey, '8')};
    --colorNeutralBackground5Pressed: #{map.get($grey, '2')};
    --colorNeutralBackground5Selected: #{map.get($grey, '6')};
    --colorNeutralBackground6: #{map.get($grey12Alpha, '70')};
    --colorNeutralBackgroundInverted: #{$white};
    --colorNeutralBackgroundStatic: #{map.get($grey, '24')};
    --colorNeutralBackgroundAlpha: #{map.get($grey10Alpha, '50')};
    --colorNeutralBackgroundAlpha2: #{map.get($grey12Alpha, '70')};
    --colorSubtleBackground: transparent;
    --colorSubtleBackgroundHover: #{map.get($grey, '22')};
    --colorSubtleBackgroundPressed: #{map.get($grey, '18')};
    --colorSubtleBackgroundSelected: #{map.get($grey, '20')};
    --colorSubtleBackgroundLightAlphaHover: #{map.get($grey14Alpha, '80')};
    --colorSubtleBackgroundLightAlphaPressed: #{map.get($grey14Alpha, '50')};
    --colorSubtleBackgroundLightAlphaSelected: transparent;
    --colorSubtleBackgroundInverted: transparent;
    --colorSubtleBackgroundInvertedHover: #{map.get($blackAlpha, '10')};
    --colorSubtleBackgroundInvertedPressed: #{map.get($blackAlpha, '30')};
    --colorSubtleBackgroundInvertedSelected: #{map.get($blackAlpha, '20')};
    --colorTransparentBackground: transparent;
    --colorTransparentBackgroundHover: transparent;
    --colorTransparentBackgroundPressed: transparent;
    --colorTransparentBackgroundSelected: transparent;
    --colorNeutralBackgroundDisabled: #{map.get($grey, '8')};
    --colorNeutralBackgroundInvertedDisabled: #{map.get($blackAlpha, '10')};
    --colorNeutralStencil1: #{map.get($grey, '34')};
    --colorNeutralStencil2: #{map.get($grey, '20')};
    --colorNeutralStencil1Alpha: #{map.get($blackAlpha, '10')};
    --colorNeutralStencil2Alpha: #{map.get($blackAlpha, '5')};
    --colorBackgroundOverlay: #{map.get($blackAlpha, '50')};
    --colorScrollbarOverlay: #{map.get($blackAlpha, '60')};
    --colorBrandBackground: #{map.get($brand, 70)};
    --colorBrandBackgroundHover: #{map.get($brand, 80)};
    --colorBrandBackgroundPressed: #{map.get($brand, 40)};
    --colorBrandBackgroundSelected: #{map.get($brand, 60)};
    --colorCompoundBrandBackground: #{map.get($brand, 100)};
    --colorCompoundBrandBackgroundHover: #{map.get($brand, 110)};
    --colorCompoundBrandBackgroundPressed: #{map.get($brand, 90)};
    --colorBrandBackgroundStatic: #{map.get($brand, 80)};
    --colorBrandBackground2: #{map.get($brand, 20)};
    --colorBrandBackground2Hover: #{map.get($brand, 40)};
    --colorBrandBackground2Pressed: #{map.get($brand, 10)};
    --colorBrandBackground3Static: #{map.get($brand, 60)};
    --colorBrandBackground4Static: #{map.get($brand, 40)};
    --colorBrandBackgroundInverted: #{$white};
    --colorBrandBackgroundInvertedHover: #{map.get($brand, 160)};
    --colorBrandBackgroundInvertedPressed: #{map.get($brand, 140)};
    --colorBrandBackgroundInvertedSelected: #{map.get($brand, 150)};
    --colorNeutralCardBackground: #{map.get($grey, '20')};
    --colorNeutralCardBackgroundHover: #{map.get($grey, '24')};
    --colorNeutralCardBackgroundPressed: #{map.get($grey, '18')};
    --colorNeutralCardBackgroundSelected: #{map.get($grey, '22')};
    --colorNeutralCardBackgroundDisabled: #{map.get($grey, '8')};
    --colorNeutralStrokeAccessible: #{map.get($grey, '68')};
    --colorNeutralStrokeAccessibleHover: #{map.get($grey, '74')};
    --colorNeutralStrokeAccessiblePressed: #{map.get($grey, '70')};
    --colorNeutralStrokeAccessibleSelected: #{map.get($brand, 100)};
    --colorNeutralStroke1: #{map.get($grey, '40')};
    --colorNeutralStroke1Hover: #{map.get($grey, '46')};
    --colorNeutralStroke1Pressed: #{map.get($grey, '42')};
    --colorNeutralStroke1Selected: #{map.get($grey, '44')};
    --colorNeutralStroke2: #{map.get($grey, '32')};
    --colorNeutralStroke3: #{map.get($grey, '24')};
    --colorNeutralStrokeSubtle: #{map.get($grey, '4')};
    --colorNeutralStrokeOnBrand: #{map.get($grey, '16')};
    --colorNeutralStrokeOnBrand2: #{$white};
    --colorNeutralStrokeOnBrand2Hover: #{$white};
    --colorNeutralStrokeOnBrand2Pressed: #{$white};
    --colorNeutralStrokeOnBrand2Selected: #{$white};
    --colorBrandStroke1: #{map.get($brand, 100)};
    --colorBrandStroke2: #{map.get($brand, 50)};
    --colorBrandStroke2Hover: #{map.get($brand, 50)};
    --colorBrandStroke2Pressed: #{map.get($brand, 30)};
    --colorBrandStroke2Contrast: #{map.get($brand, 50)};
    --colorCompoundBrandStroke: #{map.get($brand, 100)};
    --colorCompoundBrandStrokeHover: #{map.get($brand, 110)};
    --colorCompoundBrandStrokePressed: #{map.get($brand, 90)};
    --colorNeutralStrokeDisabled: #{map.get($grey, '26')};
    --colorNeutralStrokeInvertedDisabled: #{map.get($whiteAlpha, '40')};
    --colorTransparentStroke: transparent;
    --colorTransparentStrokeInteractive: transparent;
    --colorTransparentStrokeDisabled: transparent;
    --colorNeutralStrokeAlpha: #{map.get($whiteAlpha, '10')};
    --colorNeutralStrokeAlpha2: #{map.get($whiteAlpha, '20')};
    --colorStrokeFocus1: #{$black};
    --colorStrokeFocus2: #{$white};
    --colorNeutralShadowAmbient: rgba(0,0,0,0.24);
    --colorNeutralShadowKey: rgba(0,0,0,0.28);
    --colorNeutralShadowAmbientLighter: rgba(0,0,0,0.12);
    --colorNeutralShadowKeyLighter: rgba(0,0,0,0.14);
    --colorNeutralShadowAmbientDarker: rgba(0,0,0,0.40);
    --colorNeutralShadowKeyDarker: rgba(0,0,0,0.48);
    --colorBrandShadowAmbient: rgba(0,0,0,0.30);
    --colorBrandShadowKey: rgba(0,0,0,0.25);
}