@use "sass:map";
@import "../maps/status-color.scss";
@import "../maps/color-palette.scss";

@mixin status-color-palette {
    @each $status, $status-color in $status-color-map {
        $colorPaletteMap: map.get($mapped-status-colors-map, $status-color);
        --colorStatus#{capitalize($status)}Background1: #{map.get($colorPaletteMap, 'shade40')};
        --colorStatus#{capitalize($status)}Background2: #{map.get($colorPaletteMap, 'shade30')};
        --colorStatus#{capitalize($status)}Background3: #{map.get($colorPaletteMap, 'primary')};
        --colorStatus#{capitalize($status)}Foreground1: #{map.get($colorPaletteMap, 'tint30')};
        --colorStatus#{capitalize($status)}Foreground2: #{map.get($colorPaletteMap, 'tint40')};

        @if $status =='danger' {
            --colorStatus#{capitalize($status)}Foreground3: #{map.get($colorPaletteMap, 'tint40')};
        }
        @elseif $status =='success' {
            --colorStatus#{capitalize($status)}Foreground3: #{map.get($colorPaletteMap, 'tint40')};
        }
        @else {
            --colorStatus#{capitalize($status)}Foreground3: #{map.get($colorPaletteMap, 'tint20')};
        }

        --colorStatus#{capitalize($status)}ForegroundInverted: #{map.get($colorPaletteMap, 'shade10')};
        --colorStatus#{capitalize($status)}BorderActive: #{map.get($colorPaletteMap, 'tint30')};
        --colorStatus#{capitalize($status)}Border1: #{map.get($colorPaletteMap, 'primary')};

        @if $status =='danger' {
            --colorStatus#{capitalize($status)}Border2: #{map.get($colorPaletteMap, 'tint30')};
        }
        @elseif $status =='sucess' {
            --colorStatus#{capitalize($status)}Border2: #{map.get($colorPaletteMap, 'shade20')};
        }
        @else {
            --colorStatus#{capitalize($status)}Border2: #{map.get($colorPaletteMap, 'tint20')};
        }
    }

    $dangerMap: map.get($mapped-status-colors-map, map.get($status-color-map, 'danger'));
    $warningMap: map.get($mapped-status-colors-map, map.get($status-color-map, 'warning'));
    --colorStatusDangerBackground3Hover: #{map.get($dangerMap, 'shade10')};
    --colorStatusDangerBackground3Pressed: #{map.get($dangerMap, 'shade20')};
}
