@using Bluent.UI.Extensions
@using Bluent.UI.Interops.Abstractions
<div id="@GetTooltipId()" class="bui-tooltip">
    @Configuration.TooltipContent
    @if (Configuration.DisplayArrow)
    {
        <div class="arrow"></div>
    }
</div>

@code {
    [Parameter, EditorRequired] public TooltipConfiguration Configuration { get; set; } = default!;
    [Inject] private ITooltipInteropService InteropService { get; set; } = default!;


    private string GetTooltipId() => $"{Configuration.ElementId}_tooltip";

    protected override void OnInitialized()
    {
        if (InteropService == null)
            throw new InvalidOperationException($"Required '{nameof(ITooltipInteropService)}' service is not found. You should register '{nameof(Bluent)}' services using 'services.{nameof(ServiceCollectionExtensions.AddBluentUI)}' extension method.");

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            InteropService.SetTooltip($"#{Configuration.ElementId}", $"#{GetTooltipId()}", Configuration.Placement);

        base.OnAfterRender(firstRender);
    }
}
