@using Bluent.UI.Services
@using Bluent.UI.Services.Abstractions
@using Humanizer
<div id="@Config.SurfaceId" class="bui-popover-surface @(Config.Appearance.ToString().Kebaberize()) @(Config.Settings.Placement.ToString().Kebaberize())">
    @Config.Content
    @if (Config.DisplayArrow)
    {
        <div class="arrow"></div>
    }
</div>
@code {
    [Parameter, EditorRequired] public PopoverConfiguration Config { get; set; } = default!;
    [Inject] private ITooltipService Service { get; set; } = default!;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
            Service.Show(Config.Settings.TriggerId);

        base.OnAfterRender(firstRender);
    }
}
