.bui-drawing-canvas {
    touch-action: none;
    position: relative;

    > svg {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    > .selection-options {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        > .options {
            position: absolute;

            > * {
                position: absolute;
                pointer-events: all;
            }
        }
    }
}
