@inherits Bluent.Core.BluentComponentBase
@namespace Bluent.UI.Components

@using Bluent.UI.Components.PropertyEditorComponent.Internal

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    @if (Object is null)
    {
        <Bluent.UI.Components.MessageBar>Nothing is selected.</Bluent.UI.Components.MessageBar>
    }
    else if (_context != null)
    {
        <Bluent.UI.Components.Accordion HeaderAction="AccordionHeaderAction.Toggle" Multiple>

            @foreach (var category in _context.Categories)
            {
                <Bluent.UI.Components.AccordionPanel Header="@category.Name">
                    <div class="d-flex flex-column gap-2">
                        @foreach (var property in category.Properties)
                        {
                            <PropertyEditorItem Property="property" Object="Object" ValueUpdated="PropertyUpdated" />
                        }
                    </div>
                </Bluent.UI.Components.AccordionPanel>
            }

        </Bluent.UI.Components.Accordion>
    }
</div>