@namespace Bluent.UI.Components
@inherits BluentUiComponentBase

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style"
     @onanimationend="AnimationEndedHandler">
    <CascadingValue Value="this" IsFixed>
        @ChildContent
    </CascadingValue>
</div>