@namespace Bluent.UI.Components

<div class="header">
    <h2 class="title">@Title</h2>
    @if (ShowDismissButton)
    {
        <Button Appearance="ButtonAppearance.Transparent"
                Icon="icon-ic_fluent_dismiss_20_regular"
                ActiveIcon="icon-ic_fluent_dismiss_20_filled"
                Size="ButtonSize.Large"
                Class="fs-4"
                OnClick="CloseHandler" />
    }
</div>
<div class="content">
    @if (ContentComponentType != null)
    {
        <DynamicComponent Type="ContentComponentType" Parameters="ContentParameters" />
    }
    else
    {
        @ChildContent
    }
</div>
