<div class="header">
    <h2 class="title">@Title</h2>
    @if (ShowCloseButton)
    {
        <Button Appearance="ButtonAppearance.Transparent"
                Icon="icon-ic_fluent_dismiss_20_regular"
                ActiveIcon="icon-ic_fluent_dismiss_20_filled"
                Size="ButtonSize.Large"
                Class="fs-4"
                OnClick="CloseHandler" />
    }
</div>
<div class="content">
    <DynamicComponent Type="ContentComponentType" Parameters="ContentParameters" />
</div>

@code {
    [Parameter] public Type ContentComponentType { get; set; } = default!;
    [Parameter] public IDictionary<string, object?>? ContentParameters { get; set; }
    [Parameter] public string Title { get; set; } = default!;
    [Parameter] public bool ShowCloseButton { get; set; } = true;
    [CascadingParameter] public Drawer? Drawer { get; set; }

    private void CloseHandler()
    {
        Drawer?.Close();
    }
}
