.bui-accordion > .accordion-panel > .header {
  margin: 0;
  background-color: var(--colorTransparentBackground);
  color: var(--colorNeutralForeground1);
  cursor: pointer;
  box-sizing: border-box;
  min-height: 44px;
  padding-inline-start: var(--spacingHorizontalMNudge);
  padding-inline-end: var(--spacingHorizontalM);
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: var(--borderRadiusMedium);
  border-width: 0px;
  position: relative;
  align-items: center;
  display: flex;
  line-height: var(--lineHeightBase300);
  font-weight: var(--fontWeightRegular);
  font-size: var(--fontSizeBase300);
  font-family: var(--fontFamilyBase);
}
.bui-accordion > .accordion-panel > .header > .expander {
  height: 100%;
  font-size: var(--fontSizeBase500);
  line-height: var(--lineHeightBase500);
  align-items: center;
  display: flex;
  padding-inline-end: var(--spacingHorizontalS);
}
.bui-accordion > .accordion-panel > .header > .expander > i {
  transition-property: transform;
  transition-duration: var(--durationSlower);
  transition-timing-function: var(--curveDecelerateMid);
}
.bui-accordion > .accordion-panel > .header > .icon {
  height: 100%;
  font-size: var(--fontSizeBase500);
  line-height: var(--lineHeightBase500);
  align-items: center;
  display: flex;
  padding-inline-end: var(--spacingHorizontalS);
}
.bui-accordion > .accordion-panel > .panel {
  display: none;
  margin: 0 var(--spacingHorizontalM);
}
.bui-accordion > .accordion-panel.expanded > .header > .expander > i {
  transform: rotate(90deg);
}
.bui-accordion > .accordion-panel.expanded > .panel {
  display: block;
}

.bui-button {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--spacingHorizontalSNudge);
  justify-content: center;
  text-decoration-line: none;
  vertical-align: middle;
  margin: 0px;
  overflow: hidden;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  font-family: var(--fontFamilyBase);
  outline-style: none;
  padding: 5px var(--spacingHorizontalM);
  min-width: 96px;
  border-radius: var(--borderRadiusMedium);
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightBase300);
  transition-duration: var(--durationFaster);
  transition-property: background, border, color;
  transition-timing-function: var(--curveEasyEase);
  cursor: pointer;
}
.bui-button > .active-icon {
  display: none;
}
.bui-button.icon {
  max-width: 32px;
  min-width: 32px;
  padding: 5px;
}
.bui-button.compound {
  height: auto;
  padding-top: 14px;
  padding-bottom: var(--spacingHorizontalL);
}
.bui-button.compound > .text {
  flex-direction: column;
  display: flex;
  text-align: start;
}
.bui-button.compound > .text > .secondary-text {
  color: var(--colorNeutralForeground2);
  line-height: 100%;
  font-size: var(--fontSizeBase200);
  font-weight: var(--fontWeightRegular);
}
.bui-button.toggled {
  background-color: var(--colorNeutralBackground1Selected);
  color: var(--colorNeutralForeground1Selected);
  border-color: var(--colorNeutralStroke1);
}
.bui-button.toggled > .active-icon {
  display: inline;
}
.bui-button.toggled > .active-icon + .icon {
  display: none;
}
.bui-button:hover {
  background-color: var(--colorNeutralBackground1Hover);
  border-color: var(--colorNeutralStroke1Hover);
  color: var(--colorNeutralForeground1Hover);
}
.bui-button:hover > .active-icon {
  display: inline;
}
.bui-button:hover > .active-icon + .icon {
  display: none;
}
.bui-button:hover:active {
  background-color: var(--colorNeutralBackground1Pressed);
  border-color: var(--colorNeutralStroke1Pressed);
  color: var(--colorNeutralForeground1Pressed);
  outline-style: none;
}
.bui-button:focus {
  border-color: var(--colorStrokeFocus2);
  border-radius: var(--borderRadiusMedium);
  border-width: 1px;
  outline: var(--strokeWidthThick) solid var(--colorTransparentStroke);
  box-shadow: 0 0 0 var(--strokeWidthThin) var(--colorStrokeFocus2) inset;
  z-index: 1;
}
.bui-button.circular {
  border-radius: var(--borderRadiusCircular);
}
.bui-button.square {
  border-radius: var(--borderRadiusNone);
}
.bui-button.primary {
  background-color: var(--colorBrandBackground);
  color: var(--colorNeutralForegroundOnBrand);
  border-color: transparent;
}
.bui-button.primary.toggled {
  background-color: var(--colorBrandBackgroundSelected);
  color: var(--colorNeutralForegroundOnBrand);
  border-color: transparent;
}
.bui-button.primary:hover {
  background-color: var(--colorBrandBackgroundHover);
}
.bui-button.primary:hover:active {
  background-color: var(--colorBrandBackgroundPressed);
  color: var(--colorNeutralForegroundOnBrand);
}
.bui-button.primary:focus {
  box-shadow: var(--shadow2), 0 0 0 var(--strokeWidthThin) var(--colorStrokeFocus2) inset, 0 0 0 var(--strokeWidthThick) var(--colorNeutralForegroundOnBrand) inset;
}
.bui-button.outline {
  background-color: var(--colorTransparentBackground);
}
.bui-button.outline.toggled {
  background-color: var(--colorTransparentBackgroundSelected);
  color: var(--colorNeutralForeground1Selected);
  border-color: var(--colorNeutralStroke1);
  border-width: var(--strokeWidthThicker);
}
.bui-button.outline:hover {
  background-color: var(--colorTransparentBackgroundHover);
  border-color: var(--colorNeutralStroke1Hover);
  color: var(--colorNeutralForeground1Hover);
}
.bui-button.outline:hover:active {
  background-color: var(--colorTransparentBackgroundPressed);
  border-color: var(--colorNeutralStroke1Pressed);
  color: var(--colorNeutralForeground1Pressed);
  outline-style: none;
}
.bui-button.subtle {
  color: var(--colorNeutralForeground2);
  background-color: var(--colorSubtleBackground);
  border-color: transparent;
}
.bui-button.subtle.toggled {
  color: var(--colorNeutralForeground2Selected);
  background-color: var(--colorSubtleBackgroundSelected);
}
.bui-button.subtle:hover {
  color: var(--colorNeutralForeground2Hover);
  background-color: var(--colorSubtleBackgroundHover);
  border-color: transparent;
}
.bui-button.subtle:hover > .icon, .bui-button.subtle:hover > .active-icon {
  color: var(--colorNeutralForeground2BrandHover);
}
.bui-button.subtle:hover:active {
  color: var(--colorNeutralForeground2Pressed);
  background-color: var(--colorSubtleBackgroundPressed);
  border-color: transparent;
}
.bui-button.subtle:hover:active > .icon {
  color: var(--colorNeutralForeground2BrandPressed);
}
.bui-button.transparent {
  color: var(--colorNeutralForeground2);
  background-color: var(--colorTransparentBackground);
  border-color: transparent;
}
.bui-button.transparent.toggled {
  color: var(--colorNeutralForeground2BrandSelected);
  background-color: var(--colorTransparentBackgroundSelected);
}
.bui-button.transparent:hover {
  color: var(--colorNeutralForeground2BrandHover);
  background-color: var(--colorTransparentBackgroundHover);
}
.bui-button.transparent:hover:active {
  color: var(--colorNeutralForeground2BrandPressed);
  background-color: var(--colorTransparentBackgroundPressed);
}
.bui-button[disabled] {
  color: var(--colorNeutralForegroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  background-color: var(--colorNeutralBackgroundDisabled);
  cursor: not-allowed;
}
.bui-button[disabled]:hover {
  color: var(--colorNeutralForegroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  background-color: var(--colorNeutralBackgroundDisabled);
}
.bui-button[disabled]:hover > .active-icon {
  display: none;
}
.bui-button[disabled]:hover > .active-icon + .icon {
  display: inline;
}
.bui-button[disabled]:hover:active {
  color: var(--colorNeutralForegroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  background-color: var(--colorNeutralBackgroundDisabled);
}
.bui-button.small {
  font-size: var(--fontSizeBase200);
  padding: 3px var(--spacingHorizontalS);
  min-width: 64px;
  line-height: var(--lineHeightBase200);
  font-weight: var(--fontWeightRegular);
}
.bui-button.small.icon {
  max-width: 24px;
  min-width: 24px;
  padding: 1px;
}
.bui-button.large {
  font-weight: var(--fontWeightSemibold);
  font-size: var(--fontSizeBase400);
  padding: 8px var(--spacingHorizontalL);
  min-width: 96px;
  line-height: var(--lineHeightBase400);
}
.bui-button.large.icon {
  max-width: 40px;
  min-width: 40px;
  padding: 7px;
}

.ltr .bui-button-group, [dir=ltr] .bui-button-group {
  display: flex;
}
.ltr .bui-button-group :first-child, [dir=ltr] .bui-button-group :first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ltr .bui-button-group :last-child, [dir=ltr] .bui-button-group :last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ltr .bui-button-group :not(:first-child), [dir=ltr] .bui-button-group :not(:first-child) {
  border-left-color: transparent;
}
.ltr .bui-button-group :not(:first-child):not(:last-child), [dir=ltr] .bui-button-group :not(:first-child):not(:last-child) {
  border-radius: 0;
}
.ltr .bui-button-group .bui-button.subtle:not(:first-child), .ltr .bui-button-group .bui-button.transparent:not(:first-child), [dir=ltr] .bui-button-group .bui-button.subtle:not(:first-child), [dir=ltr] .bui-button-group .bui-button.transparent:not(:first-child) {
  border-left-color: var(--colorNeutralStroke1);
}

.rtl .bui-button-group, [dir=rtl] .bui-button-group {
  display: flex;
}
.rtl .bui-button-group :first-child, [dir=rtl] .bui-button-group :first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.rtl .bui-button-group :last-child, [dir=rtl] .bui-button-group :last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.rtl .bui-button-group :not(:first-child), [dir=rtl] .bui-button-group :not(:first-child) {
  border-right-color: transparent;
}
.rtl .bui-button-group :not(:first-child):not(:last-child), [dir=rtl] .bui-button-group :not(:first-child):not(:last-child) {
  border-radius: 0;
}
.rtl .bui-button-group .bui-button.subtle:not(:first-child), .rtl .bui-button-group .bui-button.transparent:not(:first-child), [dir=rtl] .bui-button-group .bui-button.subtle:not(:first-child), [dir=rtl] .bui-button-group .bui-button.transparent:not(:first-child) {
  border-right-color: var(--colorNeutralStroke1);
}

.bui-calendar {
  width: 196px;
  padding: 12px;
  margin: 0;
  overflow: hidden;
  box-sizing: content-box;
}
.bui-calendar > .header {
  line-height: 44px;
  height: 28px;
  display: inline-flex;
  width: 100%;
}
.bui-calendar > .header > .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-inline: 10px 4px;
  padding-bottom: 0px;
  padding-top: 0px;
  line-height: 28px;
  display: inline-block;
  border-radius: 2px;
  font-family: inherit;
  overflow: hidden;
  font-weight: var(--fontWeightSemibold);
  font-size: var(--fontSizeBase300);
  text-align: start;
  color: var(--colorNeutralForeground1);
  background-color: var(--colorTransparentBackground);
  flex-grow: 1;
  cursor: pointer;
  border-style: none;
  animation-fill-mode: both;
  animation-name: fade-in;
  animation-duration: var(--durationGentle);
  animation-timing-function: var(--curveEasyEase);
}
.bui-calendar > .header > .title:hover {
  outline-color: var(--colorTransparentStroke);
  outline-style: solid;
  outline-width: 1px;
  color: var(--colorBrandForegroundOnLightHover);
  background-color: var(--colorBrandBackgroundInvertedHover);
}
.bui-calendar > .header > .title:hover:active {
  color: var(--colorBrandForegroundOnLightPressed);
  background-color: var(--colorBrandBackgroundInvertedPressed);
  outline-color: var(--colorTransparentStroke);
}
.bui-calendar > .header > .nav {
  align-self: flex-end;
  display: inline-flex;
}
.bui-calendar > .header > .nav > button {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  text-align: center;
  color: var(--colorNeutralForeground3);
  display: block;
  padding: 0px;
  font-size: var(--fontSizeBase200);
  background-color: var(--colorTransparentBackground);
  border-style: none;
  cursor: pointer;
}
.bui-calendar > .header > .nav > button:hover {
  outline-color: var(--colorTransparentStroke);
  outline-style: solid;
  outline-width: 1px;
  color: var(--colorBrandForegroundOnLightHover);
  background-color: var(--colorBrandBackgroundInvertedHover);
}
.bui-calendar > .header > .nav > button:hover:active {
  color: var(--colorBrandForegroundOnLightPressed);
  background-color: var(--colorBrandBackgroundInvertedPressed);
  outline-color: var(--colorTransparentStroke);
}
.bui-calendar.day-select {
  font-family: var(--fontFamilyBase);
}
.bui-calendar.day-select > table {
  table-layout: fixed;
  margin-top: 4px;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 196px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  font-size: inherit;
  animation-fill-mode: both;
  animation-duration: var(--durationGentle);
  animation-timing-function: var(--curveEasyEase);
}
.bui-calendar.day-select > table th {
  user-select: none;
  width: 28px;
  height: 28px;
  line-height: 28px;
  animation-fill-mode: both;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: var(--fontSizeBase200);
  font-weight: var(--fontWeightRegular);
  color: var(--colorNeutralForeground1);
}
.bui-calendar.day-select > table td.day-cell {
  border-radius: 2px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: var(--fontSizeBase200);
  font-weight: var(--fontWeightRegular);
  color: var(--colorNeutralForeground1);
}
.bui-calendar.day-select > table td.day-cell > button {
  line-height: 24px;
  font-weight: inherit;
  border-radius: 2px;
  padding: 0px;
  color: inherit;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: var(--fontSizeBase200);
  background-color: var(--colorTransparentBackground);
  border-style: none;
}
.bui-calendar.day-select > table td.day-cell.prev {
  color: var(--colorNeutralForeground4);
}
.bui-calendar.day-select > table td.day-cell.next {
  color: var(--colorNeutralForeground4);
}
.bui-calendar.day-select > table td.day-cell.selected {
  color: var(--colorNeutralForeground1Static);
  background-color: var(--colorBrandBackgroundInvertedSelected);
}
.bui-calendar.day-select > table td.day-cell.today > button {
  border-radius: 100%;
  font-weight: var(--fontWeightSemibold);
  color: var(--colorNeutralForegroundOnBrand);
  background-color: var(--colorBrandBackground);
}
.bui-calendar.day-select > table td.day-cell.disabled {
  color: var(--colorNeutralForegroundDisabled);
  pointer-events: none;
  background-color: var(--colorTransparentBackground);
  cursor: pointer;
}
.bui-calendar.day-select > table td.day-cell:hover {
  outline-color: var(--colorTransparentStroke);
  outline-style: solid;
  outline-width: 1px;
  color: var(--colorBrandForegroundOnLightHover);
  background-color: var(--colorBrandBackgroundInvertedHover);
}
.bui-calendar.day-select > table td.day-cell:hover:active {
  color: var(--colorBrandForegroundOnLightPressed);
  background-color: var(--colorBrandBackgroundInvertedPressed);
  outline-color: var(--colorTransparentStroke);
}
.bui-calendar.month-select > div.grid, .bui-calendar.year-select > div.grid {
  margin-top: 4px;
  animation-fill-mode: both;
  animation-duration: var(--durationGentle);
  animation-timing-function: var(--curveEasyEase);
}
.bui-calendar.month-select > div.grid > .row:not(:last-child), .bui-calendar.year-select > div.grid > .row:not(:last-child) {
  margin-bottom: 16px;
}
.bui-calendar.month-select > div.grid > .row > button, .bui-calendar.year-select > div.grid > .row > button {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-family: inherit;
  color: var(--colorNeutralForeground3);
  padding: 0px;
  font-size: var(--fontSizeBase200);
  background-color: var(--colorTransparentBackground);
  border-style: none;
  cursor: pointer;
}
.bui-calendar.month-select > div.grid > .row > button:not(:last-child), .bui-calendar.year-select > div.grid > .row > button:not(:last-child) {
  margin-inline-end: 12px;
}
.bui-calendar.month-select > div.grid > .row > button:hover, .bui-calendar.year-select > div.grid > .row > button:hover {
  color: var(--colorNeutralForeground1Static);
  outline-color: var(--colorTransparentStroke);
  outline-style: solid;
  outline-width: 1px;
  background-color: var(--colorBrandBackgroundInvertedHover);
}
.bui-calendar.month-select > div.grid > .row > button:hover:active, .bui-calendar.year-select > div.grid > .row > button:hover:active {
  background-color: var(--colorBrandBackgroundInvertedPressed);
}
.bui-calendar.transition-up.day-select > table {
  animation-name: fade-in, slide-up;
}
.bui-calendar.transition-up.month-select > div.grid, .bui-calendar.transition-up.year-select > div.grid {
  animation-name: fade-in, slide-up;
}
.bui-calendar.transition-down.day-select > table {
  animation-name: fade-in, slide-down;
}
.bui-calendar.transition-down.month-select > div.grid, .bui-calendar.transition-down.year-select > div.grid {
  animation-name: fade-in, slide-down;
}

.bui-card {
  --bui-card-border-radius: var(--borderRadiusMedium);
  --bui-card-size: 12px;
  box-shadow: var(--shadow4);
  gap: var(--bui-card-size);
  padding: var(--bui-card-size);
  border-radius: var(--bui-card-border-radius);
  overflow: hidden;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
}
.bui-card:after {
  border: var(--strokeWidthThin) solid var(--colorTransparentStroke);
  border-radius: var(--bui-card-border-radius);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  pointer-events: none;
}
.bui-card.active {
  cursor: pointer;
}
.bui-card.active:hover {
  box-shadow: var(--shadow8);
  background-color: var(--colorNeutralBackground1Hover);
}
.bui-card.active:hover:active {
  background-color: var(--colorNeutralBackground1Pressed);
}
.bui-card > .card-header {
  --bui-card-header-gap: 12px;
  flex-shrink: 0;
  grid-auto-columns: min-content 1fr min-content;
  display: grid;
  align-items: center;
  color: var(--colorNeutralForeground1);
}
.bui-card > .card-header > .image {
  grid-row-start: span 2;
  grid-column-start: 1;
  margin-inline-end: var(--bui-card-header-gap);
  display: inline-flex;
  color: var(--colorNeutralForeground1);
}
.bui-card > .card-header > .header {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  color: var(--colorNeutralForeground1);
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
  text-align: start;
  display: inline;
  line-height: var(--lineHeightBase300);
  font-weight: var(--fontWeightSemibold);
  font-size: var(--fontSizeBase300);
  font-family: var(--fontFamilyBase);
}
.bui-card > .card-header > .description {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  color: var(--colorNeutralForeground3);
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
  text-align: start;
  font-size: var(--fontSizeBase200);
  line-height: var(--lineHeightBase200);
  font-weight: var(--fontWeightRegular);
  font-family: var(--fontFamilyBase);
}
.bui-card > .card-header > .action {
  grid-column-start: 3;
  grid-row-start: span 2;
  margin-inline-start: var(--bui-card-header-gap);
}
.bui-card > .card-preview {
  margin-right: calc(var(--bui-card-size) * -1);
  margin-left: calc(var(--bui-card-size) * -1);
  position: relative;
}
.bui-card > .card-preview > .logo {
  position: absolute;
  height: 32px;
  width: 32px;
  left: 12px;
  bottom: 12px;
}
.bui-card > .card-preview:first-child {
  margin-top: calc(var(--bui-card-size) * -1);
}
.bui-card > .card-footer {
  flex-shrink: 0;
  gap: 12px;
  display: flex;
  flex-direction: row;
}
.bui-card > .card-content {
  margin: 0px;
}
.bui-card > .card-floating-action {
  z-index: 1;
  right: 4px;
  top: 4px;
  position: absolute;
}
.bui-card.horizontal {
  flex-direction: row;
}
.bui-card.horizontal > .card-header {
  flex-grow: 1;
  flex-shrink: 0;
}
.bui-card.horizontal > .card-preview {
  margin-top: calc(var(--bui-card-size) * -1);
  margin-bottom: calc(var(--bui-card-size) * -1);
  margin-right: unset;
  margin-left: unset;
  margin-inline-start: calc(var(--bui-card-size) * -1);
  height: 64px;
  width: 64px;
}
.bui-card.small {
  --bui-card-border-radius: var(--borderRadiusSmall);
  --bui-card-size: 8px;
}
.bui-card.large {
  --bui-card-border-radius: var(--borderRadiusLarge);
  --bui-card-size: 16px;
}
.bui-card.filled-alternative {
  background-color: var(--colorNeutralBackground2);
}
.bui-card.outline {
  box-shadow: none;
  background-color: var(--colorTransparentBackground);
}
.bui-card.outline:after {
  border-color: var(--colorNeutralStroke1);
}
.bui-card.outline.active:hover {
  background-color: var(--colorTransparentBackgroundHover);
  box-shadow: none;
}
.bui-card.outline.active:hover:active {
  background-color: var(--colorTransparentBackgroundPressed);
}
.bui-card.subtle {
  box-shadow: none;
  background-color: var(--colorSubtleBackground);
}
.bui-card.subtle.active:hover {
  background-color: var(--colorSubtleBackgroundHover);
  box-shadow: none;
}
.bui-card.subtle.active:hover:active {
  background-color: var(--colorSubtleBackgroundPressed);
}
.bui-card.selected {
  background-color: var(--colorNeutralBackground1Selected);
}
.bui-card.selected:after {
  border-color: var(--colorNeutralStroke1Selected);
}

.bui-checkbox {
  color: var(--colorNeutralForeground3);
  position: relative;
  display: inline-flex;
  cursor: pointer;
  vertical-align: middle;
}
.bui-checkbox.indeterminate {
  --bui-checkbox-indicator-borderColor: var(--colorCompoundBrandStroke);
  --bui-checkbox-indicator-color: var(--colorCompoundBrandForeground1);
  --bui-checkbox-indicator-backgroundColor: unset;
  color: var(--colorNeutralForeground1);
}
.bui-checkbox.indeterminate:hover {
  --bui-checkbox-indicator-borderColor: var(--colorCompoundBrandStrokeHover);
  --bui-checkbox-indicator-color: var(--colorCompoundBrandForeground1Hover);
  --bui-checkbox-indicator-backgroundColor: unset;
}
.bui-checkbox.checked {
  --bui-checkbox-indicator-borderColor: var(--colorCompoundBrandBackground);
  --bui-checkbox-indicator-color: var(--colorNeutralForegroundInverted);
  --bui-checkbox-indicator-backgroundColor: var(--colorCompoundBrandBackground);
  color: var(--colorNeutralForeground1);
}
.bui-checkbox.checked:hover {
  --bui-checkbox-indicator-borderColor: var(--colorCompoundBrandBackgroundHover);
  --bui-checkbox-indicator-color: var(--colorNeutralForegroundInverted);
  --bui-checkbox-indicator-backgroundColor: var(--colorCompoundBrandBackgroundHover);
}
.bui-checkbox.unchecked {
  --bui-checkbox-indicator-borderColor: unset;
  --bui-checkbox-indicator-color: unset;
  --bui-checkbox-indicator-backgroundColor: unset;
}
.bui-checkbox.disabled {
  --bui-checkbox-indicator-borderColor: var(--colorNeutralStrokeDisabled) !important;
  --bui-checkbox-indicator-color: var(--colorNeutralForegroundDisabled) !important;
  --bui-checkbox-indicator-backgroundColor: unset !important;
  cursor: default;
}
.bui-checkbox > input {
  box-sizing: border-box;
  cursor: inherit;
  height: 100%;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(16px + 2 * var(--spacingHorizontalS));
  order: 1;
}
.bui-checkbox > .indicator {
  align-self: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--bui-checkbox-indicator-color);
  background-color: var(--bui-checkbox-indicator-backgroundColor);
  border-color: var(--bui-checkbox-indicator-borderColor, var(--colorNeutralStrokeAccessible));
  border-style: solid;
  border-width: var(--strokeWidthThin);
  border-radius: var(--borderRadiusSmall);
  margin: var(--spacingVerticalS) var(--spacingHorizontalS);
  fill: currentcolor;
  pointer-events: none;
  font-size: 12px;
  height: 16px;
  width: 16px;
  order: 1;
}
.bui-checkbox > label {
  cursor: inherit;
  color: inherit;
  margin-bottom: calc((16px - var(--lineHeightBase300)) / 2);
  margin-top: calc((16px - var(--lineHeightBase300)) / 2);
  align-self: center;
  padding: var(--spacingVerticalS) var(--spacingHorizontalXS);
  font-size: var(--fontSizeBase300);
  font-family: var(--fontFamilyBase);
  order: 2;
}
.bui-checkbox > label > .required {
  padding-inline-start: var(--spacingHorizontalXS);
  color: var(--colorPaletteRedForeground3);
}
.bui-checkbox.large > input {
  width: calc(20px + 2 * var(--spacingHorizontalS));
}
.bui-checkbox.large > .indicator {
  width: 20px;
  height: 20px;
  font-size: 16px;
}
.bui-checkbox.large > label {
  margin-bottom: calc((20px - var(--lineHeightBase300)) / 2);
  margin-top: calc((20px - var(--lineHeightBase300)) / 2);
  line-height: var(--lineHeightBase300);
}
.bui-checkbox.label-before > input {
  order: 2;
}
.bui-checkbox.label-before > .indicator {
  order: 2;
}
.bui-checkbox.label-before > label {
  order: 1;
}
.bui-checkbox.circular > .indicator {
  border-radius: var(--borderRadiusCircular);
}

.rtl .bui-checkbox > input, [dir=rtl] .bui-checkbox > input {
  left: unset;
  right: 0px;
}

.bui-field {
  --fui-text-field-line-height: var(--lineHeightBase300);
  --fui-text-field-font-size: var(--fontSizeBase300);
  --fui-text-field-padding-x: var(--spacingHorizontalM);
  --fui-text-field-min-height: 32px;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: var(--colorNeutralStroke1);
  border-bottom-color: var(--colorNeutralStrokeAccessible);
  gap: var(--spacingHorizontalXXS);
  border-radius: var(--borderRadiusMedium);
  background-color: var(--colorNeutralBackground1);
  font-family: var(--fontFamilyBase);
  font-weight: var(--fontWeightRegular);
  font-size: var(--fui-text-field-font-size);
  line-height: var(--fui-text-field-line-height);
  min-height: var(--fui-text-field-min-height);
}
.bui-field > input, .bui-field select {
  padding-inline: var(--fui-text-field-padding-x) var(--fui-text-field-padding-x);
  align-self: stretch;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0px;
  border-style: none;
  color: var(--colorNeutralForeground1);
  background-color: transparent;
  outline-style: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.bui-field > input:disabled, .bui-field select:disabled {
  color: var(--colorNeutralForegroundDisabled);
  background-color: var(--colorTransparentBackground);
  cursor: not-allowed;
}
.bui-field > input + .end-addon, .bui-field select + .end-addon {
  margin-inline-start: calc(var(--fui-text-field-padding-x) * -1);
}
.bui-field > .start-addon {
  min-width: var(--fui-text-field-min-height);
  font-size: var(--fui-text-field-font-size);
  font-weight: inherit;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.bui-field > .start-addon + input, .bui-field > .start-addon + select {
  padding-inline-start: 0;
}
.bui-field > .end-addon {
  min-width: var(--fui-text-field-min-height);
  font-size: var(--fui-text-field-font-size);
  font-weight: inherit;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.bui-field.small {
  --fui-text-field-line-height: var(--lineHeightBase200);
  --fui-text-field-font-size: var(--fontSizeBase200);
  --fui-text-field-padding-x: var(--spacingHorizontalS);
  --fui-text-field-min-height: 24px;
}
.bui-field.large {
  --fui-text-field-line-height: var(--lineHeightBase400);
  --fui-text-field-font-size: var(--fontSizeBase400);
  --fui-text-field-padding-x: calc(var(--spacingHorizontalM) + var(--spacingHorizontalSNudge));
  --fui-text-field-min-height: 40px;
}
.bui-field:after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  left: -1px;
  bottom: -1px;
  right: -1px;
  height: max(2px, var(--borderRadiusMedium));
  border-bottom-left-radius: var(--borderRadiusMedium);
  border-bottom-right-radius: var(--borderRadiusMedium);
  border-bottom: 2px solid var(--colorCompoundBrandStroke);
  clip-path: inset(calc(100% - 2px) 0px 0px);
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: var(--durationUltraFast);
  transition-delay: var(--curveAccelerateMid);
}
.bui-field:hover {
  border-color: var(--colorNeutralStroke1Hover);
  border-bottom-color: var(--colorNeutralStrokeAccessibleHover);
}
.bui-field:active {
  border-color: var(--colorNeutralStroke1Pressed);
  border-bottom-color: var(--colorNeutralStrokeAccessiblePressed);
}
.bui-field:focus-within {
  border-color: var(--colorNeutralStroke1Pressed);
  border-bottom-color: var(--colorNeutralStrokeAccessiblePressed);
}
.bui-field:focus-within:after {
  transform: scaleX(1);
  transition-property: transform;
  transition-duration: var(--durationNormal);
  transition-delay: var(--curveDecelerateMid);
}
.bui-field.disabled {
  color: var(--colorNeutralForegroundDisabled);
  background-color: var(--colorTransparentBackground);
  cursor: not-allowed;
}

.bui-label {
  line-height: var(--lineHeightBase300);
  font-size: var(--fontSizeBase300);
  font-family: var(--fontFamilyBase);
  color: var(--colorNeutralForeground1);
}
.bui-label > .required {
  padding-inline-start: var(--spacingHorizontalXS);
  color: var(--colorPaletteRedForeground3);
}
.bui-label.small {
  font-size: var(--fontSizeBase200);
  line-height: var(--lineHeightBase200);
  font-family: var(--fontFamilyBase);
  color: var(--colorNeutralForeground1);
}
.bui-label.large {
  font-weight: var(--fontWeightSemibold);
  font-size: var(--fontSizeBase400);
  line-height: var(--lineHeightBase400);
  font-family: var(--fontFamilyBase);
}
.bui-label.disabled {
  color: var(--colorNeutralForegroundDisabled);
}
.bui-label.disabled > .required {
  color: inherit;
}

.bui-link {
  user-select: text;
  text-overflow: inherit;
  text-decoration-thickness: var(--strokeWidthThin);
  color: var(--colorBrandForegroundLink);
  background-color: transparent;
  text-decoration-line: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  display: inline;
  font-weight: var(--fontWeightRegular);
  font-family: var(--fontFamilyBase);
  text-align: start;
  border: 0;
}
.bui-link.subtle {
  color: var(--colorNeutralForeground2);
}
.bui-link:hover {
  color: var(--colorBrandForegroundLinkHover);
  text-decoration-line: underline;
}
.bui-link:hover.subtle {
  color: var(--colorNeutralForeground2Hover);
}
.bui-link:active {
  color: var(--colorBrandForegroundLinkPressed);
  text-decoration-line: underline;
}
.bui-link:active.subtle {
  color: var(--colorNeutralForeground2Pressed);
}
.bui-link:focus-visible {
  outline-style: none;
}
.bui-link[disabled] {
  cursor: not-allowed;
  color: var(--colorNeutralForegroundDisabled);
}
.bui-link[disabled]:hover {
  text-decoration-line: none;
}

.bui-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--colorNeutralBackground1);
  width: max-content;
  min-width: 128px;
  max-width: 300px;
}
.bui-menu-list > .menu-item {
  border-radius: var(--borderRadiusMedium);
  position: relative;
  color: var(--colorNeutralForeground2);
  background-color: var(--colorNeutralBackground1);
  padding: var(--spacingVerticalSNudge);
  box-sizing: border-box;
  max-width: 290px;
  min-height: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: start;
  font-size: var(--fontSizeBase300);
  cursor: pointer;
  gap: 4px;
  user-select: none;
}
.bui-menu-list > .menu-item > .checked {
  margin-top: 2px;
  width: 16px;
  height: 16px;
}
.bui-menu-list > .menu-item > .icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 0;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.bui-menu-list > .menu-item > .active-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 0;
  align-items: center;
  justify-content: center;
  display: none;
}
.bui-menu-list > .menu-item > .title {
  padding-left: 2px;
  padding-right: 2px;
  background-color: transparent;
  flex: 1;
}
.bui-menu-list > .menu-item > .sub-menu-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 0;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.bui-menu-list > .menu-item:hover {
  background-color: var(--colorNeutralBackground1Hover);
  color: var(--colorNeutralForeground2Hover);
}
.bui-menu-list > .menu-item:hover > .icon, .bui-menu-list > .menu-item:hover .active-icon {
  color: var(--colorNeutralForeground2BrandSelected);
}
.bui-menu-list > .menu-item:hover > .active-icon {
  display: inline-flex;
}
.bui-menu-list > .menu-item:hover > .active-icon + .icon {
  display: none;
}
.bui-menu-list > .menu-item:hover:active {
  background-color: var(--colorNeutralBackground1Pressed);
  color: var(--colorNeutralForeground2Pressed);
}
.bui-menu-list > .menu-divider {
  width: auto;
  margin: 4px 0;
  border-bottom-color: var(--colorNeutralStroke2);
  border-bottom-width: var(--strokeWidthThin);
  border-bottom-style: solid;
}

.bui-overflow {
  display: flex;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.bui-overflow > * {
  flex-shrink: 0;
}
.bui-overflow.vertical {
  flex-direction: column;
}
.bui-overflow.horizontal {
  flex-direction: row;
}
.bui-overflow > .overflowing {
  display: none !important;
}
.bui-overflow > .overflow-button {
  display: none;
}
.bui-overflow:has(.overflowing) > .overflow-button {
  display: inline-flex;
}

.bui-menu-list.overflow-menu > :not(.overflowing) {
  display: none;
}

.bui-popover {
  width: max-content;
}

.bui-popover-surface {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  padding: var(--spacingVerticalS) var(--spacingHorizontalS);
  box-shadow: var(--shadow16);
  border-radius: var(--borderRadiusMedium);
  border: 1px solid var(--colorTransparentStroke);
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightRegular);
  line-height: var(--lineHeightBase300);
  transition-property: opacity, transform;
  transition-duration: var(--durationSlower);
  transition-timing-function: var(--curveDecelerateMid);
  opacity: 0;
}
.bui-popover-surface.right, .bui-popover-surface.right-start, .bui-popover-surfaceright-end {
  transform: translateX(-10px);
}
.bui-popover-surface.left, .bui-popover-surface.left-start, .bui-popover-surface.left-end {
  transform: translateX(10px);
}
.bui-popover-surface.top, .bui-popover-surface.top-start, .bui-popover-surface.top-end {
  transform: translateY(10px);
}
.bui-popover-surface.bottom, .bui-popover-surface.bottom-start, .bui-popover-surface.bottom-end {
  transform: translateY(-10px);
}
.bui-popover-surface.show {
  opacity: 1;
  transform: translate(0, 0);
}
.bui-popover-surface > .arrow {
  position: absolute;
  background-color: inherit;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
.bui-popover-surface.brand {
  color: var(--colorNeutralForegroundOnBrand);
  background-color: var(--colorBrandBackground);
}
.bui-popover-surface.inverted {
  color: var(--colorNeutralForegroundStaticInverted);
  background-color: var(--colorNeutralBackgroundStatic);
}
.bui-popover-surface.hidden {
  display: none;
}

.bui-switch {
  align-items: flex-start;
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  cursor: pointer;
}
.bui-switch > input {
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  height: 100%;
  margin: 0px;
  opacity: 0;
  position: absolute;
  width: calc(40px + 2 * var(--spacingHorizontalS));
  cursor: pointer;
}
.bui-switch > input:enabled:not(:checked) ~ .indicator {
  color: var(--colorNeutralStrokeAccessible);
  border-color: var(--colorNeutralStrokeAccessible);
}
.bui-switch > input:enabled:not(:checked) ~ label {
  color: var(--colorNeutralForeground1);
}
.bui-switch > input:enabled:checked ~ .indicator {
  background-color: var(--colorCompoundBrandBackground);
  color: var(--colorNeutralForegroundInverted);
  border-color: var(--colorTransparentStroke);
}
.bui-switch > input:disabled:not(:checked) ~ .indicator {
  border-color: var(--colorNeutralStrokeDisabled);
}
.bui-switch > input:disabled:checked ~ .indicator {
  background-color: var(--colorNeutralBackgroundDisabled);
  border-color: var(--colorTransparentStrokeDisabled);
}
.bui-switch > input:checked ~ .indicator > * {
  transform: translateX(20px);
}
.bui-switch > input:disabled {
  cursor: default;
}
.bui-switch > input:disabled ~ .indicator {
  color: var(--colorNeutralForegroundDisabled);
  cursor: default;
}
.bui-switch > input:disabled ~ label {
  color: var(--colorNeutralForegroundDisabled);
  cursor: default;
}
.bui-switch > .indicator {
  border-radius: var(--borderRadiusCircular);
  border: 1px solid;
  line-height: 0;
  box-sizing: border-box;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 18px;
  height: 20px;
  margin: var(--spacingVerticalS) var(--spacingHorizontalS);
  pointer-events: none;
  transition-duration: var(--durationNormal);
  transition-timing-function: var(--curveEasyEase);
  transition-property: background, border, color;
  width: 40px;
  cursor: inherit;
}
.bui-switch > .indicator > svg {
  display: inline;
  line-height: 0;
  transition-duration: var(--durationNormal);
  transition-timing-function: var(--curveEasyEase);
  transition-property: transform;
}
.bui-switch > label {
  padding: var(--spacingVerticalS) 0;
  padding-inline: var(--spacingHorizontalXS) var(--spacingHorizontalS);
  margin-top: calc((20px - var(--lineHeightBase300)) / 2);
  margin-bottom: calc((20px - var(--lineHeightBase300)) / 2);
  line-height: var(--lineHeightBase300);
  font-size: var(--fontSizeBase300);
  font-family: var(--fontFamilyBase);
  cursor: inherit;
}

.rtl .bui-switch > input, [dir=rtl] .bui-switch > input {
  left: unset;
  right: 0px;
}
.rtl .bui-switch > input:checked ~ .indicator > *, [dir=rtl] .bui-switch > input:checked ~ .indicator > * {
  transform: translateX(-20px);
}

.bui-tab-list > .header {
  align-items: center;
}
.bui-tab-list > .header > .tab-item {
  text-transform: none;
  outline-style: none;
  padding: var(--spacingVerticalM) var(--spacingHorizontalMNudge);
  gap: var(--spacingHorizontalSNudge);
  display: flex;
  align-items: center;
  border-width: 0px;
  border-radius: var(--borderRadiusMedium);
  background-color: var(--colorTransparentBackground);
  flex-shrink: 0;
  line-height: var(--lineHeightBase300);
  font-family: var(--fontFamilyBase);
  cursor: pointer;
  position: relative;
}
.bui-tab-list > .header > .tab-item > span {
  color: var(--colorNeutralForeground2);
  padding: var(--spacingVerticalNone) var(--spacingHorizontalXXS);
  line-height: var(--lineHeightBase300);
  font-weight: var(--fontWeightRegular);
  font-size: var(--fontSizeBase300);
  font-family: var(--fontFamilyBase);
}
.bui-tab-list > .header > .tab-item:hover {
  background-color: var(--colorTransparentBackgroundHover);
}
.bui-tab-list > .header > .tab-item:hover > span {
  color: var(--colorNeutralForeground2Hover);
}
.bui-tab-list > .header > .tab-item:hover:before {
  position: absolute;
  content: "";
  border-radius: var(--borderRadiusCircular);
  background-color: var(--colorNeutralStroke1Hover);
  right: var(--spacingHorizontalM);
  left: var(--spacingHorizontalM);
  bottom: 0px;
  height: var(--strokeWidthThicker);
  animation-fill-mode: both;
  animation-name: scale-in-center;
  animation-duration: var(--durationSlow);
  animation-timing-function: var(--curveDecelerateMax);
}
.bui-tab-list > .header > .tab-item:hover:active {
  background-color: var(--colorTransparentBackgroundPressed);
}
.bui-tab-list > .header > .tab-item:hover:active > span {
  color: var(--colorNeutralForeground2Pressed);
}
.bui-tab-list > .header > .tab-item:hover:active:before {
  background-color: var(--colorNeutralStroke1Pressed);
}
.bui-tab-list > .header > .tab-item.selected > span {
  color: var(--colorNeutralForeground1);
  font-weight: var(--fontWeightSemibold);
}
.bui-tab-list > .header > .tab-item.selected:after {
  position: absolute;
  content: "";
  border-radius: var(--borderRadiusCircular);
  background-color: var(--colorCompoundBrandStroke);
  right: var(--spacingHorizontalM);
  left: var(--spacingHorizontalM);
  height: var(--strokeWidthThicker);
  bottom: 0px;
  animation-fill-mode: both;
  animation-name: scale-in-center;
  animation-duration: var(--durationSlow);
  animation-timing-function: var(--curveDecelerateMax);
}
.bui-tab-list > .header > .tab-item.selected:hover {
  background-color: var(--colorTransparentBackgroundHover);
}
.bui-tab-list > .header > .tab-item.selected:hover > span {
  color: var(--colorNeutralForeground1Hover);
}
.bui-tab-list > .header > .tab-item.selected:hover:active {
  background-color: var(--colorTransparentBackgroundPressed);
}
.bui-tab-list > .header > .tab-item.selected:hover:active > span {
  color: var(--colorNeutralForeground1Pressed);
}
.bui-tab-list > .header.horizontal {
  height: max-content;
}
.bui-tab-list > .header.horizontal > .tab-item {
  height: 100%;
}
.bui-tab-list > .header.vertical {
  width: max-content;
}
.bui-tab-list > .header.vertical > .tab-item {
  width: 100%;
}
.bui-tab-list > .header.vertical > .tab-item:hover:before {
  top: var(--spacingHorizontalM);
  bottom: var(--spacingHorizontalM);
  right: unset;
  left: 0;
  width: var(--strokeWidthThicker);
  height: unset;
}

.rtl .bui-tab-list > .header.vertical > .tab-item:hover:before, [dir=rtl] .bui-tab-list > .header.vertical > .tab-item:hover:before {
  right: 0;
  left: unset;
}

.bui-toolbar {
  align-items: center;
}
.bui-toolbar.horizontal {
  padding: 4px 8px;
  height: max-content;
}
.bui-toolbar.horizontal > .toolbar-button {
  height: 100%;
}
.bui-toolbar.vertical {
  padding: 8px 4px;
  width: max-content;
}
.bui-toolbar.vertical > .toolbar-button {
  width: 100%;
}

.toolbar-button {
  /*max-width: 32px;*/
  min-width: 32px;
  padding: 5px;
  margin: 0px;
  color: var(--colorNeutralForeground2);
  background-color: var(--colorSubtleBackground);
  display: inline-flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  gap: var(--spacingHorizontalSNudge);
  box-sizing: border-box;
  border: var(--strokeWidthThin) solid transparent;
  border-radius: var(--borderRadiusMedium);
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightSemibold);
  text-decoration-line: none;
  line-height: var(--lineHeightBase300);
  vertical-align: middle;
  outline-style: none;
  overflow: hidden;
  /*min-width: 96px;*/
  transition-duration: var(--durationFaster);
  transition-property: background, border, color;
  transition-timing-function: var(--curveEasyEase);
  cursor: pointer;
}
.toolbar-button > .active-icon {
  display: none;
}
.toolbar-button.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: var(--colorNeutralForeground2);
}
.toolbar-button:hover {
  color: var(--colorNeutralForeground2Hover);
  background-color: var(--colorSubtleBackgroundHover);
}
.toolbar-button:hover > .active-icon {
  display: inline;
}
.toolbar-button:hover > .active-icon + .icon {
  display: none;
}
.toolbar-button:hover > .icon, .toolbar-button:hover > .active-icon {
  color: var(--colorNeutralForeground2BrandHover);
}
.toolbar-button:hover:active {
  color: var(--colorNeutralForeground2Pressed);
  background-color: var(--colorSubtleBackgroundPressed);
}
.toolbar-button:hover:active > .icon, .toolbar-button:hover:active > .active-icon {
  color: var(--colorNeutralForeground2BrandPressed);
}
.toolbar-button.primary {
  color: var(--colorNeutralForegroundOnBrand);
  background-color: var(--colorBrandBackground);
}
.toolbar-button.primary > .icon {
  color: var(--colorNeutralForegroundOnBrand);
}
.toolbar-button.primary:hover {
  color: var(--colorNeutralForegroundOnBrand);
  background-color: var(--colorBrandBackgroundHover);
}
.toolbar-button.primary:hover > .icon, .toolbar-button.primary:hover > .active-icon {
  color: var(--colorNeutralForegroundOnBrand);
}
.toolbar-button.primary:hover:active {
  background-color: var(--colorBrandBackgroundPressed);
}
.toolbar-button.primary:hover:active > .icon, .toolbar-button.primary:hover:active > .active-icon {
  color: var(--colorNeutralForegroundOnBrand);
}
.toolbar-button.subtle {
  color: var(--colorNeutralForeground2);
  background-color: var(--colorSubtleBackground);
}
.toolbar-button.subtle > .icon {
  color: var(--colorNeutralForeground2BrandSelected);
}
.toolbar-button.subtle:hover {
  color: var(--colorNeutralForeground2Hover);
  background-color: var(--colorSubtleBackgroundHover);
}
.toolbar-button.subtle:hover > .icon, .toolbar-button.subtle:hover > .active-icon {
  color: var(--colorNeutralForeground2BrandHover);
}
.toolbar-button.subtle:hover:active {
  color: var(--colorNeutralForeground2Pressed);
  background-color: var(--colorSubtleBackgroundPressed);
}
.toolbar-button.subtle:hover:active > .icon, .toolbar-button.subtle:hover:active > .active-icon {
  color: var(--colorNeutralForeground2BrandPressed);
}

.toolbar-divider.horizontal {
  max-width: 1px;
  min-height: 20px;
  padding: 0 12px;
  flex-grow: 1;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  font-size: var(--fontSizeBase200);
  font-weight: var(--fontWeightRegular);
  font-family: var(--fontFamilyBase);
  color: var(--colorNeutralForeground2);
  line-height: var(--lineHeightBase200);
  align-items: center;
  display: flex;
}
.toolbar-divider.horizontal:before {
  min-height: 8px;
  border-right-width: var(--strokeWidthThin);
  border-color: var(--colorNeutralStroke2);
  content: "";
  margin-right: 0px;
  margin-bottom: 0px;
  flex-grow: 1;
  display: flex;
  border-right-style: solid;
  box-sizing: border-box;
}
.toolbar-divider.horizontal:after {
  min-height: 8px;
  border-right-width: var(--strokeWidthThin);
  border-right-style: solid;
  border-color: var(--colorNeutralStroke2);
  content: "";
  margin-top: 0px;
  margin-left: 0px;
  flex-grow: 1;
  display: flex;
  box-sizing: border-box;
}
.bui-tooltip {
  /*display: none;*/
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  padding: var(--spacingVerticalS) var(--spacingHorizontalS);
  box-shadow: var(--shadow16);
  border-radius: var(--borderRadiusMedium);
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase200);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightBase200);
  transition-property: all;
  transition-duration: var(--durationSlower);
  transition-timing-function: var(--curveDecelerateMid);
  opacity: 0;
}
.bui-tooltip.right, .bui-tooltip.right-start, .bui-tooltipright-end {
  transform: translateX(-10px);
}
.bui-tooltip.left, .bui-tooltip.left-start, .bui-tooltip.left-end {
  transform: translateX(10px);
}
.bui-tooltip.top, .bui-tooltip.top-start, .bui-tooltip.top-end {
  transform: translateY(10px);
}
.bui-tooltip.bottom, .bui-tooltip.bottom-start, .bui-tooltip.bottom-end {
  transform: translateY(-10px);
}
.bui-tooltip.show {
  opacity: 1;
  transform: translate(0, 0);
}
.bui-tooltip > .arrow {
  position: absolute;
  background-color: var(--colorNeutralBackground1);
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
