.bui-button {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--spacingHorizontalSNudge);
  justify-content: center;
  text-decoration-line: none;
  vertical-align: middle;
  margin: 0px;
  overflow: hidden;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  font-family: var(--fontFamilyBase);
  outline-style: none;
  padding: 5px var(--spacingHorizontalM);
  min-width: 96px;
  border-radius: var(--borderRadiusMedium);
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightBase300);
  transition-duration: var(--durationFaster);
  transition-property: background, border, color;
  transition-timing-function: var(--curveEasyEase);
  cursor: pointer;
}
.bui-button > .active-icon {
  display: none;
}
.bui-button.icon {
  max-width: 32px;
  min-width: 32px;
  padding: 5px;
}
.bui-button.compound {
  height: auto;
  padding-top: 14px;
  padding-bottom: var(--spacingHorizontalL);
}
.bui-button.compound > .text {
  flex-direction: column;
  display: flex;
  text-align: start;
}
.bui-button.compound > .text > .secondary-text {
  color: var(--colorNeutralForeground2);
  line-height: 100%;
  font-size: var(--fontSizeBase200);
  font-weight: var(--fontWeightRegular);
}
.bui-button.toggled {
  background-color: var(--colorNeutralBackground1Selected);
  color: var(--colorNeutralForeground1Selected);
  border-color: var(--colorNeutralStroke1);
}
.bui-button.toggled > .active-icon {
  display: inline;
}
.bui-button.toggled > .active-icon + .icon {
  display: none;
}
.bui-button:hover {
  background-color: var(--colorNeutralBackground1Hover);
  border-color: var(--colorNeutralStroke1Hover);
  color: var(--colorNeutralForeground1Hover);
}
.bui-button:hover > .active-icon {
  display: inline;
}
.bui-button:hover > .active-icon + .icon {
  display: none;
}
.bui-button:hover:active {
  background-color: var(--colorNeutralBackground1Pressed);
  border-color: var(--colorNeutralStroke1Pressed);
  color: var(--colorNeutralForeground1Pressed);
  outline-style: none;
}
.bui-button.circular {
  border-radius: var(--borderRadiusCircular);
}
.bui-button.square {
  border-radius: var(--borderRadiusNone);
}
.bui-button.primary {
  background-color: var(--colorBrandBackground);
  color: var(--colorNeutralForegroundOnBrand);
  border-color: transparent;
}
.bui-button.primary.toggled {
  background-color: var(--colorBrandBackgroundSelected);
  color: var(--colorNeutralForegroundOnBrand);
  border-color: transparent;
}
.bui-button.primary:hover {
  background-color: var(--colorBrandBackgroundHover);
}
.bui-button.primary:hover:active {
  background-color: var(--colorBrandBackgroundPressed);
  color: var(--colorNeutralForegroundOnBrand);
}
.bui-button.outline {
  background-color: var(--colorTransparentBackground);
}
.bui-button.outline.toggled {
  background-color: var(--colorTransparentBackgroundSelected);
  color: var(--colorNeutralForeground1Selected);
  border-color: var(--colorNeutralStroke1);
  border-width: var(--strokeWidthThicker);
}
.bui-button.outline:hover {
  background-color: var(--colorTransparentBackgroundHover);
  border-color: var(--colorNeutralStroke1Hover);
  color: var(--colorNeutralForeground1Hover);
}
.bui-button.outline:hover:active {
  background-color: var(--colorTransparentBackgroundPressed);
  border-color: var(--colorNeutralStroke1Pressed);
  color: var(--colorNeutralForeground1Pressed);
  outline-style: none;
}
.bui-button.subtle {
  color: var(--colorNeutralForeground2);
  background-color: var(--colorSubtleBackground);
  border-color: transparent;
}
.bui-button.subtle.toggled {
  color: var(--colorNeutralForeground2Selected);
  background-color: var(--colorSubtleBackgroundSelected);
}
.bui-button.subtle:hover {
  color: var(--colorNeutralForeground2Hover);
  background-color: var(--colorSubtleBackgroundHover);
  border-color: transparent;
}
.bui-button.subtle:hover > .icon {
  color: var(--colorNeutralForeground2BrandHover);
}
.bui-button.subtle:hover:active {
  color: var(--colorNeutralForeground2Pressed);
  background-color: var(--colorSubtleBackgroundPressed);
  border-color: transparent;
}
.bui-button.subtle:hover:active > .icon {
  color: var(--colorNeutralForeground2BrandPressed);
}
.bui-button.transparent {
  color: var(--colorNeutralForeground2);
  background-color: var(--colorTransparentBackground);
  border-color: transparent;
}
.bui-button.transparent.toggled {
  color: var(--colorNeutralForeground2BrandSelected);
  background-color: var(--colorTransparentBackgroundSelected);
}
.bui-button.transparent:hover {
  color: var(--colorNeutralForeground2BrandHover);
  background-color: var(--colorTransparentBackgroundHover);
}
.bui-button.transparent:hover:active {
  color: var(--colorNeutralForeground2BrandPressed);
  background-color: var(--colorTransparentBackgroundPressed);
}
.bui-button[disabled] {
  color: var(--colorNeutralForegroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  background-color: var(--colorNeutralBackgroundDisabled);
  cursor: not-allowed;
}
.bui-button[disabled]:hover {
  color: var(--colorNeutralForegroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  background-color: var(--colorNeutralBackgroundDisabled);
}
.bui-button[disabled]:hover:active {
  color: var(--colorNeutralForegroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  background-color: var(--colorNeutralBackgroundDisabled);
}
.bui-button.small {
  font-size: var(--fontSizeBase200);
  padding: 3px var(--spacingHorizontalS);
  min-width: 64px;
  line-height: var(--lineHeightBase200);
  font-weight: var(--fontWeightRegular);
}
.bui-button.small.icon {
  max-width: 24px;
  min-width: 24px;
  padding: 1px;
}
.bui-button.large {
  font-weight: var(--fontWeightSemibold);
  font-size: var(--fontSizeBase400);
  padding: 8px var(--spacingHorizontalL);
  min-width: 96px;
  line-height: var(--lineHeightBase400);
}
.bui-button.large.icon {
  max-width: 40px;
  min-width: 40px;
  padding: 7px;
}

.bui-card {
  --bui-card-border-radius: var(--borderRadiusMedium);
  --bui-card-size: 12px;
  box-shadow: var(--shadow4);
  gap: var(--bui-card-size);
  padding: var(--bui-card-size);
  border-radius: var(--bui-card-border-radius);
  overflow: hidden;
  max-width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
}
.bui-card:after {
  border: var(--strokeWidthThin) solid var(--colorTransparentStroke);
  border-radius: var(--bui-card-border-radius);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  pointer-events: none;
}
.bui-card.active {
  cursor: pointer;
}
.bui-card.active:hover {
  box-shadow: var(--shadow8);
  background-color: var(--colorNeutralBackground1Hover);
}
.bui-card.active:hover:active {
  background-color: var(--colorNeutralBackground1Pressed);
}
.bui-card > .card-header {
  --bui-card-header-gap: 12px;
  flex-shrink: 0;
  grid-auto-columns: min-content 1fr min-content;
  display: grid;
  align-items: center;
  color: var(--colorNeutralForeground1);
}
.bui-card > .card-header > .image {
  grid-row-start: span 2;
  grid-column-start: 1;
  margin-inline-end: var(--bui-card-header-gap);
  display: inline-flex;
  color: var(--colorNeutralForeground1);
}
.bui-card > .card-header > .header {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  color: var(--colorNeutralForeground1);
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
  text-align: start;
  display: inline;
  line-height: var(--lineHeightBase300);
  font-weight: var(--fontWeightSemibold);
  font-size: var(--fontSizeBase300);
  font-family: var(--fontFamilyBase);
}
.bui-card > .card-header > .description {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  color: var(--colorNeutralForeground3);
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
  text-align: start;
  font-size: var(--fontSizeBase200);
  line-height: var(--lineHeightBase200);
  font-weight: var(--fontWeightRegular);
  font-family: var(--fontFamilyBase);
}
.bui-card > .card-header > .action {
  grid-column-start: 3;
  grid-row-start: span 2;
  margin-left: var(--bui-card-header-gap);
}
.bui-card > .card-preview {
  margin-right: calc(var(--bui-card-size) * -1);
  margin-left: calc(var(--bui-card-size) * -1);
  position: relative;
}
.bui-card > .card-preview > .logo {
  position: absolute;
  height: 32px;
  width: 32px;
  left: 12px;
  bottom: 12px;
}
.bui-card > .card-preview:first-child {
  margin-top: calc(var(--bui-card-size) * -1);
}
.bui-card > .card-footer {
  flex-shrink: 0;
  gap: 12px;
  display: flex;
  flex-direction: row;
}
.bui-card > .card-content {
  margin: 0px;
}
.bui-card > .card-floating-action {
  z-index: 1;
  right: 4px;
  top: 4px;
  position: absolute;
}
.bui-card.horizontal {
  flex-direction: row;
}
.bui-card.horizontal > .card-header {
  flex-grow: 1;
  flex-shrink: 0;
}
.bui-card.horizontal > .card-preview {
  margin-top: calc(var(--bui-card-size) * -1);
  margin-bottom: calc(var(--bui-card-size) * -1);
  margin-right: unset;
  margin-left: unset;
  margin-inline-start: calc(var(--bui-card-size) * -1);
  height: 64px;
  width: 64px;
}
.bui-card.small {
  --bui-card-border-radius: var(--borderRadiusSmall);
  --bui-card-size: 8px;
}
.bui-card.large {
  --bui-card-border-radius: var(--borderRadiusLarge);
  --bui-card-size: 16px;
}
.bui-card.filled-alternative {
  background-color: var(--colorNeutralBackground2);
}
.bui-card.outline {
  box-shadow: none;
  background-color: var(--colorTransparentBackground);
}
.bui-card.outline:after {
  border-color: var(--colorNeutralStroke1);
}
.bui-card.outline.active:hover {
  background-color: var(--colorTransparentBackgroundHover);
  box-shadow: none;
}
.bui-card.outline.active:hover:active {
  background-color: var(--colorTransparentBackgroundPressed);
}
.bui-card.subtle {
  box-shadow: none;
  background-color: var(--colorSubtleBackground);
}
.bui-card.subtle.active:hover {
  background-color: var(--colorSubtleBackgroundHover);
  box-shadow: none;
}
.bui-card.subtle.active:hover:active {
  background-color: var(--colorSubtleBackgroundPressed);
}
.bui-card.selected {
  background-color: var(--colorNeutralBackground1Selected);
}
.bui-card.selected:after {
  border-color: var(--colorNeutralStroke1Selected);
}

.bui-checkbox {
  color: var(--colorNeutralForeground3);
  position: relative;
  display: inline-flex;
  cursor: pointer;
  vertical-align: middle;
}
.bui-checkbox.indeterminate {
  --bui-checkbox-indicator-borderColor: var(--colorCompoundBrandStroke);
  --bui-checkbox-indicator-color: var(--colorCompoundBrandForeground1);
  --bui-checkbox-indicator-backgroundColor: unset;
  color: var(--colorNeutralForeground1);
}
.bui-checkbox.indeterminate:hover {
  --bui-checkbox-indicator-borderColor: var(--colorCompoundBrandStrokeHover);
  --bui-checkbox-indicator-color: var(--colorCompoundBrandForeground1Hover);
  --bui-checkbox-indicator-backgroundColor: unset;
}
.bui-checkbox.checked {
  --bui-checkbox-indicator-borderColor: var(--colorCompoundBrandBackground);
  --bui-checkbox-indicator-color: var(--colorNeutralForegroundInverted);
  --bui-checkbox-indicator-backgroundColor: var(--colorCompoundBrandBackground);
  color: var(--colorNeutralForeground1);
}
.bui-checkbox.checked:hover {
  --bui-checkbox-indicator-borderColor: var(--colorCompoundBrandBackgroundHover);
  --bui-checkbox-indicator-color: var(--colorNeutralForegroundInverted);
  --bui-checkbox-indicator-backgroundColor: var(--colorCompoundBrandBackgroundHover);
}
.bui-checkbox.unchecked {
  --bui-checkbox-indicator-borderColor: unset;
  --bui-checkbox-indicator-color: unset;
  --bui-checkbox-indicator-backgroundColor: unset;
}
.bui-checkbox.disabled {
  --bui-checkbox-indicator-borderColor: var(--colorNeutralStrokeDisabled) !important;
  --bui-checkbox-indicator-color: var(--colorNeutralForegroundDisabled) !important;
  --bui-checkbox-indicator-backgroundColor: unset !important;
  cursor: default;
}
.bui-checkbox > input {
  box-sizing: border-box;
  cursor: inherit;
  height: 100%;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(16px + 2 * var(--spacingHorizontalS));
  order: 1;
}
.bui-checkbox > .indicator {
  align-self: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--bui-checkbox-indicator-color);
  background-color: var(--bui-checkbox-indicator-backgroundColor);
  border-color: var(--bui-checkbox-indicator-borderColor, var(--colorNeutralStrokeAccessible));
  border-style: solid;
  border-width: var(--strokeWidthThin);
  border-radius: var(--borderRadiusSmall);
  margin: var(--spacingVerticalS) var(--spacingHorizontalS);
  fill: currentcolor;
  pointer-events: none;
  font-size: 12px;
  height: 16px;
  width: 16px;
  order: 1;
}
.bui-checkbox > label {
  cursor: inherit;
  color: inherit;
  margin-bottom: calc((16px - var(--lineHeightBase300)) / 2);
  margin-top: calc((16px - var(--lineHeightBase300)) / 2);
  align-self: center;
  padding: var(--spacingVerticalS) var(--spacingHorizontalXS);
  font-size: var(--fontSizeBase300);
  font-family: var(--fontFamilyBase);
  order: 2;
}
.bui-checkbox > label > .required {
  padding-inline-start: var(--spacingHorizontalXS);
  color: var(--colorPaletteRedForeground3);
}
.bui-checkbox.large > input {
  width: calc(20px + 2 * var(--spacingHorizontalS));
}
.bui-checkbox.large > .indicator {
  width: 20px;
  height: 20px;
  font-size: 16px;
}
.bui-checkbox.large > label {
  margin-bottom: calc((20px - var(--lineHeightBase300)) / 2);
  margin-top: calc((20px - var(--lineHeightBase300)) / 2);
  line-height: var(--lineHeightBase300);
}
.bui-checkbox.label-before > input {
  order: 2;
}
.bui-checkbox.label-before > .indicator {
  order: 2;
}
.bui-checkbox.label-before > label {
  order: 1;
}
.bui-checkbox.circular > .indicator {
  border-radius: var(--borderRadiusCircular);
}

.bui-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--colorNeutralBackground1);
  width: max-content;
  min-width: 128px;
  max-width: 300px;
}
.bui-menu-list > .menu-item {
  border-radius: var(--borderRadiusMedium);
  position: relative;
  color: var(--colorNeutralForeground2);
  background-color: var(--colorNeutralBackground1);
  padding: var(--spacingVerticalSNudge);
  box-sizing: border-box;
  max-width: 290px;
  min-height: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: start;
  font-size: var(--fontSizeBase300);
  cursor: pointer;
  gap: 4px;
  user-select: none;
}
.bui-menu-list > .menu-item > .title {
  padding-left: 2px;
  padding-right: 2px;
  background-color: transparent;
  flex-grow: 1;
}
.bui-menu-list > .menu-item:hover {
  background-color: var(--colorNeutralBackground1Hover);
  color: var(--colorNeutralForeground2Hover);
}
.bui-menu-list > .menu-item:hover:active {
  background-color: var(--colorNeutralBackground1Pressed);
  color: var(--colorNeutralForeground2Pressed);
}

.bui-popover {
  width: max-content;
}

.bui-popover-surface {
  /*display: none;*/
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  padding: var(--spacingVerticalS) var(--spacingHorizontalS);
  box-shadow: var(--shadow16);
  border-radius: var(--borderRadiusMedium);
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase200);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightBase200);
  transition-property: background, border, color;
  transition-duration: var(--durationFaster);
  transition-timing-function: var(--curveEasyEase);
}
.bui-popover-surface > .arrow {
  position: absolute;
  background-color: var(--colorNeutralBackground1);
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

.bui-tooltip {
  display: none;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  padding: var(--spacingVerticalS) var(--spacingHorizontalS);
  box-shadow: var(--shadow16);
  border-radius: var(--borderRadiusMedium);
  font-family: var(--fontFamilyBase);
  font-size: var(--fontSizeBase200);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightBase200);
  transition-property: background, border, color;
  transition-duration: var(--durationFaster);
  transition-timing-function: var(--curveEasyEase);
}
.bui-tooltip > .arrow {
  position: absolute;
  background-color: var(--colorNeutralBackground1);
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
