.bui-button {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  text-decoration-line: none;
  vertical-align: middle;
  margin: 0px;
  overflow: hidden;
  background-color: var(--colorNeutralBackground1);
  color: var(--colorNeutralForeground1);
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  font-family: var(--fontFamilyBase);
  outline-style: none;
  padding: 5px var(--spacingHorizontalM);
  min-width: 96px;
  border-radius: var(--borderRadiusMedium);
  font-size: var(--fontSizeBase300);
  font-weight: var(--fontWeightSemibold);
  line-height: var(--lineHeightBase300);
  transition-duration: var(--durationFaster);
  transition-property: background, border, color;
  transition-timing-function: var(--curveEasyEase);
  cursor: pointer;
  /*    > .text {
          & + .end-icon {
              margin-inline-start: var(--spacingHorizontalSNudge);
          }
      }
  */
}
.bui-button > .icon + .text {
  margin-inline-start: var(--spacingHorizontalSNudge);
}
.bui-button.icon {
  max-width: 32px;
  min-width: 32px;
  padding: 5px;
}
.bui-button:hover {
  background-color: var(--colorNeutralBackground1Hover);
  border-color: var(--colorNeutralStroke1Hover);
  color: var(--colorNeutralForeground1Hover);
}
.bui-button:hover:active {
  background-color: var(--colorNeutralBackground1Pressed);
  border-color: var(--colorNeutralStroke1Pressed);
  color: var(--colorNeutralForeground1Pressed);
  outline-style: none;
}
.bui-button.circular {
  border-radius: var(--borderRadiusCircular);
}
.bui-button.square {
  border-radius: var(--borderRadiusNone);
}
.bui-button.primary {
  background-color: var(--colorBrandBackground);
  color: var(--colorNeutralForegroundOnBrand);
  border-color: transparent;
}
.bui-button.primary:hover {
  background-color: var(--colorBrandBackgroundHover);
}
.bui-button.primary:hover:active {
  background-color: var(--colorBrandBackgroundPressed);
  color: var(--colorNeutralForegroundOnBrand);
}
.bui-button.outline {
  background-color: var(--colorTransparentBackground);
}
.bui-button.outline:hover {
  background-color: var(--colorTransparentBackgroundHover);
  border-color: var(--colorNeutralStroke1Hover);
  color: var(--colorNeutralForeground1Hover);
}
.bui-button.outline:hover:active {
  background-color: var(--colorTransparentBackgroundPressed);
  border-color: var(--colorNeutralStroke1Pressed);
  color: var(--colorNeutralForeground1Pressed);
  outline-style: none;
}
.bui-button.subtle {
  color: var(--colorNeutralForeground2);
  background-color: var(--colorSubtleBackground);
  border-color: transparent;
}
.bui-button.subtle:hover {
  color: var(--colorNeutralForeground2Hover);
  background-color: var(--colorSubtleBackgroundHover);
  border-color: transparent;
}
.bui-button.subtle:hover > .icon {
  color: var(--colorNeutralForeground2BrandHover);
}
.bui-button.subtle:hover:active {
  color: var(--colorNeutralForeground2Pressed);
  background-color: var(--colorSubtleBackgroundPressed);
  border-color: transparent;
}
.bui-button.subtle:hover:active > .icon {
  color: var(--colorNeutralForeground2BrandPressed);
}
.bui-button.transparent {
  color: var(--colorNeutralForeground2);
  background-color: var(--colorTransparentBackground);
  border-color: transparent;
}
.bui-button.transparent:hover {
  color: var(--colorNeutralForeground2BrandHover);
  background-color: var(--colorTransparentBackgroundHover);
}
.bui-button.transparent:hover:active {
  color: var(--colorNeutralForeground2BrandPressed);
  background-color: var(--colorTransparentBackgroundPressed);
}
.bui-button[disabled] {
  color: var(--colorNeutralForegroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  background-color: var(--colorNeutralBackgroundDisabled);
  cursor: not-allowed;
}
.bui-button[disabled]:hover {
  color: var(--colorNeutralForegroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  background-color: var(--colorNeutralBackgroundDisabled);
}
.bui-button[disabled]:hover:active {
  color: var(--colorNeutralForegroundDisabled);
  border-color: var(--colorNeutralStrokeDisabled);
  background-color: var(--colorNeutralBackgroundDisabled);
}
.bui-button.small {
  font-size: var(--fontSizeBase200);
  padding: 3px var(--spacingHorizontalS);
  min-width: 64px;
  line-height: var(--lineHeightBase200);
  font-weight: var(--fontWeightRegular);
}
.bui-button.small.icon {
  max-width: 24px;
  min-width: 24px;
  padding: 1px;
}
.bui-button.large {
  font-weight: var(--fontWeightSemibold);
  font-size: var(--fontSizeBase400);
  padding: 8px var(--spacingHorizontalL);
  min-width: 96px;
  line-height: var(--lineHeightBase400);
}
.bui-button.large.icon {
  max-width: 40px;
  min-width: 40px;
  padding: 7px;
}
