@inherits BluentUiComponentBase
@namespace Bluent.UI.Components

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    <CascadingValue Value="DndContext" IsFixed>
        <CascadingValue Value="this" IsFixed>
            <ul class="item-group">
                @ChildContent
            </ul>
        </CascadingValue>
    </CascadingValue>
</div>