@inherits BluentComponentBase
@namespace Bluent.UI.Components

@if (!DeferredLoading || Wizard.IsCurrent(this))
{
    <div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
        <div class="content">
            @ChildContent
        </div>
    </div>
}