@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-down {
    0% {
        pointer-events: none;
        transform: translate3d(0px, -20px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slide-up {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 20px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slide-left {
    0% {
        pointer-events: none;
        transform: translate3d(20px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slide-right {
    0% {
        pointer-events: none;
        transform: translate3d(-20px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slide-in-right {
    0% {
        pointer-events: none;
        transform: translate3d(20px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slide-out-right {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(20px, 0px, 0px);
    }
}

@keyframes slide-in-left {
    0% {
        pointer-events: none;
        transform: translate3d(-20px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slide-out-left {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(-20px, 0px, 0px);
    }
}

@keyframes slide-in-top {
    0% {
        pointer-events: none;
        transform: translate3d(0px, -20px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slide-out-top {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, -20px, 0px);
    }
}

@keyframes slide-in-bottom {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 20px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes slide-out-bottom{
    0% {
        pointer-events: none;
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 20px, 0px);
    }
}

@keyframes scale-in-center {
    0% {
        pointer-events: none;
        transform: scale(0);
    }

    100% {
        pointer-events: auto;
        transform: scale(1);
    }
}

@keyframes scale-out-center {
    0% {
        pointer-events: none;
        transform: scale(1);
    }

    100% {
        pointer-events: auto;
        transform: scale(0);
    }
}
