@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.anim-fade-in {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-in;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.anim-fade-out {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-out;
}

@keyframes slide-down {
    0% {
        pointer-events: none;
        transform: translate3d(0px, -20px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

.anim-slide-down {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: slide-down;
}

@keyframes slide-up {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 20px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

.anim-slide-up {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: slide-up;
}

@keyframes slide-left {
    0% {
        pointer-events: none;
        transform: translate3d(20px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

.anim-slide-left, .anim-slide-start {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: slide-left;
}

@keyframes slide-right {
    0% {
        pointer-events: none;
        transform: translate3d(-20px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

.anim-slide-right, .anim-slide-end {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: slide-right;
}

@keyframes slide-in-right {
    0% {
        pointer-events: none;
        transform: translate3d(20px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

.anim-slide-in-right, .anim-slide-in-end {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-in, slide-in-right;
}

@keyframes slide-out-right {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(20px, 0px, 0px);
    }
}

.anim-slide-out-right, .anim-slide-out-end {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-out,slide-out-right;
}

@keyframes slide-in-left {
    0% {
        pointer-events: none;
        transform: translate3d(-20px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

.anim-slide-in-left, .anim-slide-in-start {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-in, slide-in-left;
}

@keyframes slide-out-left {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(-20px, 0px, 0px);
    }
}

.anim-slide-out-left, .anim-slide-out-start {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-out, slide-out-left;
}

@keyframes slide-in-top {
    0% {
        pointer-events: none;
        transform: translate3d(0px, -20px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

.anim-slide-in-top {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-in, slide-in-top;
}

@keyframes slide-out-top {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, -20px, 0px);
    }
}

.anim-slide-out-top {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-out, slide-out-top;
}

@keyframes slide-in-bottom {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 20px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 0px, 0px);
    }
}

.anim-slide-in-bottom {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-in, slide-in-bottom;
}

@keyframes slide-out-bottom {
    0% {
        pointer-events: none;
        transform: translate3d(0px, 0px, 0px);
    }

    100% {
        pointer-events: auto;
        transform: translate3d(0px, 20px, 0px);
    }
}

.anim-slide-out-bottom {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-out, slide-out-bottom;
}

@keyframes scale-in-center {
    0% {
        pointer-events: none;
        transform: scale(0.5);
    }

    100% {
        pointer-events: auto;
        transform: scale(1);
    }
}

.anim-scale-in-center {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-in, scale-in-center;
}

@keyframes scale-out-center {
    0% {
        pointer-events: none;
        transform: scale(1);
    }

    100% {
        pointer-events: auto;
        transform: scale(0.5);
    }
}

.anim-scale-out-center {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: fade-out, scale-out-center;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.anim-rotate {
    animation-fill-mode: both;
    animation-duration: var(--durationFast);
    animation-timing-function: var(--curveEasyEase);
    animation-name: rotate;
}

.rtl, [dir="rtl"] {
    .anim-slide-start {
        animation-name: slide-right;
    }

    .anim-slide-end {
        animation-name: slide-left;
    }

    .anim-slide-in-end {
        animation-name: fade-in, slide-in-left;
    }

    .anim-slide-out-end {
        animation-name: fade-out, slide-out-left;
    }

    .anim-slide-in-start {
        animation-name: fade-in, slide-in-right;
    }

    .anim-slide-out-start {
        animation-name: fade-out, slide-out-right;
    }
}
