.bg-1, .bg-neutral-1 {
    background-color: var(--colorNeutralBackground1) !important;
}

.bg-2, .bg-neutral-2 {
    background-color: var(--colorNeutralBackground2) !important;
}

.bg-3, .bg-neutral-3 {
    background-color: var(--colorNeutralBackground3) !important;
}

.bg-4, .bg-neutral-3 {
    background-color: var(--colorNeutralBackground4) !important;
}

.bg-5, .bg-neutral-4 {
    background-color: var(--colorNeutralBackground5) !important;
}

.bg-brand-1 {
    background-color: var(--colorBrandBackground) !important;
}

.bg-brand-1-hover {
    background-color: var(--colorBrandBackgroundHover) !important;
}

.bg-brand-1-hovered {
    &:hover {
        background-color: var(--colorBrandBackgroundHover) !important;
    }
}

.bg-brand-1-press {
    background-color: var(--colorBrandBackgroundPressed) !important;
}

.bg-brand-1-pressed {
    &:hover {
        &:active {
            background-color: var(--colorBrandBackgroundPressed) !important;
        }
    }
}

.bg-brand-2 {
    background-color: var(--colorBrandBackground2) !important;
}

.bg-brand-2-hover {
    background-color: var(--colorBrandBackground2Hover) !important;
}

.bg-brand-2-hovered {
    &:hover {
        background-color: var(--colorBrandBackground2Hover) !important;
    }
}

.bg-brand-2-press {
    background-color: var(--colorBrandBackground2Pressed) !important;
}

.bg-brand-2-pressed {
    &:hover {
        &:active {
            background-color: var(--colorBrandBackground2Pressed) !important;
        }
    }
}
