@using Bluent.UI.Extensions

<SelectField TValue="int?"
             Value="Value" 
             ValueExpression="() => Value"
             ValueChanged="OnValueChanged"
             Class="flex-fill"
             id="@Property.Name">
    @foreach (var enumValue in Enum.GetValues(Property.PropertyType.GetUnderlyingType()))
    {
        <option value="@((int)enumValue)" selected="@(Value == (int)enumValue)">
            @((enumValue as Enum)?.GetDisplayName())
        </option>
    }
</SelectField>
<PropertyDescription Property="Property" />
