$brand-default: (
    10: "#020305",
    20: "#111723",
    30: "#16263D",
    40: "#193253",
    50: "#1B3F6A",
    60: "#1B4C82",
    70: "#18599B",
    80: "#1267B4",
    90: "#3174C2",
    100: "#4F82C8",
    110: "#6790CF",
    120: "#7D9ED5",
    130: "#92ACDC",
    140: "#A6BAE2",
    150: "#BAC9E9",
    160: "#CDD8EF"
);
$brand-outlook: (
    10: "#020305",
    20: "#111723",
    30: "#17263E",
    40: "#193254",
    50: "#1B3F6B",
    60: "#1B4C83",
    70: "#18599C",
    80: "#1267B5",
    90: "#0475CF",
    100: "#3983D8",
    110: "#5A90DD",
    120: "#749EE2",
    130: "#8BACE7",
    140: "#A1BBEC",
    150: "#B7CAF0",
    160: "#CBD8F5"
);

$brand-office: (
    10: "#060200",
    20: "#261205",
    30: "#401A09",
    40: "#561F0B",
    50: "#6C250C",
    60: "#842A0B",
    70: "#9C2F09",
    80: "#B53406",
    90: "#CE3902",
    100: "#DE4B18",
    110: "#E66334",
    120: "#ED794E",
    130: "#F48E67",
    140: "#F9A381",
    150: "#FDB79C",
    160: "#FFCBB7"
);

$brand-powerbi: (
    10: "#040301",
    20: "#1D180B",
    30: "#302811",
    40: "#3E3313",
    50: "#4C3F15",
    60: "#5B4C17",
    70: "#6B5818",
    80: "#7A6519",
    90: "#8A731A",
    100: "#9B801A",
    110: "#AC8E19",
    120: "#BD9C19",
    130: "#CEAA17",
    140: "#E0B915",
    150: "#F1C711",
    160: "#FBD86B"
);
$brand-excel: (
    10: "#010402",
    20: "#0F1C12",
    30: "#132F1C",
    40: "#153D23",
    50: "#164B2A",
    60: "#165A31",
    70: "#146938",
    80: "#11783F",
    90: "#2E864E",
    100: "#489360",
    110: "#60A072",
    120: "#76AD85",
    130: "#8CBA98",
    140: "#A2C7AB",
    150: "#B8D5BE",
    160: "#CEE2D2"
);
