$brand-default: (
    10: "#020305",
    20: "#111723",
    30: "#16263D",
    40: "#193253",
    50: "#1B3F6A",
    60: "#1B4C82",
    70: "#18599B",
    80: "#1267B4",
    90: "#3174C2",
    100: "#4F82C8",
    110: "#6790CF",
    120: "#7D9ED5",
    130: "#92ACDC",
    140: "#A6BAE2",
    150: "#BAC9E9",
    160: "#CDD8EF"
);
$brand-outlook: (
    10: "#020305",
    20: "#111723",
    30: "#17263E",
    40: "#193254",
    50: "#1B3F6B",
    60: "#1B4C83",
    70: "#18599C",
    80: "#1267B5",
    90: "#0475CF",
    100: "#3983D8",
    110: "#5A90DD",
    120: "#749EE2",
    130: "#8BACE7",
    140: "#A1BBEC",
    150: "#B7CAF0",
    160: "#CBD8F5"
);

$brand-office: (
    10: "#060200",
    20: "#261205",
    30: "#401A09",
    40: "#561F0B",
    50: "#6C250C",
    60: "#842A0B",
    70: "#9C2F09",
    80: "#B53406",
    90: "#CE3902",
    100: "#DE4B18",
    110: "#E66334",
    120: "#ED794E",
    130: "#F48E67",
    140: "#F9A381",
    150: "#FDB79C",
    160: "#FFCBB7"
);

$brand-powerbi: (
    10: "#040301",
    20: "#1D180B",
    30: "#302811",
    40: "#3E3313",
    50: "#4C3F15",
    60: "#5B4C17",
    70: "#6B5818",
    80: "#7A6519",
    90: "#8A731A",
    100: "#9B801A",
    110: "#AC8E19",
    120: "#BD9C19",
    130: "#CEAA17",
    140: "#E0B915",
    150: "#F1C711",
    160: "#FBD86B"
);
$brand-excel: (
    10: "#010402",
    20: "#0F1C12",
    30: "#132F1C",
    40: "#153D23",
    50: "#164B2A",
    60: "#165A31",
    70: "#146938",
    80: "#11783F",
    90: "#2E864E",
    100: "#489360",
    110: "#60A072",
    120: "#76AD85",
    130: "#8CBA98",
    140: "#A2C7AB",
    150: "#B8D5BE",
    160: "#CEE2D2"
);
$brand-powerpoint: (
    10: "#060200",
    20: "#251208",
    30: "#3E1A0F",
    40: "#532112",
    50: "#692714",
    60: "#802D16",
    70: "#983318",
    80: "#B0391A",
    90: "#C64220",
    100: "#D05836",
    110: "#D86D4C",
    120: "#E18062",
    130: "#E89478",
    140: "#EEA78F",
    150: "#F4BAA7",
    160: "#F8CDBF"
);
$brand-word: (
    10: "#020206",
    20: "#121626",
    30: "#182444",
    40: "#1C2F5D",
    50: "#1D3B78",
    60: "#1D4794",
    70: "#1A54B0",
    80: "#2F61C1",
    90: "#4B6FC7",
    100: "#627CCD",
    110: "#768BD3",
    120: "#8999D9",
    130: "#9CA8DF",
    140: "#AEB7E5",
    150: "#C0C6EB",
    160: "#D1D6F1"
);
$brand-teams: (
    10: "#030205",
    20: "#161523",
    30: "#22213D",
    40: "#2C2C54",
    50: "#37376D",
    60: "#414286",
    70: "#4B4D9F",
    80: "#5659BA",
    90: "#6566CA",
    100: "#7675D0",
    110: "#8784D6",
    120: "#9893DC",
    130: "#A8A2E1",
    140: "#B7B2E7",
    150: "#C7C2EC",
    160: "#D6D3F2"
);
$brand-powerapps: (
    10: "#050205",
    20: "#221221",
    30: "#3A193A",
    40: "#4E1E4E",
    50: "#632363",
    60: "#762B76",
    70: "#823C81",
    80: "#8D4D8B",
    90: "#985D96",
    100: "#A36EA0",
    110: "#AE7EAB",
    120: "#B98FB6",
    130: "#C49FC1",
    140: "#CFB0CC",
    150: "#D9C1D7",
    160: "#E4D3E3"
);
$brand-stream: (
    10: "#060202",
    20: "#261012",
    30: "#42161D",
    40: "#591925",
    50: "#711B2E",
    60: "#8A1C36",
    70: "#A41B3F",
    80: "#BD1D49",
    90: "#C63D58",
    100: "#CF5568",
    110: "#D76A78",
    120: "#DE7E89",
    130: "#E5929A",
    140: "#EBA6AB",
    150: "#F1B9BD",
    160: "#F6CDCF"
);
