[data-bui-theme=dark] {
  --borderRadiusNone: 0;
  --borderRadiusSmall: 2px;
  --borderRadiusMedium: 4px;
  --borderRadiusLarge: 6px;
  --borderRadiusXLarge: 8px;
  --borderRadiusCircular: 10000px;
  --fontSizeBase100: 10px;
  --fontSizeBase200: 12px;
  --fontSizeBase300: 14px;
  --fontSizeBase400: 16px;
  --fontSizeBase500: 20px;
  --fontSizeBase600: 24px;
  --fontSizeHero700: 28px;
  --fontSizeHero800: 32px;
  --fontSizeHero900: 40px;
  --fontSizeHero1000: 68px;
  --lineHeightBase100: 14px;
  --lineHeightBase200: 16px;
  --lineHeightBase300: 20px;
  --lineHeightBase400: 22px;
  --lineHeightBase500: 28px;
  --lineHeightBase600: 32px;
  --lineHeightHero700: 36px;
  --lineHeightHero800: 40px;
  --lineHeightHero900: 52px;
  --lineHeightHero1000: 92px;
  --fontFamilyBase: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  --fontFamilyMonospace: Consolas, 'Courier New', Courier, monospace;
  --fontFamilyNumeric: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightSemibold: 600;
  --fontWeightBold: 700;
  --strokeWidthThin: 1px;
  --strokeWidthThick: 2px;
  --strokeWidthThicker: 3px;
  --strokeWidthThickest: 4px;
  --spacingHorizontalNone: 0;
  --spacingHorizontalXXS: 2px;
  --spacingHorizontalXS: 4px;
  --spacingHorizontalSNudge: 6px;
  --spacingHorizontalS: 8px;
  --spacingHorizontalMNudge: 10px;
  --spacingHorizontalM: 12px;
  --spacingHorizontalL: 16px;
  --spacingHorizontalXL: 20px;
  --spacingHorizontalXXL: 24px;
  --spacingHorizontalXXXL: 32px;
  --spacingHorizontalXXXXL: 48px;
  --spacingHorizontalXXXXXL: 64px;
  --spacingVerticalNone: 0;
  --spacingVerticalXXS: 2px;
  --spacingVerticalXS: 4px;
  --spacingVerticalSNudge: 6px;
  --spacingVerticalS: 8px;
  --spacingVerticalMNudge: 10px;
  --spacingVerticalM: 12px;
  --spacingVerticalL: 16px;
  --spacingVerticalXL: 20px;
  --spacingVerticalXXL: 24px;
  --spacingVerticalXXXL: 32px;
  --spacingVerticalXXXXL: 48px;
  --spacingVerticalXXXXXL: 64px;
  --durationUltraFast: 50ms;
  --durationFaster: 100ms;
  --durationFast: 150ms;
  --durationNormal: 200ms;
  --durationGentle: 250ms;
  --durationSlow: 300ms;
  --durationSlower: 400ms;
  --durationUltraSlow: 500ms;
  --curveAccelerateMax: cubic-bezier(0.9,0.1,1,0.2);
  --curveAccelerateMid: cubic-bezier(1,0,1,1);
  --curveAccelerateMin: cubic-bezier(0.8,0,0.78,1);
  --curveDecelerateMax: cubic-bezier(0.1,0.9,0.2,1);
  --curveDecelerateMid: cubic-bezier(0,0,0,1);
  --curveDecelerateMin: cubic-bezier(0.33,0,0.1,1);
  --curveEasyEaseMax: cubic-bezier(0.8,0,0.2,1);
  --curveEasyEase: cubic-bezier(0.33,0,0.67,1);
  --curveLinear: cubic-bezier(0,0,1,1);
  --colorNeutralForeground1: #ffffff;
  --colorNeutralForeground1Hover: #ffffff;
  --colorNeutralForeground1Pressed: #ffffff;
  --colorNeutralForeground1Selected: #ffffff;
  --colorNeutralForeground2: #d6d6d6;
  --colorNeutralForeground2Hover: #ffffff;
  --colorNeutralForeground2Pressed: #ffffff;
  --colorNeutralForeground2Selected: #ffffff;
  --colorNeutralForeground2BrandHover: #C26154;
  --colorNeutralForeground2BrandPressed: #B84E42;
  --colorNeutralForeground2BrandSelected: #C26154;
  --colorNeutralForeground3: #adadad;
  --colorNeutralForeground3Hover: #d6d6d6;
  --colorNeutralForeground3Pressed: #d6d6d6;
  --colorNeutralForeground3Selected: #d6d6d6;
  --colorNeutralForeground3BrandHover: #C26154;
  --colorNeutralForeground3BrandPressed: #B84E42;
  --colorNeutralForeground3BrandSelected: #C26154;
  --colorNeutralForeground4: #999999;
  --colorNeutralForegroundDisabled: #5c5c5c;
  --colorNeutralForegroundInvertedDisabled: rgba(255, 255, 255, 0.4);
  --colorBrandForegroundLink: #C26154;
  --colorBrandForegroundLinkHover: #CB7466;
  --colorBrandForegroundLinkPressed: #B84E42;
  --colorBrandForegroundLinkSelected: #C26154;
  --colorNeutralForeground2Link: #d6d6d6;
  --colorNeutralForeground2LinkHover: #ffffff;
  --colorNeutralForeground2LinkPressed: #ffffff;
  --colorNeutralForeground2LinkSelected: #ffffff;
  --colorCompoundBrandForeground1: #C26154;
  --colorCompoundBrandForeground1Hover: #CB7466;
  --colorCompoundBrandForeground1Pressed: #B84E42;
  --colorBrandForeground1: #C26154;
  --colorBrandForeground2: #CB7466;
  --colorBrandForeground2Hover: #DC988C;
  --colorBrandForeground2Pressed: #F1CFC9;
  --colorNeutralForeground1Static: #242424;
  --colorNeutralForegroundStaticInverted: #ffffff;
  --colorNeutralForegroundInverted: #242424;
  --colorNeutralForegroundInvertedHover: #242424;
  --colorNeutralForegroundInvertedPressed: #242424;
  --colorNeutralForegroundInvertedSelected: #242424;
  --colorNeutralForegroundInverted2: #242424;
  --colorNeutralForegroundOnBrand: #ffffff;
  --colorNeutralForegroundInvertedLink: #ffffff;
  --colorNeutralForegroundInvertedLinkHover: #ffffff;
  --colorNeutralForegroundInvertedLinkPressed: #ffffff;
  --colorNeutralForegroundInvertedLinkSelected: #ffffff;
  --colorBrandForegroundInverted: #AD3A31;
  --colorBrandForegroundInvertedHover: #A32221;
  --colorBrandForegroundInvertedPressed: #911117;
  --colorBrandForegroundOnLight: #AD3A31;
  --colorBrandForegroundOnLightHover: #A32221;
  --colorBrandForegroundOnLightPressed: #771514;
  --colorBrandForegroundOnLightSelected: #911117;
  --colorNeutralBackground1: #292929;
  --colorNeutralBackground1Hover: #3d3d3d;
  --colorNeutralBackground1Pressed: #1f1f1f;
  --colorNeutralBackground1Selected: #383838;
  --colorNeutralBackground2: #1f1f1f;
  --colorNeutralBackground2Hover: #333333;
  --colorNeutralBackground2Pressed: #141414;
  --colorNeutralBackground2Selected: #2e2e2e;
  --colorNeutralBackground3: #141414;
  --colorNeutralBackground3Hover: #292929;
  --colorNeutralBackground3Pressed: #0a0a0a;
  --colorNeutralBackground3Selected: #242424;
  --colorNeutralBackground4: #0a0a0a;
  --colorNeutralBackground4Hover: #1f1f1f;
  --colorNeutralBackground4Pressed: #000000;
  --colorNeutralBackground4Selected: #1f1f1f;
  --colorNeutralBackground5: #000000;
  --colorNeutralBackground5Hover: #141414;
  --colorNeutralBackground5Pressed: #050505;
  --colorNeutralBackground5Selected: #0f0f0f;
  --colorNeutralBackground6: rgba(31, 31, 31, 0.7);
  --colorNeutralBackgroundInverted: #ffffff;
  --colorNeutralBackgroundStatic: #3d3d3d;
  --colorNeutralBackgroundAlpha: rgba(26, 26, 26, 0.5);
  --colorNeutralBackgroundAlpha2: rgba(31, 31, 31, 0.7);
  --colorSubtleBackground: transparent;
  --colorSubtleBackgroundHover: #383838;
  --colorSubtleBackgroundPressed: #2e2e2e;
  --colorSubtleBackgroundSelected: #333333;
  --colorSubtleBackgroundLightAlphaHover: rgba(36, 36, 36, 0.8);
  --colorSubtleBackgroundLightAlphaPressed: rgba(36, 36, 36, 0.5);
  --colorSubtleBackgroundLightAlphaSelected: transparent;
  --colorSubtleBackgroundInverted: transparent;
  --colorSubtleBackgroundInvertedHover: rgba(0, 0, 0, 0.1);
  --colorSubtleBackgroundInvertedPressed: rgba(0, 0, 0, 0.3);
  --colorSubtleBackgroundInvertedSelected: rgba(0, 0, 0, 0.2);
  --colorTransparentBackground: transparent;
  --colorTransparentBackgroundHover: transparent;
  --colorTransparentBackgroundPressed: transparent;
  --colorTransparentBackgroundSelected: transparent;
  --colorNeutralBackgroundDisabled: #141414;
  --colorNeutralBackgroundInvertedDisabled: rgba(0, 0, 0, 0.1);
  --colorNeutralStencil1: #575757;
  --colorNeutralStencil2: #333333;
  --colorNeutralStencil1Alpha: rgba(0, 0, 0, 0.1);
  --colorNeutralStencil2Alpha: rgba(0, 0, 0, 0.05);
  --colorBackgroundOverlay: rgba(0, 0, 0, 0.5);
  --colorScrollbarOverlay: rgba(0, 0, 0, 0.6);
  --colorBrandBackground: #A32221;
  --colorBrandBackgroundHover: #AD3A31;
  --colorBrandBackgroundPressed: #5E1512;
  --colorBrandBackgroundSelected: #911117;
  --colorCompoundBrandBackground: #C26154;
  --colorCompoundBrandBackgroundHover: #CB7466;
  --colorCompoundBrandBackgroundPressed: #B84E42;
  --colorBrandBackgroundStatic: #AD3A31;
  --colorBrandBackground2: #280F08;
  --colorBrandBackground2Hover: #5E1512;
  --colorBrandBackground2Pressed: #070100;
  --colorBrandBackground3Static: #911117;
  --colorBrandBackground4Static: #5E1512;
  --colorBrandBackgroundInverted: #ffffff;
  --colorBrandBackgroundInvertedHover: #F1CFC9;
  --colorBrandBackgroundInvertedPressed: #E4AAA0;
  --colorBrandBackgroundInvertedSelected: #EBBDB4;
  --colorNeutralCardBackground: #333333;
  --colorNeutralCardBackgroundHover: #3d3d3d;
  --colorNeutralCardBackgroundPressed: #2e2e2e;
  --colorNeutralCardBackgroundSelected: #383838;
  --colorNeutralCardBackgroundDisabled: #141414;
  --colorNeutralStrokeAccessible: #adadad;
  --colorNeutralStrokeAccessibleHover: #bdbdbd;
  --colorNeutralStrokeAccessiblePressed: #b3b3b3;
  --colorNeutralStrokeAccessibleSelected: #C26154;
  --colorNeutralStroke1: #666666;
  --colorNeutralStroke1Hover: #757575;
  --colorNeutralStroke1Pressed: #6b6b6b;
  --colorNeutralStroke1Selected: #707070;
  --colorNeutralStroke2: #525252;
  --colorNeutralStroke3: #3d3d3d;
  --colorNeutralStrokeSubtle: #0a0a0a;
  --colorNeutralStrokeOnBrand: #292929;
  --colorNeutralStrokeOnBrand2: #ffffff;
  --colorNeutralStrokeOnBrand2Hover: #ffffff;
  --colorNeutralStrokeOnBrand2Pressed: #ffffff;
  --colorNeutralStrokeOnBrand2Selected: #ffffff;
  --colorBrandStroke1: #C26154;
  --colorBrandStroke2: #771514;
  --colorBrandStroke2Hover: #771514;
  --colorBrandStroke2Pressed: #45140E;
  --colorBrandStroke2Contrast: #771514;
  --colorCompoundBrandStroke: #C26154;
  --colorCompoundBrandStrokeHover: #CB7466;
  --colorCompoundBrandStrokePressed: #B84E42;
  --colorNeutralStrokeDisabled: #424242;
  --colorNeutralStrokeInvertedDisabled: rgba(255, 255, 255, 0.4);
  --colorTransparentStroke: transparent;
  --colorTransparentStrokeInteractive: transparent;
  --colorTransparentStrokeDisabled: transparent;
  --colorNeutralStrokeAlpha: rgba(255, 255, 255, 0.1);
  --colorNeutralStrokeAlpha2: rgba(255, 255, 255, 0.2);
  --colorStrokeFocus1: #000000;
  --colorStrokeFocus2: #ffffff;
  --colorNeutralShadowAmbient: rgba(0,0,0,0.24);
  --colorNeutralShadowKey: rgba(0,0,0,0.28);
  --colorNeutralShadowAmbientLighter: rgba(0,0,0,0.12);
  --colorNeutralShadowKeyLighter: rgba(0,0,0,0.14);
  --colorNeutralShadowAmbientDarker: rgba(0,0,0,0.40);
  --colorNeutralShadowKeyDarker: rgba(0,0,0,0.48);
  --colorBrandShadowAmbient: rgba(0,0,0,0.30);
  --colorBrandShadowKey: rgba(0,0,0,0.25);
  --colorPaletteRedBackground1: #fdf6f6;
  --colorPaletteRedBackground2: #f1bbbc;
  --colorPaletteRedBackground3: #d13438;
  --colorPaletteRedForeground1: #bc2f32;
  --colorPaletteRedForeground2: #751d1f;
  --colorPaletteRedForeground3: #d13438;
  --colorPaletteRedBorderActive: #d13438;
  --colorPaletteRedBorder1: #f1bbbc;
  --colorPaletteRedBorder2: #d13438;
  --colorPaletteGreenBackground1: #f1faf1;
  --colorPaletteGreenBackground2: #9fd89f;
  --colorPaletteGreenBackground3: #107c10;
  --colorPaletteGreenForeground1: #0e700e;
  --colorPaletteGreenForeground2: #094509;
  --colorPaletteGreenForeground3: #107c10;
  --colorPaletteGreenBorderActive: #107c10;
  --colorPaletteGreenBorder1: #9fd89f;
  --colorPaletteGreenBorder2: #107c10;
  --colorPaletteDarkOrangeBackground1: #fdf6f3;
  --colorPaletteDarkOrangeBackground2: #f4bfab;
  --colorPaletteDarkOrangeBackground3: #da3b01;
  --colorPaletteDarkOrangeForeground1: #c43501;
  --colorPaletteDarkOrangeForeground2: #7a2101;
  --colorPaletteDarkOrangeForeground3: #da3b01;
  --colorPaletteDarkOrangeBorderActive: #da3b01;
  --colorPaletteDarkOrangeBorder1: #f4bfab;
  --colorPaletteDarkOrangeBorder2: #da3b01;
  --colorPaletteYellowBackground1: #fffef5;
  --colorPaletteYellowBackground2: #fef7b2;
  --colorPaletteYellowBackground3: #fde300;
  --colorPaletteYellowForeground1: #817400;
  --colorPaletteYellowForeground2: #817400;
  --colorPaletteYellowForeground3: #fde300;
  --colorPaletteYellowBorderActive: #fde300;
  --colorPaletteYellowBorder1: #fef7b2;
  --colorPaletteYellowBorder2: #fde300;
  --colorPaletteBerryBackground1: #fdf5fc;
  --colorPaletteBerryBackground2: #edbbe7;
  --colorPaletteBerryBackground3: #c239b3;
  --colorPaletteBerryForeground1: #af33a1;
  --colorPaletteBerryForeground2: #6d2064;
  --colorPaletteBerryForeground3: #c239b3;
  --colorPaletteBerryBorderActive: #c239b3;
  --colorPaletteBerryBorder1: #edbbe7;
  --colorPaletteBerryBorder2: #c239b3;
  --colorPaletteLightGreenBackground1: #f2fbf2;
  --colorPaletteLightGreenBackground2: #a7e3a5;
  --colorPaletteLightGreenBackground3: #13a10e;
  --colorPaletteLightGreenForeground1: #11910d;
  --colorPaletteLightGreenForeground2: #0b5a08;
  --colorPaletteLightGreenForeground3: #13a10e;
  --colorPaletteLightGreenBorderActive: #13a10e;
  --colorPaletteLightGreenBorder1: #a7e3a5;
  --colorPaletteLightGreenBorder2: #13a10e;
  --colorPaletteMarigoldBackground1: #fefbf4;
  --colorPaletteMarigoldBackground2: #f9e2ae;
  --colorPaletteMarigoldBackground3: #eaa300;
  --colorPaletteMarigoldForeground1: #d39300;
  --colorPaletteMarigoldForeground2: #835b00;
  --colorPaletteMarigoldForeground3: #eaa300;
  --colorPaletteMarigoldBorderActive: #eaa300;
  --colorPaletteMarigoldBorder1: #f9e2ae;
  --colorPaletteMarigoldBorder2: #eaa300;
  --colorPaletteRedForegroundInverted: #dc5e62;
  --colorPaletteGreenForegroundInverted: #359b35;
  --colorPaletteYellowForegroundInverted: #fdea3d;
  --colorPaletteDarkRedBackground2: #d69ca5;
  --colorPaletteDarkRedForeground2: #ac4f5e;
  --colorPaletteDarkRedBorderActive: #750b1c;
  --colorPaletteCranberryBackground2: #eeacb2;
  --colorPaletteCranberryForeground2: #dc626d;
  --colorPaletteCranberryBorderActive: #c50f1f;
  --colorPalettePumpkinBackground2: #efc4ad;
  --colorPalettePumpkinForeground2: #df8e64;
  --colorPalettePumpkinBorderActive: #ca5010;
  --colorPalettePeachBackground2: #ffddb3;
  --colorPalettePeachForeground2: #ffba66;
  --colorPalettePeachBorderActive: #ff8c00;
  --colorPaletteGoldBackground2: #ecdfa5;
  --colorPaletteGoldForeground2: #dac157;
  --colorPaletteGoldBorderActive: #c19c00;
  --colorPaletteBrassBackground2: #e0cea2;
  --colorPaletteBrassForeground2: #c1a256;
  --colorPaletteBrassBorderActive: #986f0b;
  --colorPaletteBrownBackground2: #ddc3b0;
  --colorPaletteBrownForeground2: #bb8f6f;
  --colorPaletteBrownBorderActive: #8e562e;
  --colorPaletteForestBackground2: #bdd99b;
  --colorPaletteForestForeground2: #85b44c;
  --colorPaletteForestBorderActive: #498205;
  --colorPaletteSeafoamBackground2: #a8f0cd;
  --colorPaletteSeafoamForeground2: #5ae0a0;
  --colorPaletteSeafoamBorderActive: #00cc6a;
  --colorPaletteDarkGreenBackground2: #9ad29a;
  --colorPaletteDarkGreenForeground2: #4da64d;
  --colorPaletteDarkGreenBorderActive: #0b6a0b;
  --colorPaletteLightTealBackground2: #a6e9ed;
  --colorPaletteLightTealForeground2: #58d3db;
  --colorPaletteLightTealBorderActive: #00b7c3;
  --colorPaletteTealBackground2: #9bd9db;
  --colorPaletteTealForeground2: #4cb4b7;
  --colorPaletteTealBorderActive: #038387;
  --colorPaletteSteelBackground2: #94c8d4;
  --colorPaletteSteelForeground2: #4496a9;
  --colorPaletteSteelBorderActive: #005b70;
  --colorPaletteBlueBackground2: #a9d3f2;
  --colorPaletteBlueForeground2: #5caae5;
  --colorPaletteBlueBorderActive: #0078d4;
  --colorPaletteRoyalBlueBackground2: #9abfdc;
  --colorPaletteRoyalBlueForeground2: #4a89ba;
  --colorPaletteRoyalBlueBorderActive: #004e8c;
  --colorPaletteCornflowerBackground2: #c8d1fa;
  --colorPaletteCornflowerForeground2: #93a4f4;
  --colorPaletteCornflowerBorderActive: #4f6bed;
  --colorPaletteNavyBackground2: #a3b2e8;
  --colorPaletteNavyForeground2: #546fd2;
  --colorPaletteNavyBorderActive: #0027b4;
  --colorPaletteLavenderBackground2: #d2ccf8;
  --colorPaletteLavenderForeground2: #a79cf1;
  --colorPaletteLavenderBorderActive: #7160e8;
  --colorPalettePurpleBackground2: #c6b1de;
  --colorPalettePurpleForeground2: #9470bd;
  --colorPalettePurpleBorderActive: #5c2e91;
  --colorPaletteGrapeBackground2: #d9a7e0;
  --colorPaletteGrapeForeground2: #b55fc1;
  --colorPaletteGrapeBorderActive: #881798;
  --colorPaletteLilacBackground2: #e6bfed;
  --colorPaletteLilacForeground2: #cf87da;
  --colorPaletteLilacBorderActive: #b146c2;
  --colorPalettePinkBackground2: #f7c0e3;
  --colorPalettePinkForeground2: #ef85c8;
  --colorPalettePinkBorderActive: #e43ba6;
  --colorPaletteMagentaBackground2: #eca5d1;
  --colorPaletteMagentaForeground2: #d957a8;
  --colorPaletteMagentaBorderActive: #bf0077;
  --colorPalettePlumBackground2: #d696c0;
  --colorPalettePlumForeground2: #ad4589;
  --colorPalettePlumBorderActive: #77004d;
  --colorPaletteBeigeBackground2: #d7d4d4;
  --colorPaletteBeigeForeground2: #afabaa;
  --colorPaletteBeigeBorderActive: #7a7574;
  --colorPaletteMinkBackground2: #cecccb;
  --colorPaletteMinkForeground2: #9e9b99;
  --colorPaletteMinkBorderActive: #5d5a58;
  --colorPalettePlatinumBackground2: #cdd6d8;
  --colorPalettePlatinumForeground2: #a0adb2;
  --colorPalettePlatinumBorderActive: #69797e;
  --colorPaletteAnchorBackground2: #bcc3c7;
  --colorPaletteAnchorForeground2: #808a90;
  --colorPaletteAnchorBorderActive: #394146;
  --colorStatusSuccessBackground1: #f1faf1;
  --colorStatusSuccessBackground2: #9fd89f;
  --colorStatusSuccessBackground3: #107c10;
  --colorStatusSuccessForeground1: #0e700e;
  --colorStatusSuccessForeground2: #094509;
  --colorStatusSuccessForeground3: #107c10;
  --colorStatusSuccessForegroundInverted: #54b054;
  --colorStatusSuccessBorderActive: #107c10;
  --colorStatusSuccessBorder1: #9fd89f;
  --colorStatusSuccessBorder2: #107c10;
  --colorStatusWarningBackground1: #fff9f5;
  --colorStatusWarningBackground2: #fdcfb4;
  --colorStatusWarningBackground3: #f7630c;
  --colorStatusWarningForeground1: #bc4b09;
  --colorStatusWarningForeground2: #8a3707;
  --colorStatusWarningForeground3: #bc4b09;
  --colorStatusWarningForegroundInverted: #faa06b;
  --colorStatusWarningBorderActive: #f7630c;
  --colorStatusWarningBorder1: #fdcfb4;
  --colorStatusWarningBorder2: #bc4b09;
  --colorStatusDangerBackground1: #fdf3f4;
  --colorStatusDangerBackground2: #eeacb2;
  --colorStatusDangerBackground3: #c50f1f;
  --colorStatusDangerForeground1: #b10e1c;
  --colorStatusDangerForeground2: #6e0811;
  --colorStatusDangerForeground3: #c50f1f;
  --colorStatusDangerForegroundInverted: #dc626d;
  --colorStatusDangerBorderActive: #c50f1f;
  --colorStatusDangerBorder1: #eeacb2;
  --colorStatusDangerBorder2: #c50f1f;
  --colorStatusDangerBackground3Hover:#b10e1c;
  --colorStatusDangerBackground3Pressed:#960b18;
  --shadow2: 0 0 2px var(--colorNeutralShadowAmbient), 0 1px 2px var(--colorNeutralShadowKey);
  --shadow4: 0 0 2px var(--colorNeutralShadowAmbient), 0 2px 4px var(--colorNeutralShadowKey);
  --shadow8: 0 0 2px var(--colorNeutralShadowAmbient), 0 4px 8px var(--colorNeutralShadowKey);
  --shadow16: 0 0 2px var(--colorNeutralShadowAmbient), 0 8px 16px var(--colorNeutralShadowKey);
  --shadow28: 0 0 8px var(--colorNeutralShadowAmbient), 0 14px 28px var(--colorNeutralShadowKey);
  --shadow64: 0 0 8px var(--colorNeutralShadowAmbient), 0 32px 64px var(--colorNeutralShadowKey);
  --shadow2Brand: 0 0 2px var(--colorBrandShadowAmbient), 0 1px 2px var(--colorBrandShadowKey);
  --shadow4Brand: 0 0 2px var(--colorBrandShadowAmbient), 0 2px 4px var(--colorBrandShadowKey);
  --shadow8Brand: 0 0 2px var(--colorBrandShadowAmbient), 0 4px 8px var(--colorBrandShadowKey);
  --shadow16Brand: 0 0 2px var(--colorBrandShadowAmbient), 0 8px 16px var(--colorBrandShadowKey);
  --shadow28Brand: 0 0 8px var(--colorBrandShadowAmbient), 0 14px 28px var(--colorBrandShadowKey);
  --shadow64Brand: 0 0 8px var(--colorBrandShadowAmbient), 0 32px 64px var(--colorBrandShadowKey);
}
