@page "/components/avatars"
<PageTitle>Avatars</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Avatars</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Avatar Initials="VR" />
        </section>

        <h3>Name</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Avatar Name="Vahid Rassouli" />
        </section>

        <h3>Image</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Avatar Name="Vahid Rassouli" ImageSource="/assets/avatars/profile-image.jpg" />
        </section>

        <h3>Icon</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Avatar Name="Vahid Rassouli" Icon="icon-ic_fluent_people_20_regular" />
        </section>

        <h3>Size</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Avatar Initials="16" Size="AvatarSize.Size16" />
            <Avatar Initials="20" Size="AvatarSize.Size20" />
            <Avatar Initials="24" Size="AvatarSize.Size24" />
            <Avatar Initials="28" Size="AvatarSize.Size28" />
            <Avatar Initials="32" Size="AvatarSize.Size32" />
            <Avatar Initials="36" Size="AvatarSize.Size36" />
            <Avatar Initials="40" Size="AvatarSize.Size40" />
            <Avatar Initials="48" Size="AvatarSize.Size48" />
            <Avatar Initials="56" Size="AvatarSize.Size56" />
            <Avatar Initials="64" Size="AvatarSize.Size64" />
            <Avatar Initials="72" Size="AvatarSize.Size72" />
            <Avatar Initials="96" Size="AvatarSize.Size96" />
            <Avatar Initials="120" Size="AvatarSize.Size120" />
            <Avatar Initials="128" Size="AvatarSize.Size128" />
        </section>

        <h3>Popover Integration</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Popover>
                <Trigger>
                    <Avatar Name="Vahid Rassouli" Icon="icon-ic_fluent_people_20_regular" />
                </Trigger>
                <Surface>
                    <div>
                        Popover surface
                    </div>
                </Surface>
            </Popover>
        </section>
    </div>
</div>

@code {
}
