@page "/components/buttons"

<div class="p-5 py-md-10 px-md-12">
    <div>
        <h5>Shapes</h5>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <Button Text="Rounded" />
            <Button Text="Circular" Shape="ButtonShape.Circular" />
            <Button Text="Square" Shape="ButtonShape.Square" />
        </div>
    </div>

    <div>
        <h5>Appearance</h5>
        <Button Text="Default" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
        <Button Text="Primary" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" Appearance="ButtonAppearance.Primary" />
        <Button Text="Outline" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" Appearance="ButtonAppearance.Outline" />
        <Button Text="Subtle" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" Appearance="ButtonAppearance.Subtle" />
        <Button Text="Transparent" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" Appearance="ButtonAppearance.Transparent" />
    </div>

    <div>
        <h5>Icon</h5>
        <Button Text="Default" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
        <Button Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
    </div>

    <div>
        <h5>Size</h5>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <Button Size="ButtonSize.Small" Text="Small" />
            <Button Size="ButtonSize.Small" Text="Small with icon" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
            <Button Size="ButtonSize.Small" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
        </div>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <Button Text="Medium" />
            <Button Text="Medium with icon" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
            <Button Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
        </div>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <Button Size="ButtonSize.Large" Text="Large" />
            <Button Size="ButtonSize.Large" Text="Large with icon" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
            <Button Size="ButtonSize.Large" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
        </div>
    </div>

    <div>
        <h5>Disabled</h5>
        <Button Text="Default" />
        <Button Text="Primary" Appearance="ButtonAppearance.Primary" disabled />
    </div>

    <div>
        <h5>Link</h5>
        <Button Text="Google" Href="https://google.com" />
        <Button Text="Google" Href="https://google.com" Appearance="ButtonAppearance.Primary" />
        <Button Text="Google" Href="https://google.com" disabled />
    </div>

    <div>
        <h5>Compound</h5>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <Button Text="Rounded" SecondaryText="Compound text" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
            <Button Text="Circular" SecondaryText="Compound text" Shape="ButtonShape.Circular" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
            <Button Text="Square" SecondaryText="Compound text" Shape="ButtonShape.Square" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
        </div>
    </div>

    <div>
        <h5>Toggle</h5>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <Button Toggled="false" Text="Default" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" />
            <Button Toggled="false" Text="Primary" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" Appearance="ButtonAppearance.Primary" />
            <Button Toggled="false" Text="Outline" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" Appearance="ButtonAppearance.Outline" />
            <Button Toggled="false" Text="Subtle" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" Appearance="ButtonAppearance.Subtle" />
            <Button Toggled="false" Text="Transparent" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" Appearance="ButtonAppearance.Transparent" />
        </div>
    </div>

    <div>
        <h5>Tootip</h5>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <Button Text="Button with tooltip" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled">
                <TooltipContent>
                    This is a tooltip!
                </TooltipContent>
            </Button>
        </div>
    </div>

    <div>
        <h5>Button Group</h5>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <ButtonGroup>
                <Button Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" />
                <Button Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" />
                <Button Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" />
            </ButtonGroup>
            <ButtonGroup>
                <Button Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" Appearance="ButtonAppearance.Primary" />
                <Button Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" Appearance="ButtonAppearance.Primary" />
                <Button Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" Appearance="ButtonAppearance.Primary" />
            </ButtonGroup>
            <ButtonGroup>
                <Button Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" Appearance="ButtonAppearance.Outline" />
                <Button Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" Appearance="ButtonAppearance.Outline" />
                <Button Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" Appearance="ButtonAppearance.Outline" />
            </ButtonGroup>
            <ButtonGroup>
                <Button Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" Appearance="ButtonAppearance.Subtle" />
                <Button Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" Appearance="ButtonAppearance.Subtle" />
                <Button Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" Appearance="ButtonAppearance.Subtle" />
            </ButtonGroup>
            <ButtonGroup>
                <Button Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" Appearance="ButtonAppearance.Transparent" />
                <Button Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" Appearance="ButtonAppearance.Transparent" />
                <Button Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" Appearance="ButtonAppearance.Transparent" />
            </ButtonGroup>
        </div>
    </div>

    <div>
        <h5>Dropdown button</h5>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <Button Text="Default" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled">
                <Dropdown>
                    <MenuList>
                        <MenuItem Title="Cut" Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" Checked />
                        <MenuItem Title="Copy" Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" />
                        <MenuItem Title="Paste" Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" />
                    </MenuList>
                </Dropdown>
            </Button>
            <Button Text="Default" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled" disabled>
                <Dropdown>
                    <MenuList>
                        <MenuItem Title="Cut" Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" Checked />
                        <MenuItem Title="Copy" Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" />
                        <MenuItem Title="Paste" Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" />
                    </MenuList>
                </Dropdown>
            </Button>
        </div>
    </div>

    <div>
        <h5>Split button</h5>
        <div class="d-flex mb-3 gap-2 align-items-center">
            <Button Text="Default" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled"
                    OnClick="()=>{}">
                <Dropdown>
                    <MenuList>
                        <MenuItem Title="Cut" Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" Checked />
                        <MenuItem Title="Copy" Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" />
                        <MenuItem Title="Paste" Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" />
                    </MenuList>
                </Dropdown>
            </Button>
            <Button Text="Default" Icon="icon-ic_fluent_cursor_click_20_regular" ActiveIcon="icon-ic_fluent_cursor_click_20_filled"
                    OnClick="()=>{}" disabled>
                <Dropdown>
                    <MenuList>
                        <MenuItem Title="Cut" Icon="icon-ic_fluent_cut_20_regular" ActiveIcon="icon-ic_fluent_cut_20_filled" Checked />
                        <MenuItem Title="Copy" Icon="icon-ic_fluent_copy_20_regular" ActiveIcon="icon-ic_fluent_copy_20_filled" />
                        <MenuItem Title="Paste" Icon="icon-ic_fluent_clipboard_paste_20_regular" ActiveIcon="icon-ic_fluent_clipboard_paste_20_filled" />
                    </MenuList>
                </Dropdown>
            </Button>
        </div>
    </div>
</div>
@code {
}
