@page "/components/links"
@using Bluent.UI.Interops.Abstractions

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Link</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Link Text="This is a label" Href="#"/>
        </section>

        <h3>Subtle</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Link Text="Subtle link" Appearance="LinkAppearance.Subtle" href="#"/>
        </section>

        <h3>Disable</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Link Text="Disabled" disabled Href="#"/>
        </section>

    </div>
</div>

@code {
}
