@page "/components/popovers"
@using Bluent.UI.Interops.Abstractions

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Popover</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Popover>
                <Trigger>
                    <Button Text="Popover trigger" />
                </Trigger>
                <Surface>
                    Popover content...
                </Surface>
            </Popover>
            <Popover Placement="Placement.LeftStart">
                <Trigger>
                    <Button Text="Popover trigger" />
                </Trigger>
                <Surface>
                    Popover content...
                </Surface>
            </Popover>
        </section>
    </div>
</div>

@code {
}
