@page "/components/tablists"
@using Bluent.UI.Interops.Abstractions

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Tab list</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <TabList>
                <Tab Text="First Tab"></Tab>
                <Tab Text="Second Tab"></Tab>
                <Tab Text="Third Tab"></Tab>
                <Tab Text="Fourth Tab"></Tab>
            </TabList>
        </section>

        <h3>Vertical</h3>
        <section class="p-7 rounded-5 shadow-3">
            <TabList Orientation="OverflowOrientation.Vertical">
                <Tab Text="First Tab"></Tab>
                <Tab Text="Second Tab"></Tab>
                <Tab Text="Third Tab"></Tab>
                <Tab Text="Fourth Tab"></Tab>
            </TabList>
        </section>

        <h3>Appearance</h3>
        <section class="p-7 rounded-5 shadow-3">
            <h4>Transparent (default)</h4>
            <TabList>
                <Tab Text="First Tab"></Tab>
                <Tab Text="Second Tab"></Tab>
                <Tab Text="Third Tab"></Tab>
                <Tab Text="Fourth Tab"></Tab>
            </TabList>
            
            <h4>Subtle</h4>
            <TabList Appearance="TabListAppearance.Subtle">
                <Tab Text="First Tab"></Tab>
                <Tab Text="Second Tab"></Tab>
                <Tab Text="Third Tab"></Tab>
                <Tab Text="Fourth Tab"></Tab>
            </TabList>
        </section>

        <h3>Disabled</h3>
        <section class="p-7 rounded-5 shadow-3">
            <TabList>
                <Tab Text="First Tab"></Tab>
                <Tab Text="Second Tab" disabled></Tab>
                <Tab Text="Third Tab"></Tab>
                <Tab Text="Fourth Tab"></Tab>
            </TabList>
        </section>

        <h3>With Panels</h3>
        <section class="p-7 rounded-5 shadow-3">
            <div class="d-flex flex-wrap">
                <TabList Class="w-100 w-md-50" @bind-SelectedIndex="_selectedTabIndex">
                    <Tab Text="Arrivals" Icon="icon-ic_fluent_airplane_20_regular" ActiveIcon="icon-ic_fluent_airplane_20_filled">
                        <table>
                            <tr>
                                <th>Origin</th>
                                <th>Gate</th>
                                <th>ETA</th>
                            </tr>
                            <tr>
                                <td>DEN</td>
                                <td>C3</td>
                                <td>12:40 PM</td>
                            </tr>
                            <tr>
                                <td>SMF</td>
                                <td>D1</td>
                                <td>1:18 PM</td>
                            </tr>
                            <tr>
                                <td>SFO</td>
                                <td>E18</td>
                                <td>1:42 PM</td>
                            </tr>
                        </table>
                    </Tab>
                    <Tab Text="Departures" Icon="icon-ic_fluent_airplane_take_off_20_regular" ActiveIcon="icon-ic_fluent_airplane_take_off_20_filled">
                        <table>
                            <tr>
                                <th>Destination</th>
                                <th>Gate</th>
                                <th>ETD</th>
                            </tr>
                            <tr>
                                <td>MSP</td>
                                <td>A7</td>
                                <td>8:26 AM</td>
                            </tr>
                            <tr>
                                <td>DCA</td>
                                <td>N2</td>
                                <td>9:03 AM</td>
                            </tr>
                            <tr>
                                <td>LAS</td>
                                <td>E15</td>
                                <td>2:36 PM</td>
                            </tr>
                        </table>
                    </Tab>
                    <Tab Text="Conditions" Icon="icon-ic_fluent_time_and_weather_20_regular" ActiveIcon="icon-ic_fluent_time_and_weather_20_filled">
                        <table className={styles.propsTable}>
                            <tbody>
                                <tr>
                                    <td>Time</td>
                                    <td>6:45 AM</td>
                                </tr>
                                <tr>
                                    <td>Temperature</td>
                                    <td>68F / 20C</td>
                                </tr>
                                <tr>
                                    <td>Forecast</td>
                                    <td>Overcast</td>
                                </tr>
                                <tr>
                                    <td>Visibility</td>
                                    <td>0.5 miles, 1800 ft runway visual range</td>
                                </tr>
                            </tbody>
                        </table>
                    </Tab>
                </TabList>

                <TabList Class="w-100 w-md-50" Orientation="OverflowOrientation.Vertical" @bind-SelectedIndex="_selectedTabIndex">
                    <Tab Text="Arrivals" Icon="icon-ic_fluent_airplane_20_regular" ActiveIcon="icon-ic_fluent_airplane_20_filled">
                        <table>
                            <tr>
                                <th>Origin</th>
                                <th>Gate</th>
                                <th>ETA</th>
                            </tr>
                            <tr>
                                <td>DEN</td>
                                <td>C3</td>
                                <td>12:40 PM</td>
                            </tr>
                            <tr>
                                <td>SMF</td>
                                <td>D1</td>
                                <td>1:18 PM</td>
                            </tr>
                            <tr>
                                <td>SFO</td>
                                <td>E18</td>
                                <td>1:42 PM</td>
                            </tr>
                        </table>
                    </Tab>
                    <Tab Text="Departures" Icon="icon-ic_fluent_airplane_take_off_20_regular" ActiveIcon="icon-ic_fluent_airplane_take_off_20_filled">
                        <table>
                            <tr>
                                <th>Destination</th>
                                <th>Gate</th>
                                <th>ETD</th>
                            </tr>
                            <tr>
                                <td>MSP</td>
                                <td>A7</td>
                                <td>8:26 AM</td>
                            </tr>
                            <tr>
                                <td>DCA</td>
                                <td>N2</td>
                                <td>9:03 AM</td>
                            </tr>
                            <tr>
                                <td>LAS</td>
                                <td>E15</td>
                                <td>2:36 PM</td>
                            </tr>
                        </table>
                    </Tab>
                    <Tab Text="Conditions" Icon="icon-ic_fluent_time_and_weather_20_regular" ActiveIcon="icon-ic_fluent_time_and_weather_20_filled">
                        <table className={styles.propsTable}>
                            <tbody>
                                <tr>
                                    <td>Time</td>
                                    <td>6:45 AM</td>
                                </tr>
                                <tr>
                                    <td>Temperature</td>
                                    <td>68F / 20C</td>
                                </tr>
                                <tr>
                                    <td>Forecast</td>
                                    <td>Overcast</td>
                                </tr>
                                <tr>
                                    <td>Visibility</td>
                                    <td>0.5 miles, 1800 ft runway visual range</td>
                                </tr>
                            </tbody>
                        </table>
                    </Tab>
                </TabList>
            </div>
        </section>

    </div>
</div>

@code {
    int _selectedTabIndex;
}
