@page "/components/trees"
<PageTitle>Trees</PageTitle>

<div class="p-5 py-md-10 px-md-12">
    <div class="w-100 w-md-50 m-auto">
        <h1>Trees</h1>

        <h3>Default</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree>
                <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>

        <h3>Checkboxes</h3>
        <section class="p-7 rounded-5 shadow-3">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>Independent</h4>
                    <Tree CheckboxMode="TreeCheckboxMode.Independent">
                        <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.1" />
                            <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                    <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                    <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                </TreeItem>
                                <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                        </TreeItem>
                        <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </Tree>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Cascade</h4>
                    <Tree CheckboxMode="TreeCheckboxMode.Cascade">
                        <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.1" />
                            <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                    <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                    <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                </TreeItem>
                                <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                        </TreeItem>
                        <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </Tree>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Cascade Up</h4>
                    <Tree CheckboxMode="TreeCheckboxMode.CascadeUp">
                        <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.1" />
                            <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                    <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                    <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                </TreeItem>
                                <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                        </TreeItem>
                        <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </Tree>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Cascade Down</h4>
                    <Tree CheckboxMode="TreeCheckboxMode.CascadeDown">
                        <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.1" />
                            <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                    <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                    <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                </TreeItem>
                                <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                        </TreeItem>
                        <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                                <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                                <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            </TreeItem>
                            <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </Tree>
                </div>
            </div>
        </section>

        <h3>Circular Checkboxes</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree CheckboxMode="TreeCheckboxMode.Cascade" CircularCheckboxes>
                <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                            <TreeItem Title="Item 1.2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                            <TreeItem Title="Item 1.2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        </TreeItem>
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>

        <h3>Expand on expander only</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree ToggleSubItemsOnClick="false">
                <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>

        <h3>Check on item click</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree ToggleSubItemsOnClick="false" ToggleCheckStateOnClick="true" CheckboxMode="TreeCheckboxMode.Cascade">
                <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>

        <h3>Disabled Checkboxes</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Tree CheckboxMode="TreeCheckboxMode.Cascade">
                <TreeItem Title="Item 1" DisableCheckBox="true" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.1" />
                    <TreeItem Title="Item 1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 1.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.1.1" @bind-IsChecked=_checked_2_1_1 Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.1.2" @bind-IsChecked=_checked_2_1_2 Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 2.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 2.3.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 2.3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                </TreeItem>
                <TreeItem Title="Item 3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 3.1" @bind-IsChecked=_checked_3_1 Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                        <TreeItem Title="Item 3.1.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                        <TreeItem Title="Item 3.1.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    </TreeItem>
                    <TreeItem Title="Item 3.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 3.3" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>
                <TreeItem Title="Item 4" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
            </Tree>
        </section>
                  
@*         <Tree CheckboxMode="TreeCheckboxMode.Cascade">
            <TreeItem Title="Item 1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                <TreeItem Title="Item 1.1" IsChecked="true" />

                <TreeItem Title="Item 1.2" IsChecked="true" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular">
                    <TreeItem Title="Item 1.2.1" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                    <TreeItem Title="Item 1.2.2" Icon="icon-ic_fluent_folder_20_regular" ExpandedIcon="icon-ic_fluent_folder_open_20_regular" />
                </TreeItem>

            </TreeItem>
        </Tree>
 *@
    </div>
</div>

@code {
    bool? _checked_2_1_1 = true;
    bool? _checked_2_1_2 = true;
    bool? _checked_3_1 = true;
}
