@using Blazored.LocalStorage
@using Bluent.UI.Interops.Abstractions
<Button Icon="@(SideMenuExpanded ? "icon-ic_fluent_panel_right_expand_20_regular" : "icon-ic_fluent_panel_left_expand_20_regular")" 
        ActiveIcon="@(SideMenuExpanded ? "icon-ic_fluent_panel_right_expand_20_filled" : "icon-ic_fluent_panel_left_expand_20_filled")"
        OnClick="ToggleExpand"
        Size="ButtonSize.Large" 
        Appearance="ButtonAppearance.Subtle"  />
<Button Appearance="ButtonAppearance.Transparent" href="/" Text="Bluent" />
<div class="flex-fill"></div>
<Popover>
    <Trigger>
        <Button Icon="icon-ic_fluent_color_20_regular" ActiveIcon="icon-ic_fluent_color_20_filled" Appearance="ButtonAppearance.Subtle" Size="ButtonSize.Large" Class="fs-6 rounded-0" />
    </Trigger>
    <Surface>
        <div class="d-flex flex-column gap-3 overflow-auto" style="max-height: 400px;">
            @foreach (var color in _colors)
            {
                <Card Orientation="CardOrientation.Horizontal" Class="flex-shrink-0">
                    <CardPreview>
                        <div style="background-color: @color.ColorHex" class="w-100 h-100">
                        </div>
                    </CardPreview>
                    <CardHeader>
                        <Header>
                            @color.Name
                        </Header>
                        <Description>
                            <Link Text="Apply" OnClick="()=>SetTheme(color.Name)" />
                        </Description>
                    </CardHeader>
                </Card>
            }
        </div>
    </Surface>
</Popover>
<Switch @bind-Value="IsDarkTheme" Label="Dark" UncheckedLabel="Light" />
<Switch @bind-Value="IsRtl" Label="RTL" UncheckedLabel="LTR" />

@code {
    private const string RtlDirection = "rtl";
    private const string LtrDirection = "ltr";
    private const string LightTheme = "light";
    private const string DarkTheme = "dark";

    private readonly List<ThemeColorModel> _colors =
    [
        new("Default", "#0F6CBD"),
        new("Excel", "#107C41"),
        new ("Office", "#d83b01"),
        new ("Outlook", "#0078d4"),
        new ("PowerApps", "#742774"),
        new ("PowerBI", "#f2c811"),
        new ("PowerPoint", "#C43E1C"),
        new ("Stream", "#BC1948"),
        new ("Teams", "#5B5FC7"),
        new ("Word", "#185ABD")
    ];

    [Parameter] public bool SideMenuExpanded { get; set; }
    [Parameter] public EventCallback<bool> SideMenuExpandedChanged { get; set; }
    [Inject] private IBluentTheme Theme { get; set; } = default!;
    [Inject] private ILocalStorageService LocalStorage { get; set; } = default!;

    private bool IsDarkTheme
    {
        get;
        set
        {
            if (value != field)
            {
                field = value;
                _ = UpdateTheme();
            }
        }
    }

    private bool IsRtl
    {
        get;
        set
        {
            if (value != field)
            {
                field = value;
                _ = UpdateDirection();
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadTheme();
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task UpdateTheme()
    {
        var theme = IsDarkTheme ? DarkTheme : LightTheme;
        await Theme.SetThemeModeAsync(theme);
        await LocalStorage.SetItemAsStringAsync("ThemeMode", theme);
    }

    private async Task UpdateDirection()
    {
        var dir = IsRtl ? RtlDirection : LtrDirection;
        await Theme.SetDirectionAsync(dir);
        await LocalStorage.SetItemAsStringAsync("ThemeDir", dir);
    }

    private async Task LoadTheme()
    {
        var themeMode = await LocalStorage.GetItemAsStringAsync("ThemeMode");
        var themeDir = await LocalStorage.GetItemAsStringAsync("ThemeDir");
        var themeName = await LocalStorage.GetItemAsStringAsync("ThemeName");

        IsDarkTheme = (themeMode == DarkTheme);
        IsRtl = String.Compare(themeDir, RtlDirection, StringComparison.OrdinalIgnoreCase) == 0;
        if (!string.IsNullOrEmpty(themeName))
            await SetTheme(themeName);
    }

    private async Task SetTheme(string themeName)
    {
        await Theme.SetThemeAsync(themeName.ToLower());
        await LocalStorage.SetItemAsStringAsync("ThemeName", themeName.ToLower());
    }

    private class ThemeColorModel
    {
        public ThemeColorModel(string name, string colorHex)
        {
            Name = name;
            ColorHex = colorHex;
        }

        public string Name { get; }
        public string ColorHex { get; }
    }

    private Task ToggleExpand()
    {
        SideMenuExpanded = !SideMenuExpanded;
        return SideMenuExpandedChanged.InvokeAsync(SideMenuExpanded);
    }

}