@inherits LayoutComponentBase
<div class="page">
    <div class="header">
        <Header/>
    </div>
    <div class="content">
        <div class="sidebar d-flex flex-column">
            <Side />
        </div>
        <div class="page-content">
            @Body
        </div>
    </div>
</div>

<Containers/>