@inherits LayoutComponentBase
<div class="page">
    <div class="header">
        <Header @bind-SideMenuExpanded="_expanded"/>
    </div>
    <div class="content">
        <div class="sidebar d-flex flex-column">
            <Side Expanded="_expanded" />
        </div>
        <div class="page-content">
            @Body
        </div>
    </div>
</div>

<Containers/>

@code{

    bool _expanded = true;

}