
.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--colorNeutralBackground1);
}

    .page > .header {
        background-color: var(--colorNeutralBackground4);
        color: var(--colorNeutralForeground1);
        display: flex;
        align-items: center;
    }

    .page > .content {
        flex: 1;
        display: flex;
        flex-direction: row;
        overflow: auto;
    }

        .page > .content > .sidebar {
            background-color: var(--colorNeutralBackground4);
            color: var(--colorNeutralForeground1);
            overflow: auto;
        }

        .page > .content > .page-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }

@media (max-width: 720px) {
    .page > .content {
        position: relative;
    }

    .page > .content > .sidebar {
        position: absolute;
        z-index: 10;
        inset-block: 0;
        inset-inline-start: 0;
        max-width: 82vw;
        height: 100%;
        box-shadow: var(--shadow16);
    }

    .page > .content > .sidebar.compact {
        display: none !important;
    }

    .page > .content > .page-content {
        width: 100%;
    }
}
