
.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--colorNeutralBackground1);
}

    .page > .header {
        background-color: var(--colorNeutralBackground4);
        color: var(--colorNeutralForeground1);
        display: flex;
        align-items: center;
    }

    .page > .content {
        flex: 1;
        display: flex;
        flex-direction: row;
        overflow: auto;
    }

        .page > .content > .sidebar {
            background-color: var(--colorNeutralBackground4);
            color: var(--colorNeutralForeground1);
            overflow: auto;
        }

        .page > .content > .page-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }
