@inherits Overflow
@namespace Bluent.UI.Components

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    @{
        base.BuildRenderTree(__builder);
    }
</div>
