@if (_contexts.Any(x => x.Config.Modal))
{
    <Overlay OnClick="OverlayClickHandler" />
}
@foreach (var context in _contexts)
{
    <div class="dialog-wrapper">
        <Dialog @ref=context.DialogReference
                @key=context
                Size="context.Config.Size"
                OnClose="(result)=>{ OnDialogClose(result, context); }">
            @context.Content
        </Dialog>
    </div>
}
