@namespace Bluent.UI.Components
@inherits BluentComponentBase

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    <div class="icon">
        <Icon Content="@GetIconClass()" />
    </div>
    <div class="body">
        @ChildContent
    </div>
    @if (Dismissable)
    {
        <div class="dismiss">
            <Button Appearance="ButtonAppearance.Transparent"
                    Size="ButtonSize.Small"
                    Icon="icon-ic_fluent_dismiss_20_regular" ActiveIcon="icon-ic_fluent_dismiss_20_filled"
                    OnClick="OnDismiss" />
        </div>
    }
    @if (Actions != null)
    {
        <div class="actions">
            @Actions
        </div>
    }
</div>
