@page "/components/charts/bar"
<div class="p-5 py-md-10 px-md-12 anim-slide-in-end anim-fade-in">
    <div class="w-100 w-md-50 m-auto">
        <h1>Bar chart</h1>

        <h3>Border Radius</h3>
        <section class="p-7 rounded-5 shadow-3">
            <Chart></Chart>
        </section>

    </div>
</div>
