@use "sass:map";
@import "shared/statusSharedColorNames.scss";
@import "shared/personaSharedColorNames.scss";

@mixin colors {
    @each $colorName in $statusSharedColorNames {
        .color-#{$colorName}-2 {
            color: var(--colorPalette#{capitalize($colorName)}Foreground2) !important;
        }
        .color-bg-#{$colorName}-2 {
            background-color: var(--colorPalette#{capitalize($colorName)}Background2) !important;
        }
    }

    @each $colorName in $personaSharedColorNames {
        .color-#{$colorName}-2 {
            color: var(--colorPalette#{capitalize($colorName)}Foreground2) !important;
        }
        .color-bg-#{$colorName}-2 {
            background-color: var(--colorPalette#{capitalize($colorName)}Background2) !important;
        }
    }

    .color-neutral-2 {
        color: var(--colorNeutralForeground2) !important;
    }

    .color-bg-neutral-2 {
        background-color: var(--colorNeutralBackground2) !important;
    }

    .color-brand-2 {
        color: var(--colorBrandForeground2) !important;
    }

    .color-bg-brand-2 {
        background-color: var(--colorBrandBackground2) !important;
    }
}
