@namespace Bluent.UI.Components
@inherits BluentUiComponentBase

<div @attributes=AdditionalAttributes id="@Id" class="@GetComponentClass()" style="@Style">
    <div class="title">@Title</div>
    @ChildContent
</div>

