@inherits BluentComponentBase
@namespace Bluent.UI.Components

@{
    __builder.OpenElement(0, GetItemTag());
    __builder.AddMultipleAttributes(1, AdditionalAttributes);
    __builder.AddAttribute(2, "id", Id);
    __builder.AddAttribute(3, "class", GetComponentClass());
    __builder.AddAttribute(4, "style", Style);
    __builder.AddAttribute(5, "onclick", EventCallback.Factory.Create(this, ClickHandler));
    if (IsLink)
    {
        __builder.AddAttribute(6, "href", Href);
    }
    else
    {
        __builder.AddAttribute(7, "type", "button");
    }
    __builder.OpenRegion(8);
}
@if (List.SelectionMode == SelectionMode.Multiple)
{
    <div class="selector">
        <Checkbox @bind-Value="Selected" />
    </div>
}
<div class="content">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @if (!string.IsNullOrEmpty(Icon) || List.ShouldRenderIcon())
        {
            @if (!string.IsNullOrEmpty(ActiveIcon))
            {
                <Icon Content="@ActiveIcon" Class="active-icon" />
            }
            <Icon Content="@Icon" Class="icon" />
        }
        @if (!string.IsNullOrEmpty(Text))
        {
            <div class="text">
                @if (!string.IsNullOrEmpty(Text))
                {
                    <div>@Text</div>
                }
            </div>
        }
    }
</div>
@{
    __builder.CloseRegion();
    __builder.CloseElement();
}