@use "sass:map";
@import "../maps/colors.scss";

@mixin brand-palette($brand) {
    --colorNeutralForeground1: #{map.get($grey, '14')};
    --colorNeutralForeground1Hover: #{map.get($grey, '14')};
    --colorNeutralForeground1Pressed: #{map.get($grey, '14')};
    --colorNeutralForeground1Selected: #{map.get($grey, '14')};
    --colorNeutralForeground2: #{map.get($grey, '26')};
    --colorNeutralForeground2Hover: #{map.get($grey, '14')};
    --colorNeutralForeground2Pressed: #{map.get($grey, '14')};
    --colorNeutralForeground2Selected: #{map.get($grey, '14')};
    --colorNeutralForeground2BrandHover: #{map.get($brand, 80)};
    --colorNeutralForeground2BrandPressed: #{map.get($brand, 70)};
    --colorNeutralForeground2BrandSelected: #{map.get($brand, 80)};
    --colorNeutralForeground3: #{map.get($grey, '38')};
    --colorNeutralForeground3Hover: #{map.get($grey, '26')};
    --colorNeutralForeground3Pressed: #{map.get($grey, '26')};
    --colorNeutralForeground3Selected:#{map.get($grey, '26')};
    --colorNeutralForeground3BrandHover: #{map.get($brand, 80)};
    --colorNeutralForeground3BrandPressed: #{map.get($brand, 70)};
    --colorNeutralForeground3BrandSelected: #{map.get($brand, 80)};
    --colorNeutralForeground4: #{map.get($grey, '44')};
    --colorNeutralForegroundDisabled: #{map.get($grey, '74')};
    --colorNeutralForegroundInvertedDisabled: #{map.get($whiteAlpha, '40')};
    --colorBrandForegroundLink: #{map.get($brand, 70)};
    --colorBrandForegroundLinkHover: #{map.get($brand, 60)};
    --colorBrandForegroundLinkPressed: #{map.get($brand, 40)};
    --colorBrandForegroundLinkSelected: #{map.get($brand, 70)};
    --colorNeutralForeground2Link: #{map.get($grey, '26')};
    --colorNeutralForeground2LinkHover:#{map.get($grey, '14')};
    --colorNeutralForeground2LinkPressed: #{map.get($grey, '14')};
    --colorNeutralForeground2LinkSelected: #{map.get($grey, '14')};
    --colorCompoundBrandForeground1: #{map.get($brand, 80)};
    --colorCompoundBrandForeground1Hover: #{map.get($brand, 70)};
    --colorCompoundBrandForeground1Pressed: #{map.get($brand, 60)};
    --colorBrandForeground1: #{map.get($brand, 80)};
    --colorBrandForeground2: #{map.get($brand, 70)};
    --colorBrandForeground2Hover: #{map.get($brand, 60)};
    --colorBrandForeground2Pressed: #{map.get($brand, 30)};
    --colorNeutralForeground1Static: #{map.get($grey, '14')};
    --colorNeutralForegroundStaticInverted: #{$white};
    --colorNeutralForegroundInverted: #{$white};
    --colorNeutralForegroundInvertedHover: #{$white};
    --colorNeutralForegroundInvertedPressed: #{$white};
    --colorNeutralForegroundInvertedSelected: #{$white};
    --colorNeutralForegroundInverted2: #{$white};
    --colorNeutralForegroundOnBrand: #{$white};
    --colorNeutralForegroundInvertedLink: #{$white};
    --colorNeutralForegroundInvertedLinkHover: #{$white};
    --colorNeutralForegroundInvertedLinkPressed: #{$white};
    --colorNeutralForegroundInvertedLinkSelected: #{$white};
    --colorBrandForegroundInverted: #{map.get($brand, 100)};
    --colorBrandForegroundInvertedHover: #{map.get($brand, 110)};
    --colorBrandForegroundInvertedPressed: #{map.get($brand, 100)};
    --colorBrandForegroundOnLight: #{map.get($brand, 80)};
    --colorBrandForegroundOnLightHover: #{map.get($brand, 70)};
    --colorBrandForegroundOnLightPressed: #{map.get($brand, 50)};
    --colorBrandForegroundOnLightSelected: #{map.get($brand, 60)};
    --colorNeutralBackground1: #{$white};
    --colorNeutralBackground1Hover: #{map.get($grey, '96')};
    --colorNeutralBackground1Pressed: #{map.get($grey, '88')};
    --colorNeutralBackground1Selected: #{map.get($grey, '92')};
    --colorNeutralBackground2: #{map.get($grey, '98')};
    --colorNeutralBackground2Hover: #{map.get($grey, '94')};
    --colorNeutralBackground2Pressed: #{map.get($grey, '86')};
    --colorNeutralBackground2Selected: #{map.get($grey, '90')};
    --colorNeutralBackground3: #{map.get($grey, '96')};
    --colorNeutralBackground3Hover: #{map.get($grey, '92')};
    --colorNeutralBackground3Pressed: #{map.get($grey, '84')};
    --colorNeutralBackground3Selected: #{map.get($grey, '88')};
    --colorNeutralBackground4: #{map.get($grey, '94')};
    --colorNeutralBackground4Hover: #{map.get($grey, '98')};
    --colorNeutralBackground4Pressed: #{map.get($grey, '96')};
    --colorNeutralBackground4Selected: #{$white};
    --colorNeutralBackground5: #{map.get($grey, '92')};
    --colorNeutralBackground5Hover: #{map.get($grey, '96')};
    --colorNeutralBackground5Pressed: #{map.get($grey, '94')};
    --colorNeutralBackground5Selected: #{map.get($grey, '98')};
    --colorNeutralBackground6: #{map.get($grey, '90')};
    --colorNeutralBackgroundInverted: #{map.get($grey, '16')};
    --colorNeutralBackgroundStatic: #{map.get($grey, '20')};
    --colorNeutralBackgroundAlpha: #{map.get($whiteAlpha, '50')};
    --colorNeutralBackgroundAlpha2: #{map.get($whiteAlpha, '80')};
    --colorSubtleBackground: 'transparent';
    --colorSubtleBackgroundHover: #{map.get($grey, '96')};
    --colorSubtleBackgroundPressed: #{map.get($grey, '88')};
    --colorSubtleBackgroundSelected: #{map.get($grey, '92')};
    --colorSubtleBackgroundLightAlphaHover: #{map.get($whiteAlpha, '70')};
    --colorSubtleBackgroundLightAlphaPressed: #{map.get($whiteAlpha, '50')};
    --colorSubtleBackgroundLightAlphaSelected: 'transparent';
    --colorSubtleBackgroundInverted: 'transparent';
    --colorSubtleBackgroundInvertedHover: #{map.get($blackAlpha, '10')};
    --colorSubtleBackgroundInvertedPressed: #{map.get($blackAlpha, '30')};
    --colorSubtleBackgroundInvertedSelected: #{map.get($blackAlpha, '20')};
    --colorTransparentBackground: 'transparent';
    --colorTransparentBackgroundHover: 'transparent';
    --colorTransparentBackgroundPressed: 'transparent';
    --colorTransparentBackgroundSelected: 'transparent';
    --colorNeutralBackgroundDisabled: #{map.get($grey, '94')};
    --colorNeutralBackgroundInvertedDisabled: #{map.get($whiteAlpha, '10')};
    --colorNeutralStencil1:#{map.get($grey, '90')};
    --colorNeutralStencil2: #{map.get($grey, '98')};
    --colorNeutralStencil1Alpha: #{map.get($blackAlpha, '10')};
    --colorNeutralStencil2Alpha: #{map.get($blackAlpha, '5')};
    --colorBackgroundOverlay: #{map.get($blackAlpha, '40')};
    --colorScrollbarOverlay: #{map.get($blackAlpha, '50')};
    --colorBrandBackground: #{map.get($brand, 80)};
    --colorBrandBackgroundHover: #{map.get($brand, 70)};
    --colorBrandBackgroundPressed: #{map.get($brand, 40)};
    --colorBrandBackgroundSelected: #{map.get($brand, 60)};
    --colorCompoundBrandBackground: #{map.get($brand, 80)};
    --colorCompoundBrandBackgroundHover: #{map.get($brand, 70)};
    --colorCompoundBrandBackgroundPressed: #{map.get($brand, 60)};
    --colorBrandBackgroundStatic: #{map.get($brand, 80)};
    --colorBrandBackground2: #{map.get($brand, 160)};
    --colorBrandBackground2Hover: #{map.get($brand, 150)};
    --colorBrandBackground2Pressed: #{map.get($brand, 130)};
    --colorBrandBackground3Static: #{map.get($brand, 60)};
    --colorBrandBackground4Static: #{map.get($brand, 40)};
    --colorBrandBackgroundInverted: #{$white};
    --colorBrandBackgroundInvertedHover:#{map.get($brand, 160)};
    --colorBrandBackgroundInvertedPressed: #{map.get($brand, 140)};
    --colorBrandBackgroundInvertedSelected: #{map.get($brand, 150)};
    --colorNeutralCardBackground: #{map.get($grey, '98')};
    --colorNeutralCardBackgroundHover: #{$white};
    --colorNeutralCardBackgroundPressed: #{map.get($grey, '96')};
    --colorNeutralCardBackgroundSelected: #{map.get($grey, '92')};
    --colorNeutralCardBackgroundDisabled: #{map.get($grey, '94')};
    --colorNeutralStrokeAccessible: #{map.get($grey, '38')};
    --colorNeutralStrokeAccessibleHover: #{map.get($grey, '34')};
    --colorNeutralStrokeAccessiblePressed: #{map.get($grey, '30')};
    --colorNeutralStrokeAccessibleSelected: #{map.get($brand, 80)};
    --colorNeutralStroke1: #{map.get($grey, '82')};
    --colorNeutralStroke1Hover: #{map.get($grey, '78')};
    --colorNeutralStroke1Pressed: #{map.get($grey, '70')};
    --colorNeutralStroke1Selected: #{map.get($grey, '74')};
    --colorNeutralStroke2: #{map.get($grey, '88')};
    --colorNeutralStroke3: #{map.get($grey, '94')};
    --colorNeutralStrokeSubtle: #{map.get($grey, '88')};
    --colorNeutralStrokeOnBrand: #{$white};
    --colorNeutralStrokeOnBrand2: #{$white};
    --colorNeutralStrokeOnBrand2Hover: #{$white};
    --colorNeutralStrokeOnBrand2Pressed: #{$white};
    --colorNeutralStrokeOnBrand2Selected: #{$white};
    --colorBrandStroke1: #{map.get($brand, 80)};
    --colorBrandStroke2: #{map.get($brand, 140)};
    --colorBrandStroke2Hover: #{map.get($brand, 120)};
    --colorBrandStroke2Pressed: #{map.get($brand, 80)};
    --colorBrandStroke2Contrast: #{map.get($brand, 140)};
    --colorCompoundBrandStroke: #{map.get($brand, 80)};
    --colorCompoundBrandStrokeHover: #{map.get($brand, 70)};
    --colorCompoundBrandStrokePressed: #{map.get($brand, 60)};
    --colorNeutralStrokeDisabled: #{map.get($grey, '88')};
    --colorNeutralStrokeInvertedDisabled: #{map.get($whiteAlpha, '40')};
    --colorTransparentStroke: 'transparent';
    --colorTransparentStrokeInteractive: 'transparent';
    --colorTransparentStrokeDisabled: 'transparent';
    --colorNeutralStrokeAlpha: #{map.get($blackAlpha, 5)};
    --colorNeutralStrokeAlpha2: #{map.get($whiteAlpha, 20)};
    --colorStrokeFocus1: #{$white};
    --colorStrokeFocus2: #{$black};
    --colorNeutralShadowAmbient: 'rgba(0,0,0,0.12)';
    --colorNeutralShadowKey: 'rgba(0,0,0,0.14)';
    --colorNeutralShadowAmbientLighter: 'rgba(0,0,0,0.06)';
    --colorNeutralShadowKeyLighter: 'rgba(0,0,0,0.07)';
    --colorNeutralShadowAmbientDarker: 'rgba(0,0,0,0.20)';
    --colorNeutralShadowKeyDarker: 'rgba(0,0,0,0.24)';
    --colorBrandShadowAmbient: 'rgba(0,0,0,0.30)';
    --colorBrandShadowKey: 'rgba(0,0,0,0.25)';
}